﻿body {
   /* font-family:'Roboto', sans-serif;*/
}

body:after {
  content: "Simulacro 3\A PREPET"; 
  font-size: 10vw;  
  color: rgba(111, 186, 216, 0.40);
  z-index: 9999;
  white-space:pre;
  text-align:center;
  opacity:0.5;
 
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
    
  -webkit-pointer-events: none;
  -moz-pointer-events: none;
  -ms-pointer-events: none;
  -o-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;

  -ms-transform: rotate(-40deg); /* IE 9 */
  -webkit-transform: rotate(-40deg); /* Safari 3-8 */
  transform: rotate(-40deg);
}


.title-center-text {
    height: 10px;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
}
 

.title{
    font-family:'Roboto', sans-serif;
    font-weight: bold;
    font-size: 27px;
    margin-bottom: 0px;
    line-height: 1;
}
.subtitle{
    font-family:'Roboto', sans-serif;
    font-size: 22px;
    margin-bottom: 0px;
    line-height: 1;
}

 .sombraclara{   
    background-color:transparent;
   -moz-box-shadow: 0px 0px 30px #a7a7a7; 
   -webkit-box-shadow: 0px 0px 30px #a7a7a7; 
    box-shadow: 0px 0px 30px #a7a7a7;
}

 .white-space-pre-line {
    white-space: pre-line;
}

@media only screen and (min-width : 320px) 
{
        .title{       
           font-size: 17px;      
            }
        .subtitle{
            font-size: 15px;       
         }     
        
   
   .barra1 {
        color:#8c034d;
        font-weight:bold;
        font-size:20px;
    }
   .barra2 {
         color:#d9388f;
        font-weight:bold;
        font-size:20px;
    }
    .barra3 {
         color:#e664fa;
        font-weight:bold;
        font-size:20px;
    }
    .texto-4 {
        font-weight:bold;
        font-size:20px;
    }     
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
          .title{       
           font-size: 19px;      
            }
        .subtitle{
            font-size: 16px;       
         }
   .barra1 {
        color:#8c034d;
        font-weight:bold;
        font-size:25px;
    }
   .barra2 {
         color:#d9388f;
        font-weight:bold;
        font-size:25px;
    }
    .barra3 {
         color:#e664fa;
        font-weight:bold;
        font-size:25px;
    }
    .texto-4 {
        font-weight:bold;
        font-size:25px;
    }
     .texto-graf1 {
        color:#8c034d;
        font-weight:bold;
        font-size:20px;
        
    }    
    }
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
     .title{       
        font-size: 21px;      
    }
    .subtitle{
        font-size: 18px;       
    }
    .barra1 {
        color:#8c034d;
        font-weight:bold;
        font-size:30px;
    }
    .barra2 {
         color:#d9388f;
        font-weight:bold;
        font-size:30px;
    }
    .barra3 {
         color:#e664fa;
        font-weight:bold;
        font-size:30px;
    }

    
    .texto-4 {
        font-weight:bold;
        font-size:25px;
    }
     .texto-graf1 {
        color:#8c034d;
        font-weight:bold;
        font-size:20px;
        
    }
}
/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .title{       
        font-size: 24px;      
    }
    .subtitle{
        font-size: 20px;       
    }
    .barra1 {
        color:#8c034d;
        font-weight:bold;
        font-size:36px;
    }
    .barra2 {
         color:#d9388f;
        font-weight:bold;
        font-size:36px;
    }
    .barra3 {
         color:#e664fa;
        font-weight:bold;
        font-size:36px;
    }

   
    .texto-4 {
        font-weight:bold;
        font-size:36px;
    }
     .texto-graf1 {
        color:#8c034d;
        font-weight:bold;
        font-size:20px;
        
    }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
     .title{       
        font-size: 27px;        
    }
    .subtitle{      
        font-size: 22px;       
    }
    .barra1 {
        color:#8c034d;
        font-weight:bold;
        font-size:36px;
    }
    .barra2 {
         color:#d9388f;
        font-weight:bold;
        font-size:36px;
    }
    .barra3 {
         color:#e664fa;
        font-weight:bold;
        font-size:36px;
    }

    .texto-4 {
        font-weight:bold;
        font-size:36px;
    }
     .texto-graf1 {
        color:#8c034d;
        font-weight:bold;
        font-size:20px;
        
    }
}

@media (max-width: 1026px) and (min-width:1000px){ 
    
     .texto-graf1 {
        color:#8c034d;
        font-weight:bold;
        font-size:15px;
        
    }
}


.titulo_prin_pink{ 
font-family:Georgia,'Times New Roman';
font-size : 27px; 
font-family : verdana,arial; 
color: deeppink;
} 
.titulo_prin_obs{ 
font-family:Georgia,'Times New Roman';
font-size : 27px; 
font-family : verdana,arial; 
color: #52285B;
} 
.subTitulo{
    font-family:Georgia,'Times New Roman';
    font-size : 22px; 
    font-family : verdana,arial; 
    color: #52285B;
}

.textoNormal{
    font-family:Georgia,'Times New Roman';
    font-family : verdana,arial; 
    font-size:12px;
    color: #52285B;
}

.textoNormal2{
    font-family:Georgia,'Times New Roman';
    font-family : verdana,arial; 
    font-size:14px;
    color: #52285B;
}

.textoNormal3{
    font-family:Georgia,'Times New Roman';
    font-family : verdana,arial; 
    font-size:16px;
    color: #52285B;
}
.textoNormal4{
    font-family:Georgia,'Times New Roman';
    font-family : verdana,arial; 
    font-size:22px;
    color: #52285B;
}

.encabezadoColumna{
    font-family:Georgia,'Times New Roman';
    font-size : 15px; 
    font-family : verdana,arial; 
    align-content:center;
    color: #52285B;
}

.renglonSombra{    
    padding:6px 10px;        
    font-weight:bold;    
    border-bottom:5px solid #444;
    background-color:#FF1493; 
    border-bottom:1px solid #444;
    background:-webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.39, rgb(255,153,204)),
        color-stop(0.7, rgb(255,204,229))
        );
    background:-moz-linear-gradient(
        center bottom,
        rgb(189,189,189) 39%,
        rgb(224,224,224) 70%
        );
    text-shadow:1px 1px 1px #fff;
}


@media (max-width:600px) and (min-width:401px) {
       .titulo_prin_pink{       
           font-size: 16px;      
            }
       .titulo_prin_obs{
            font-size: 16px;       
        }
        .subTitulo{
            font-size: 12px;       
         }
        .textoNormal4{
             font-size:18px;
        }
        
}
/*Para mobil*/
@media (max-width:500px) and (min-width:100px) {
        .titulo_prin_pink{       
           font-size: 12px;      
        }
        .titulo_prin_obs{
                 font-size: 12px;       
        }
        .subTitulo{
            font-size: 10px;       
         }
        .encabezadoColumna{
            font-size: 10px;
        }
        .textoNormal{
            font-size: 10px;
        }
        .textoNormal2{
            font-size: 10px;
        }
    .textoNormal4 {
        font-size: 16px;
    }
      .barra1 {
        color:#8c034d;
        font-weight:bold;
        font-size:20px;
    }
    .barra2 {
         color:#d9388f;
        font-weight:bold;
        font-size:20px;
    }
    .barra3 {
         color:#e664fa;
        font-weight:bold;
        font-size:20px;
    }
    .texto-4 {
        font-weight:bold;
        font-size:20px;
    }
    .texto-graf1 {
        color:#8c034d;
        font-weight:bold;
        font-size:10px;
        
    }
}




.titulo_prin_pink_movil{ 
font-family:Georgia,'Times New Roman';
font-size : 12px; 
font-family : verdana,arial; 
color: deeppink;
} 
.titulo_prin_obs_movil{ 
font-family:Georgia,'Times New Roman';
font-size : 12px; 
font-family : verdana,arial; 
color: #52285B;
} 
.subTitulo_movil{
    font-family:Georgia,'Times New Roman';
    font-size : 10px; 
    font-family : verdana,arial; 
    color: #52285B;
}



/********************/
.animate-show-hide.ng-hide {
  opacity: 0;
}

.animate-show-hide.ng-hide-add,
.animate-show-hide.ng-hide-remove {
  transition: all linear 0.5s;
}

.ajusteTabla{
    overflow-x:hidden;
    /*white-space: pre-line;*/
}


/**************Estilos graficas**************************/
   

    .texto-graf2 {
        color:#8c034d;
        font-weight:bold;
        font-size:40px;
     
    }
    
     .texto-graf1 {
        color:#8c034d;
        font-weight:bold;        
    }   
    .subtitle{
        font-size: 20px;       
    }

    

    .texto-2 {
        background-color:#e8e8e8;
    }
    /*.texto-4 {
        font-weight:bold;
        font-size:36px;
    }*/
    .fondo {
        background-color:#fbf3f3;
        font-size:1em;
        
    }
    .lista {
           display:none;
        }   
    
    /*Para la tabla grafica*/
    .lineagrafica{
	    margin-top: 0;
        position: absolute;
        border-top: 1px solid #E2E2E2;
	    margin-bottom: 0;   
        width: 100%;
    }
    .linea-100p{
        top: 0%;
    }
    .linea-75p{
        top: 25%;
    }
    .linea-50p{
        top: 50%;
    }
    .linea-25p{
        top: 75%;
    }
    .linea-0p{
        top: 100%;
    }


    .td-relative {
        position: relative;
        padding: 0 !important;
    }
    .linea-inicio{
        left: 50%;
        text-align: left;

    }
   
    .etiqueta-vertical{
            position: absolute;
            -ms-transform: rotate(-90deg); /* IE 9 */
            -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
            transform: rotate(-90deg);
            top: 50%;
            right:60%;
            font-weight:bold
    }

    .ChartTableBar{
        height: 200px;
        /*background: red;*/
        background: rgba(203,96,179,1);
        background: -moz-linear-gradient(left, rgba(203,96,179,1) 0%, rgba(168,0,119,1) 51%, rgba(219,54,164,1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(203,96,179,1)), color-stop(51%, rgba(168,0,119,1)), color-stop(100%, rgba(219,54,164,1)));
        background: -webkit-linear-gradient(left, rgba(203,96,179,1) 0%, rgba(168,0,119,1) 51%, rgba(219,54,164,1) 100%);
        background: -o-linear-gradient(left, rgba(203,96,179,1) 0%, rgba(168,0,119,1) 51%, rgba(219,54,164,1) 100%);
        background: linear-gradient(to right, rgba(203,96,179,1) 0%, rgba(168,0,119,1) 51%, rgba(219,54,164,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb60b3', endColorstr='#db36a4', GradientType=1 );
        cursor: pointer;
        width: 40px;
        margin: 0 auto;
        border-radius:50%;
    }
    .ChartTableBar:hover{
        background: #D3007E;
    }
     /*Rellena el fondo de la grafica de barra*/
    .relleno{
        /*background: rgba(252,236,252,1);*/
        background:#FAFAFA;
    }
    .barra{
        background: #fff;
        background-color:#FAFAFA!important;/*Fondo de la barra*/
        width: 100%; 
    }

    .votoscart{
        margin-top:-3px;
        margin-bottom:-3px;
        font-weight:bold
    }
    @media (max-width: 991px) { 
         .votoscart{
        margin-top:-3px;
        margin-bottom:-3px;
        font-weight:bold;
        font-size:18px;
        }
    }


    .border {
        border-bottom:solid;
        border-bottom-color:#ef34f7;
    }
   
    /*Estilo de las tarjetas*/
    .tarjeta {
        position: relative;
        width: 100%;
        border-style:solid;
        border-width:1px;
        border-color:#e8e6e6;
        margin-bottom:10px;
    }

    .image{
        border-radius:50%!important;
        display: block;
        width: 70%;
        height: auto;   
        margin:10px!important; 
        margin-left:15%!important;  
    }
    .foot {
        border-top:solid;
        border-width:1px;
        border-color:#e8e6e6;
        margin-top:5px;
        width: 100%;
        min-height:25px;
        text-align:center;
    }
    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: #a7a7a7;
    }

    .tarjeta:hover .overlay {
        opacity: 1;
    }

    .overlay-body {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
    }    

     th {
	color             : #000000;
	background-color  : #ffffff;
	vertical-align  : middle;
	border-right    : 1px solid #FFFFFF;
	border-bottom       : 1px solid #727c7b!important;
	border-right        : 1px dashed #B2AFAF;
	font-weight       : 300;
    height:45px;
}
        /* For appearance */
        .sticky-wrap {
            overflow-x: auto;
            overflow-y: hidden;
            position: relative;
            /*margin            : 3em 0;*/
            width: 100%;
        }

            .sticky-wrap .sticky-thead,
            .sticky-wrap .sticky-col,
            .sticky-wrap .sticky-intersect {
                opacity: 0;
                position: absolute;
                top: 0;
                left: 0;
                transition: all .125s ease-in-out;
                z-index: 50;
                width: auto; /* Prevent table from stretching to full size */
            }

            .sticky-wrap .sticky-thead {
                box-shadow: 0 0.25em 0.1em -0.1em rgba(0,0,0,.125);
                z-index: 100;
                width: 100%; /* Force stretch */
            }

            .sticky-wrap .sticky-intersect {
                opacity: 1;
                z-index: 150;
            }

                .sticky-wrap .sticky-intersect th {
                    background-color: #666;
                    color: #eee;
                }

            .sticky-wrap td,
            .sticky-wrap th {
                box-sizing: border-box;
            }

        /* Not needed for sticky header/column functionality */
        td.user-name {
            text-transform: capitalize;
        }

        .sticky-wrap.overflow-y {
            overflow-y: auto;
            max-height: 50vh;
        }

        .sticky-thead th {
            padding-left: 0px;
            /*margin-left: 10px;*/
        }

        .sticky-thead img {
            height: 46px;
        }

 /*Linea para la barra de progreso*/
 .bar-step {
        position: absolute;
        margin-top: 30px;
        z-index: 1;
        font-size: 12px;
    }

    .label-line {
        float: right;
        background: #000;
        height: 30px; /*50*/
        width: 2px;
        margin-left: 5px;
    }
    .circle {
      display: inline-block;
      vertical-align: middle;
      width: 10px;
      height: 10px;
      background-color: white;
      border: solid 1px black;
      border-radius: 50%;
      position: absolute;      
      left: calc(50% - 2px);
    }
    .circle-top {
        border-radius: 50%!important;
        top: -6px;
    }

    .circle-bottom {
        border-radius: 50%!important;
        top: 20px;
    }
    .circle-black {
        background-color: black!important;
    }
     .circle-white {
        background-color: white!important;
    }

     /*Estilo para todos los tooltip*/
      [data-hint]:after {
	  /*font-weight:bold;*/
      white-space:pre-line;
       border-radius: 6px;
       /*background-color:forestgreen;*/
    }

   /**/
.padding-sombra {
    padding-right:7px!important;
    padding-left:7px!important;
}

.selected td {
        background: none repeat scroll 0 0 #e3e5e8;
    }

 .tdbg {
        background-image:url('../../../assets/img/rayas.png') !important;
        color:black;
    }

 /*******Doble Scroll*******/
 .wrapper1, .wrapper2 { width: 100%; overflow-x: scroll; overflow-y: hidden; }
.wrapper1 { height: 20px; }
.wrapper2 {}
.div1 { height: 20px; }
.div2 { overflow:none; }


/********Tabla responsiva*****/
.navbar {
  height: 50px;
  padding: 0 15px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}

.navbar a {
  color: white;
  line-height: 3em;
}

.table-area {
  position: relative;
  z-index: 0;
  margin-top: 50px;
}

table.responsive_nueva-table {
  display: table;
  /* required for table-layout to be used (not normally necessary; included for completeness) */
  table-layout: fixed;
  /* this keeps your columns with fixed with exactly the right width */
  width: 100%;
  /* table must have width set for fixed layout to work as expected */
  height: 100%;
}

table.responsive_nueva-table thead {
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  width: 100%;
  height: 50px;
  line-height: 3em;
  background: #eee;
  table-layout: fixed;
  display: table;
}

table.responsive_nueva-table th {
  background: #eee;
}

table.responsive_nueva-table td {
  line-height: 2em;
}

table.responsive_nueva-table tr > td,
table.responsive_nueva-table th {
  text-align: left;
}