﻿<!--Fin de tabla
      *******************************************************************
      ***********FIn de Tabla Estructura para vista menor a 600 px********************
      *******************************************************************-->
<!--Inicio tabla en forma de vista 1 radio buton opcion 1 -->
<div>
    <br />
    <div class="portlet-body" ng-if="ctrl.radioSelected==1">
        <label class="titulo_prin_obs visible-lg visible-md visible-sm" style="font-weight:bold">
            <span ng-if="ctrl.tituloTabla != undefined">{{ctrl.tituloTabla}}</span>
            <span ng-if="ctrl.tituloTabla == null">Distribución de votos por Candidatura a nivel Entidad</span>        
        </label>

        <div class="mt-list-head list-simple font-white bg-green-haze visible-xs">
            <div class="row" style="margin-left:5px">
                <div class="col-xs-12">
                    <div class="list-head-title-container">
                        <h4 style="font-size:4vw">
                            <span ng-if="ctrl.tituloTabla != undefined">{{ctrl.tituloTabla}}</span>
                            <span ng-if="ctrl.tituloTabla == null">Distribución de votos por Candidatura a nivel Entidad</span> 
                        </h4>
                    </div>
                </div>
            </div>
        </div>  
    </div>
    <div class="portlet-body " ng-if="ctrl.radioSelected==1">
        <div class="well well-lg ">
            <div class="visible-lg visible-md visible-sm-inline-block visible-xs textoNormal2" >            
                    La tabla muestra el desglose de votos que cada candidatura presenta en 
                <span ng-if="ctrl.tipoSectorEleccion==null">la Entidad,</span>
                <span ng-if="ctrl.tipoSectorEleccion!=undefined">{{ctrl.tipoSectorEleccion}},</span>
                 indicando los votos recibidos de manera individual y, en su caso, los votos recibidos vía coalición.
            </div>
            <div class="visible-lg visible-md visible-sm-inline-block visible-xs textoNormal2">
                <a ui-sref="ayuda_prepet({id:5,av:3})" target="_blank">
                    Conoce cómo se suman los votos para Candidaturas de Coalición de acuerdo a la legislación vigente.
                </a>
            </div>
        </div>
    </div>
    <div class="portlet box yellow visible-lg visible-md visible-sm-inline-block" ng-if="ctrl.radioSelected==1">
        <div class="portlet-body" style="border: groove; ">            
                <table class="table table-striped  ">
                    <thead>
                        <tr>
                            <th class="text-center"><label class="encabezadoColumna"><strong> Candidaturas </strong></label> </th>
                            <th class="text-center"><label class="encabezadoColumna"><strong> Distribución de votos por candidatura</strong> </label></th>
                            <th class="text-center"><label class="encabezadoColumna"><strong> Total de votos por candidatura</strong></label></th>
                        </tr>
                    </thead>
                    <tbody >
                        <tr class="text-center"  ng-repeat="candidatos in ctrl.objVotosCandidatura"  ng-if="candidatos.candidato!='' "> <!--El campo debe venir vacio -->
                            <td ng-if="candidatos.logoPartido!=''">                               
                                <strong >
                                    <label class="titulo_prin_obs_movil">{{candidatos.candidato}}</label>                                                                     
                                </strong>
                            </td>
                            <td ng-if="candidatos.logoPartido!=''">                                
                                <table>
                                    <tr>
                                        <td ng-repeat="partidos in candidatos.partido" style="text-align:center">
                                            <label class="titulo_prin_obs_movil">
                                                <strong >
                                                    <span style="margin-left:20px" ng-if="$middle"> &nbsp;</span> 
                                                    <span ng-if="candidatos.partido.length>1">
                                                        <span style="margin-left:20px" ng-if="$last"> &nbsp;</span>
                                                    </span>
                                                        {{partidos.votos|number}}
                                                </strong>
                                            </label>                                        
                                          
                                        </td>
                                    </tr>                                    
                                    <tr>
                                        <td ng-repeat="partidos in candidatos.partido">
                                            <table >                                                
                                                <tr ng-if="(partidos.NombrePartido!='')" style="align-content:center">
                                                    <td> <span ng-if="$middle"  style="margin-left:10px"><i class="fa fa-plus-circle"></i> </span> </td>
                                                    <td>
                                                        <span ng-if="candidatos.partido.length>1">
                                                            <span ng-if="$last"  style="margin-left:10px"><i class="fa fa-plus-circle"></i></span>
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <span style="margin-left:10px"> <img ng-src="assets/img/partidos/240/{{partidos.NombrePartido}}" alt="Partido" height="30" /> </span>
                                                    </td>                                                    
                                                </tr>
                                            </table>
                                         </td>
                                    </tr>
                                </table>                                                     

                            </td>
                            <td ng-if="candidatos.logoPartido!=''" colspan="2" class="center-align titulo_prin_obs_movil">
                                <strong> {{candidatos.total|number}} </strong>
                            </td>
                        </tr>
                    </tbody>
                </table>           
        </div>
    </div>
    <div class="portlet-body" ng-if="ctrl.radioSelected==2">
        <label class="titulo_prin_obs visible-lg visible-md visible-sm" style="font-weight:bold">
            <span ng-if="ctrl.tituloVotacionPartidoTabla != undefined">{{ctrl.tituloVotacionPartidoTabla}}</span>
            <span ng-if="ctrl.tituloVotacionPartidoTabla == null">Distribución de votos por Partido Político y Candidaturas Independientes a nivel Entidad</span>
        </label>

        <div class="mt-list-head list-simple font-white bg-green-haze visible-xs">
            <div class="row" style="margin-left:5px">
                <div class="col-xs-12">
                    <div class="list-head-title-container">
                        <h4 style="font-size:4vw">
                            <span ng-if="ctrl.tituloVotacionPartidoTabla != undefined">{{ctrl.tituloVotacionPartidoTabla}}</span>
                            <span ng-if="ctrl.tituloVotacionPartidoTabla == null">Distribución de votos por Partido Político y Candidaturas Independientes a nivel Entidad</span>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portlet-body " ng-if="ctrl.radioSelected==2">
        <div class="well well-lg ">
            <div class="visible-lg visible-md visible-sm-inline-block visible-xs textoNormal2" >
                La tabla muestra el desglose de votos que cada Partido Político presenta en
                <span ng-if="ctrl.tipoSectorEleccion==null"> la Entidad, </span>
                <span ng-if="ctrl.tipoSectorEleccion!=undefined">{{ctrl.tipoSectorEleccion}}, </span>
                 indicando los votos recibidos de manera individual y, en su caso, los votos recibidos vía coalición.
            </div>
            <div class="visible-lg visible-md visible-sm-inline-block visible-xs textoNormal2">
                <a ui-sref="ayuda_prepet({id:5,av:3})" target="_blank">
                    Conoce cómo se suman los votos para Candidaturas de Coalición de acuerdo a la legislación vigente.
                </a>
            </div>
        </div>
    </div>   


    <div class="portlet box yellow" ng-if="ctrl.radioSelected==2">
        <div class="portlet-body">
            
                <table class="table table-striped  " style="text-align:center;">
                    <thead>
                        <tr>
                            <th  class="text-center"><label class="encabezadoColumna"> <strong>Partidos <br /> Políticos </strong> </label>  </th>
                            <th  class="text-center"><label class="encabezadoColumna"><strong>Votos emitidos <br /> para el partido </strong> </label> </th>
                            <th  class="text-center"><label class="encabezadoColumna"><strong>Votos obtenidos <br /> vía coalición </strong></label> </th>
                            <th  class="text-center"><label class="encabezadoColumna"><strong>Total <br /> de votos </strong></label> </th>
                        </tr>
                    </thead>
                    <tbody >
                        <tr ng-repeat="votoPartido in ctrl.objVotosPartido"  ng-if="votoPartido.Logo!=''" >
                            <td>
                                <span ng-if="(votoPartido.Logo!='')">
                                    <img ng-src="assets/img/partidos/{{votoPartido.Logo}}" alt="Partido" width="30" height="30" />
                                </span>
                                <span ng-if="votoPartido.Logo==''">
                                    <strong>{{votoPartido.Nombre}}</strong>
                                </span>                                
                            </td>
                            <td> {{votoPartido.Partido|number}} </td>
                            <td> {{votoPartido.Coalicion|number}} </td>
                            <td> {{votoPartido.Total|number}} </td>
                        </tr>
                    </tbody>
                </table>            
        </div>


    </div>
    <!--Fin de tabla-->
    <!--<div class="row ng-scope visible-lg visible-md visible-sm-inline-block " style="margin-bottom:5px">
        <div class="col-md-12" style="margin-top:-10px">            
            <a href="#" class="btn btn-default btn-circle pull-right font-dark" style="margin-right:5px" ng-click="consultaDistritos()"  
               type="button">Ver detalle por Distritos</a>
        </div>
    </div>-->
</div>

<!--<script type="text/javascript">
    var cambio = false;
    function resizeFixed()
    {
        if ($('.page-header-top').height() == 53)
        {
            if (!cambio) {
                $("html:not(.legacy) table").stickyTableHeaders({ fixedOffset: $('.page-header-top').height() });
                cambio = true;
            }
        }
        if (cambio)
        {
            if ($('.page-header-top').height() == 75)
            {
                $("html:not(.legacy) table").stickyTableHeaders({ fixedOffset: $('.page-header-top').height() });
                cambio = false;
            }
        }
    }
    $(window).resize(resizeFixed);

    var offset = $('.page-header-top').height();
    $("html:not(.legacy) table").stickyTableHeaders({ fixedOffset: offset });
</script>-->