﻿<div class="visible-xs text-center" ng-if="ctrl.radioSelected==1">
        <table class="table table-striped ">
                <tr>
                    <th class="text-center th-inner">
                        <label class="titulo_prin_obs_movil"> Candidaturas </label>
                    </th>
                    <th class="text-center  th-inner">
                        <label class="titulo_prin_obs_movil">
                            Desglose de votos <br />
                            por candidatura
                        </label>
                    </th>
                </tr>
            <tbody ng-repeat="candidatos in ctrl.objVotosCandidatura">
                <tr class="text-center">
                    <td >       
                          <label class="titulo_prin_obs_movil">{{candidatos.candidato}}</label>
                    </td>
                    <td>
                            <table >
                                <tr ng-repeat="partidos in candidatos.partido">
                                    <td class="center-align">                                        
                                        <label class="titulo_prin_obs_movil"><strong> {{partidos.votos|number}}  </strong></label>
                                        <br />
                                        <span ng-if="(partidos.NombrePartido!='')">                                            
                                            <span ng-if="$middle"><i class="fa fa-plus-circle"></i></span>                                            
                                            <img ng-src="assets/img/partidos/{{partidos.NombrePartido}}" alt="Partido" width="30" height="30" />
                                            <span ng-if="candidatos.partido.length==2">
                                                <br/> <br/>
                                                <span ng-if="$first"><i class="fa fa-plus-circle"></i></span>
                                            </span>
                                            <span ng-if="$middle"><i class="fa fa-plus-circle"></i></span>
                                        </span>
                                        <span ng-if="partidos.NombrePartido==''">
                                            <label class="subTitulo_movil"><strong>{{partidos.Otros}}</strong></label>
                                        </span>
                                        <br />
                                        <br />                                        
                                    </td>
                                </tr>
                            </table>
                            
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="center-align titulo_prin_obs_movil">
                        Total de votos por candidatura=<strong> {{candidatos.total|number}} </strong>
                    </td>
                </tr>
            </tbody>
        </table>
   
    <!--<div class="row ng-scope visible-xs" style="margin-bottom:5px">
        <div class="col-md-12" style="margin-top:-10px">
            <a href="#" class="btn btn-default btn-circle pull-right font-dark" style="margin-right:5px" ng-click="consultaDistritos()"
               type="button">Ver detalle por Distritos</a>
        </div>
    </div>-->
</div>