﻿<div class="visible-xs-block"> 
     
    <div class="mt-list-head list-simple font-white bg-green-haze">
        <div class="row" style="margin-left:5px">
            <div class="col-xs-12">
                <div class="list-head-title-container">
                    <h4 style="font-size:4vw">Total de votos del {{ctrl.ventana}} :<strong> {{ctrl.SeccionSeleccionado.TotalVotos}} </strong></h4>
                </div>
            </div>
        </div>
    </div>   
    <div class="portlet light bordered">
        <table class="table table-striped table-condensed table-hover">
            <tbody>
                <tr style="height:25px" ng-repeat="item in ctrl.SeccionSeleccionado.Partidos">
                    <td height="50" class="text-center"> 
                        <span ng-if="(item.NombrePartido!='')">
                            <img ng-src="assets/img/partidos/{{item.NombrePartido}}" alt="Partido" width="30" height="30" />
                        </span>
                        <span ng-if="item.NombrePartido==''">
                            <label class="subTitulo_movil"><strong>Valor Vacio</strong></label>
                        </span>
                    </td>
                    <td height="50" class="text-center">{{item.votos}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-sm-12 col-xs-12">
            <div class="mt-list-head list-simple font-white bg-green-haze">
                <div class="row" style="margin-left:5px">
                    <div class="col-xs-12">
                        <div class="list-head-title-container">
                            <h4 style="font-size:4vw;margin-left:10px"> Estadística :<strong> {{ctrl.SeccionSeleccionado.Nombre}}</strong></h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-condensed table-hover">
                    <thead>
                        <tr>
                            <td width="50%" class="text-center"><strong>Participación ciudadana</strong></td>
                            <td width="50%" class="text-center"><strong>Lista nominal</strong></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-left">{{ctrl.item_acta.Participacion_Ciudadana}}</td>
                            <td class="text-left">{{ctrl.item_acta.TotalListaNominal}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>    
</div>