﻿

<!--<div class="row visible-lg visible-md visible-sm">
    <div class="col-lg-7 col-md-7 col-sm-12">
        <label class="titulo_prin_obs"> <strong>{{ctrl.titulo_actas}}</strong> <i class="fa fa-question-circle"></i></label>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-12">
        <label class="titulo_prin_obs"><strong>Participacion ciudadana respecto a las Actas contabilizadas <i class="fa fa-question-circle"></i></strong></label>

    </div>
</div>-->
<br class="visible-lg visible-md visible-sm"/>

<div class="row">
    <div class="col-lg-7 col-md-7 col-sm-12">
         <div class="portlet-body table-responsive visible-lg visible-md visible-sm">
             <div id="div2" class="visible-lg visible-md visible-sm">                 
                 <a ui-sref="ayuda_prepet({id:3})">
                     <label class="titulo_prin_obs" style="cursor: pointer"> <strong>{{ctrl.titulo_actas}}</strong> <i class="fa fa-question-circle"></i></label>                     
                 </a> 
                 <span ng-if="ctrl.modulo=='1D'">  <br /><br /> <br /></span>
             </div>                          
            <table class="table table-bordered table-striped table-condensed table-hover">
                <thead>
                    <!--<tr>
                        <th colspan="4">
                            <a ui-sref="ayuda_prepet({id:3})">
                                <label class="titulo_prin_obs" style="cursor: pointer"> <strong>{{ctrl.titulo_actas}}</strong> <i class="fa fa-question-circle"></i></label>
                            </a> 
                        </th>
                        <th colspan="2">
                            <a ui-sref="ayuda_prepet({id:3})">
                            <label class="titulo_prin_obs" style="cursor: pointer"><strong>Participación ciudadana respecto a las Actas contabilizadas <i class="fa fa-question-circle"></i></strong></label>
                            </a>
                        </th>
                    </tr>-->
                    <tr>
                        <th><strong>Actas</strong></th>
                        <th><strong>Esperadas</strong></th>
                        <th><strong>Capturadas</strong></th>
                        <th><strong>Contabilizadas</strong></th>
                        <!--<th width="25%"><strong>Participación ciudadana</strong></th>
                        <th width="12%"><strong>Total de la Lista nominal</strong></th>-->
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in ctrl.ActasDistritos" ng-class="{'border':($index==1)}">
                        <td>
                            <a href="#" ng-if="ctrl.modulo=='1D'&&$index>1" ui-sref="seccion_distrito({pIdDistrito:{{item.id}}})" style="text-decoration: underline;color:black">{{item.Nombre}}</a>
                            <a href="#" ng-if="ctrl.modulo=='1S'&&$index>1" ui-sref="seccion_casilla({pIdSeccion:{{item.id}},modulo:ctrl.modulo,pIdDistrito:{{ctrl.pIdDistrito}}})" style="text-decoration: underline;color:black">{{item.Nombre}}</a>
                            <!--Navegación para diputaciones-->
                            <a href="#" ng-if="(ctrl.modulo=='2D'&&$index>1)" ui-sref="dip_seccion_distrito({pIdDistrito:{{item.id}}})" style="text-decoration: underline;color:black">{{item.Actas}}</a>
                            <a href="#" ng-if="(ctrl.modulo=='2S'||ctrl.modulo=='3S')&&$index>1" ui-sref="seccion_casilla({pIdSeccion:{{item.id}},modulo:ctrl.modulo,pIdDistrito:1})" style="text-decoration: underline;color:black">{{item.Nombre}}</a>

                            <a href="#" ng-if="ctrl.modulo=='2DE'&&$index>1" ui-sref="dip_detalle_distrito({pIdDistrito:{{item.id}}})" style="text-decoration: underline;color:black">{{item.Nombre}}</a>
                            <a href="#" ng-if="ctrl.modulo=='3HM'&&$index>1" ui-sref="ayuntamiento_detalle({pIDMunicipio:{{item.id}}})" style="text-decoration: underline;color:black">{{item.Nombre}}</a>


                            <span ng-if="$index<2">                            
                                <span ng-if="$index==1">
                                    <p  style="font-size:12px"></p>
                                    {{Nombre}}
                                </span>
                                {{item.Nombre}}
                            </span>
                        </td>
                        <td class="text-center">
                                <span ng-if="$index==1">
                                    <p style="font-size:12px"></p>
                                    {{item.Esperadas|number}}
                                </span>

                          <span ng-if="$index!=1">{{item.Esperadas|number}}</span> 
                          <span ng-if="$index==1 && item.Esperadas!=null">%</span>
                        </td>
                        <td class="text-center">
                            <span  ng-if="$index==1">
                                <p style="font-size:12px;"></p>
                                {{item.Capturadas|number:4}}
                            </span>
                            <span ng-if="$index!=1">{{item.Capturadas|number}}</span>
                            <span ng-if="$index==1 && item.Capturadas!=null">%</span>
                        </td>
                        <td class="text-center">
                            <span ng-if="$index==1">
                                <p style="font-size:12px"></p>
                                {{item.Contabilizadas|number:4}}
                            </span>
                            <span ng-if="$index!=1">{{item.Contabilizadas}}</span>
                            <span ng-if="$index==1 && item.Contabilizadas!=null">%</span>
                         </td>


                        <!--<td class="text-center" ng-if="$index!=1">
                            <div>
                                <span>{{item.Participacion_Ciudadana|number:4}}</span> <span ng-if="item.Participacion_Ciudadana!=null">%</span>
                            </div>
                        </td>

                        <td id="c0l2" class="text-center" ng-if="$index==1" colspan="2" style="color:#ef34f7">
                            <p style="margin: 0 1cm 0 1cm; text-indent: 1cm; color:black;font-size:12.5px">(Porcentaje calculado <span style="color:palevioletred" ng-if="!ctrl.ultimo_corte">sin considerar</span> <span style="color:palevioletred" ng-if="ctrl.ultimo_corte">considerando</span> la votación en casillas especiales.)</p>
                            <p style="margin: 0 1cm 0 1cm; text-indent: 1cm;font-size:14.5px">Total de votos/lista nominal de actas contabilizadas =%Participación</p>
                        </td>
                        <td class="text-center" ng-if="$index!=1">
                            <span>{{item.TotalListaNominal|number}}</span>
                        </td>-->


                    </tr>
                </tbody>
            </table>
        </div>
        <!--</div>-->
    </div>
    <div class="col-lg-5 col-md-5 col-sm-12">
         <div class="portlet-body visible-lg visible-md visible-sm">
             <div id="div1">
                 <a ui-sref="ayuda_prepet({id:3})">
                     <label class="titulo_prin_obs"  style="cursor: pointer"><strong>Participación ciudadana respecto a las Actas contabilizadas <i class="fa fa-question-circle"></i></strong></label>
                 </a>
            </div>
            <table id="myTable" class="table table-bordered table-striped table-condensed table-hover">
                <thead>
                    <tr>
                        <th class="visible-sm"><strong>Actas</strong></th>
                        <th><strong>Participación ciudadana</strong></th>
                        <th><strong>Total de la Lista nominal</strong></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in ctrl.ActasDistritos" ng-class="{'border':($index==1)}">
                        <td class="visible-sm">{{item.Nombre}}</td>
                        <td ng-if="$index!=1">
                            <div>
                                <span>{{item.Participacion_Ciudadana|number:4}}</span> <span ng-if="item.Participacion_Ciudadana!=null">%</span>
                            </div>
                        </td>
                        
                        <td id="c0l2" class="text-center" ng-if="$index==1" colspan="2" style="color:#ef34f7">
                                <p style="margin: 0 1cm 0 1cm; text-indent: 1cm; color:black;font-size:12.5px">(Porcentaje calculado <span style="color:palevioletred" ng-if="!ctrl.ultimo_corte">sin considerar</span> <span style="color:palevioletred" ng-if="ctrl.ultimo_corte">considerando</span> la votación en casillas especiales.)</p>
                                <p style="margin: 0 1cm 0 1cm; text-indent: 1cm;font-size:14.5px">Total de votos/lista nominal de actas contabilizadas =%Participación</p>
                        </td>
                        <td ng-if="$index!=1">
                        <span>{{item.TotalListaNominal|number}}</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--</div>-->
    </div>
</div>

<script type="text/javascript">
    var cambio = false;
    function resizeFixed()
    {
        if ($('.page-header-top').height() == 53)
        {
            if (!cambio) {
                $("html:not(.legacy) table").stickyTableHeaders({ fixedOffset: $('.page-header-top').height() });
                cambio = true;
            }
        }
        if (cambio)
        {
            if ($('.page-header-top').height() == 75)
            {
                $("html:not(.legacy) table").stickyTableHeaders({ fixedOffset: $('.page-header-top').height() });
                cambio = false;
            }
        }
        $("#div2").css({ 'height': $("#div1").height() });

       // console.log(document.getElementById("myTable").rows[3]);
       
    }
    $(window).resize(resizeFixed);

    var offset = $('.page-header-top').height();
    $("html:not(.legacy) table").stickyTableHeaders({ fixedOffset: offset });
    $("#div2").css({ 'height': $("#div1").height() });
    //alert(document.getElementById("myTable").rows[1].height);
</script>