﻿<br visible-lg visible-md visible-sm />
<div class="table-responsive visible-lg visible-md visible-sm">
    <label class="titulo_prin_obs"><strong>{{ctrl.titulo_detalle_votos}}</strong></label>
            <div> 
                <table class="table table-bordered table-striped table-condensed table-hover">
                    <thead >
                        <!--Primera fila-->
                        <tr style="background-color:#ebebeb;height:35px" ng-if="ctrl.detallevotos_primera_columna!=undefined||ctrl.detallevotos_primera_columna!=null">
                            <th colspan="{{ctrl.DetalleVotos.length>0?ctrl.DetalleVotos[0].Partidos.length+2:0}}"><strong>{{ctrl.detallevotos_primera_columna}}</strong></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="detalle in ctrl.DetalleVotos">
                            <td style="min-width:150px">
                                <!--Seccion: {{detalle.idSeccion}}
                                Modulo:{{ctrl.modulo}}-->
                                <!--Navegacion para gobernador-->
                                <a href="#" ng-if="ctrl.modulo=='1D'" ui-sref="seccion_distrito({pIdDistrito:{{detalle.id}}})" style="text-decoration: underline;color:black">{{detalle.Nombre}}</a>
                                <a href="#" ng-if="ctrl.modulo=='1S'" ui-sref="seccion_casilla({pIdSeccion:{{detalle.idSeccion}},modulo:ctrl.modulo})" style="text-decoration: underline;color:black">{{detalle.Nombre}}</a>
                                <!--Navegacion para diputacion-->
                                <a href="#" ng-if="ctrl.modulo=='2S'||ctrl.modulo=='3S'" ui-sref="
                                   ({pIdSeccion:{{detalle.id}},modulo:ctrl.modulo})" style="text-decoration: underline;color:black">{{detalle.Nombre}}</a>
                                <a href="#" ng-if="ctrl.modulo=='2DE'" ui-sref="dip_detalle_distrito({pIdDistrito:{{detalle.id}}})" style="text-decoration: underline;color:black">{{detalle.Nombre}}</a>
                                <a href="#" ng-if="ctrl.modulo=='3HM'" ui-sref="ayuntamiento_detalle({pIDMunicipio:{{detalle.id}}})" style="text-decoration: underline;color:black">{{detalle.Nombre}}</a>
                            </td>
                            <td style="min-width:100px" class="text-center" ng-repeat="item in detalle.Partidos">
                                {{item.votos|number}}
                            </td>
                            <td>{{detalle.TotalVotos|number}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>



        <script type="text/javascript">
            var cambio = false;
            function resizeFixed() {
                if ($('.page-header-top').height() == 53) {
                    if (!cambio) {
                        $("html:not(.legacy) table").stickyTableHeaders({ fixedOffset: $('.page-header-top').height() });
                        cambio = true;
                    }
                }
                if (cambio) {
                    if ($('.page-header-top').height() == 75) {
                        $("html:not(.legacy) table").stickyTableHeaders({ fixedOffset: $('.page-header-top').height() });
                        cambio = false;
                    }
                }
            }
            $(window).resize(resizeFixed);

            var offset = $('.page-header-top').height();
            $("html:not(.legacy) table").stickyTableHeaders({ fixedOffset: offset });
            //$("html:not(.legacy) table").stickyTableHeaders({ 'left': 1 });

        </script>
