﻿<div class="portlet-body ">
    <br/>
    <table class="table table-bordered table-striped table-condensed table-hover">
        <thead>
            <tr>
                <td><strong>Actas de Distrito</strong></td>
                <td><strong>Total</strong></td>
                <td><strong>Porcentaje</strong></td>
            </tr>
        </thead>
        <tbody >            
            <tr>
                <td>Esperadas</td>
                <td ng-repeat="item in ctrl.ActasDistritos" ng-class="{'border':($index==1)}">{{item.Esperadas|number}} <span ng-if="$index==1 && item.Esperadas!=null">%</span></td>
            </tr>
            <tr>
                <td>Capturadas</td>
                <td ng-repeat="item in ctrl.ActasDistritos" ng-class="{'border':($index==1)}">{{item.Capturadas|number}} <span ng-if="$index==1 && item.Capturadas!=null">%</span></td>
            </tr>
            <tr>
                <td>Contabilizadas</td>
                <td ng-repeat="item in ctrl.ActasDistritos" ng-class="{'border':($index==1)}">{{item.Contabilizadas|number}}<span ng-if="$index==1 && item.Contabilizadas!=null">%</span></td>
            </tr>
        </tbody>
    </table>
        <br/>
            <div >
                <label class="titulo_prin_obs" ><strong>Participacion ciudadana respecto a las Actas contabilizadas</strong></label>
            </div>
            <table class="table table-bordered table-striped table-condensed table-hover">
                <thead>
                    <tr>
                        <th class="visible-sm"><strong>Actas</strong></th>
                        <th><strong>Participación ciudadana</strong></th>
                        <th><strong>Total de la Lista nominal</strong></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in ctrl.ActasDistritos" ng-class="{'border':($index==1)}">
                        <td class="visible-sm">{{item.Nombre}}</td>
                        <td ng-if="$index!=1">
                            <div>
                                <span>{{item.Participacion_Ciudadana|number:4}}</span> <span ng-if="item.Participacion_Ciudadana!=null">%</span>
                            </div>
                        </td>                        
                        <td ng-if="$index!=1">
                            <span>{{item.TotalListaNominal|number}}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
 </div>
        


