﻿<!--*******************************************************************
      ***********Estructura para vista menor a 600 px********************
      ***********Tabla vista movil distritos obtenido********************
      ******************************************************************* -->
<div class="portlet-body  visible-xs text-center" >
         <!--ng-if="ctrl.radioSelected==1"-->    
        <table class="table table-striped  ">
                <tr>
                    <th class="text-center">
                        <label>
                            <span ng-if="ctrl.nombreColumna==undefined">
                                Distritos
                                <br />
                                {{ctrl.totalDistritos|number}} 
                            </span>
                            <span ng-if="ctrl.nombreColumna!=undefined">
                                Municipios
                            </span>
                        </label>
                    </th>
                    <th class="text-center titulo_prin_pink_movil">                       
                        Total de votos                       
                    </th>
                    <th class="text-center">   {{ctrl.TotalVotos}}    </th>
                </tr>
            
            <tbody ng-repeat="votaciones in ctrl.objVotosDistrito">
                <tr class="text-center">
                    <td>
                        <label class="titulo_prin_obs_movil" tr ng-if="ctrl.radioSelected==1">
                            {{votaciones.total_obtenidos}}
                            <br />
                            <span ng-if="ctrl.nombreColumna==null">
                                <label> Distritos</label>
                            </span>
                            <span ng-if="ctrl.nombreColumna!=null">{{ctrl.nombreColumna}}</span>
                             <br />  obtenidos
                        </label>
                        <div tr ng-if="ctrl.radioSelected==2">                            
                            <label class="text-left titulo_prin_obs_movil">{{votaciones.porcentaje|number:4 }}% </label>
                            <br />
                            <div class="progress" style="background-color:#edc2e9;height:10px">
                                <div class="progress-bar progress-bar-success rounded-2" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="10" style="width:{{votaciones.porcentaje|number:4}}%;background-color:#8c034d">
                                    <span class="sr-only"> 30% Complete (danger) </span>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                            <span ng-if="(votaciones.logoPartido!='')">                              
                                <img ng-src="assets/img/partidos/240/{{votaciones.logoPartido}}"  height="30" />
                            </span>
                            <span ng-if="votaciones.logoPartido==''">
                                <label class="subTitulo_movil"><strong>{{votaciones.nombreCandidato}}</strong></label>
                            </span>
                            <br />
                            <label class="titulo_prin_obs_movil">{{votaciones.porcentaje|number:4}}% </label>
                    </td>
                    <td>
                        <label class="text-left titulo_prin_obs_movil">Total de votos  </label>
                        <br />
                        <label class="text-left titulo_prin_obs_movil">{{votaciones.totalVotos|number}}</label>
                    </td>
                </tr>
            </tbody>
        </table>    
</div>
