﻿<div class="form-group">    
    <div class="md-radio-inline visible-lg visible-md visible-sm" ng-if="!ctrl.GrupoSelector">
        <div class="md-radio">
            <input type="radio" id="radio1" name="groupcheck" value="1" ng-model="ctrl.radioSelected" class="md-radiobtn">
            <label for="radio1">
                <span></span>
                <span class="check"></span>
                <span class="box"></span> {{ctrl.VotosCandidatura}}
            </label>
        </div>
        <div class="md-radio">
            <input type="radio" id="radio2" name="groupcheck" class="md-radiobtn" value="2" ng-model="ctrl.radioSelected">
            <label for="radio2">
                <span></span>
                <span class="check"></span>
                <span class="box"></span>{{ctrl.VotosPartidoPolitico}}
            </label>
        </div>
        
       <div class="md-radio " ng-if="ctrl.radioSelectedCasilla">
           <input type="radio" id="radio3" name="groupcheck" class="md-radiobtn" value="3" ng-model="ctrl.radioSelected">
                <label for="radio3">
                    <span></span>
                    <span class="check"></span>
                    <span class="box"></span>{{ctrl.detalleCasilla}}
                </label>           
        </div>
            
    </div>
    <!--de Radio a Botones vista movil -->
    <div class="visible-xs" ng-if="!ctrl.GrupoSelector">
        <div class="clearfix margin-bottom-10"> </div>
        <div class="btn-group  btn-group btn-group-justified">
            <a href="javascript:;" style="font-size:11px" class="btn purple btn-outline {{ctrl.radioSelected==1?'active':''}}" ng-click="ctrl.radioSelected=1"> Votos por Candidatura </a>
            <a href="javascript:;" style="font-size:10px" class="btn purple btn-outline {{ctrl.radioSelected==2?'active':''}}" ng-click="ctrl.radioSelected=2">
                Votos por Partido Político y
                <br />
                Candidatura Independiente
            </a>
            
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-10 col-xs-10 col-sm-10">
        <ul class="page-breadcrumb breadcrumb" style="color:black">
            <li>
                <a ui-sref="#">Inicio</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li class="active" data-ng-bind="$state.current.data.pageTitle">

            </li>
            <li>
                <i class="fa fa-angle-right" ng-if="$state.current.data.pageTitle!=null"></i>
                {{ctrl.radioSelected==1?ctrl.VotosCandidatura:ctrl.VotosPartidoPolitico}}
            </li>
        </ul>
    </div>
    <div class="col-md-2 col-xs-2 col-sm-2" hidden style="text-align:left;">
        <button class="btn btn-default"><i class="fa fa-refresh"></i>Actualizar</button>
    </div>
</div>
<!--Avance / barra de progreso/ hora de publicación -->

<div class="row widget-row" style="margin-bottom:-15px">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <!-- BEGIN WIDGET THUMB -->
        <div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 bordered">
            <h4 class="widget-thumb-heading font-dark">Actas capturadas:</h4>
            <div class="widget-thumb-wrap" style="text-transform:none">
                <i class="widget-thumb-icon bg-red icon-screen-desktop"></i>
                <div class="widget-thumb-body">
                    <span class="widget-thumb-subtitle font-red">{{ctrl.actasCapturadas|number}} de {{ctrl.actasEsperadas|number}} </span>
                    <span class="widget-thumb-body-stat" data-counter="counterup" >{{ctrl.porcentajecapturadas|number:4}} %</span>
                </div>
            </div>
        </div>
        <!-- END WIDGET THUMB -->
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <!-- BEGIN WIDGET THUMB -->
        <div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 bordered">
            <h4 class="widget-thumb-heading font-dark"><a ui-sref="ayuda_prepet({id:5})" target="_blank"><i class="fa fa-question-circle "></i> <span style="color:black"> Participación ciudadana</span></a> </h4>
                <div class="widget-thumb-wrap">
                    <i class="widget-thumb-icon bg-blue icon-users"></i>
                    <div class="widget-thumb-body">
                        <div class="progress" style="background-color:#edc2e9;margin-bottom:1px">
                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="10" style="width:{{ctrl.porcentajeParticipacionCiudadana}}%;background-color:#8c034d">
                                <span class="sr-only"> 30% Complete (danger) </span>
                            </div>
                        </div>
                        <span class="widget-thumb-body-stat" data-counter="counterup">{{ctrl.porcentajeParticipacionCiudadana|number:4}} %</span>
                    </div>
                </div>
    </div>
        <!-- END WIDGET THUMB -->
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <!-- BEGIN WIDGET THUMB -->
        <div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 bordered">
            <h4 class="widget-thumb-heading font-dark" >Último corte</h4>
            <div class="widget-thumb-wrap" style="text-transform:none">
                <i class="widget-thumb-icon bg-purple fa fa-clock-o fa-2x"></i>
                <div class="widget-thumb-body">
                    <label>
                        <strong>{{ctrl.horaCorte}} horas </strong>
                        (<a href="http://www.cenam.mx/hora_oficial/" target="_blank"> UTC-5</a>)
                    </label>
                    <br />
                    <label style="margin-bottom:15px">Hora local, <strong>{{ctrl.fechaCorte}}</strong> </label>
                </div>
            </div>
        </div>
        <!-- END WIDGET THUMB -->
    </div>
</div>
<div class="row" style="margin-bottom:5px">
    <div class="col-md-12" style="margin-top:-10px">
        <a ng-href="#DescargaBD" target="_blank" class="btn btn-default btn-circle pull-right font-white btn grey-mint visible-lg visible-md visible-sm" ><i class="fa fa-download"></i> Base de datos</a>
        <a href="#" class="btn btn-default btn-circle pull-right font-dark" style="margin-right:5px" ng-click="ctrl.reloadRoute()" type="button"><i class="fa fa-repeat"></i> Actualizar</a>
    </div>
</div>

<div class="m-heading-1 border-red-pink m-bordered">
    <label class="titulo_prin_pink "><strong>{{ctrl.titulo}} </strong></label>
    <label class="titulo_prin_obs"><strong> {{ctrl.ambitoEstadistica}} </strong></label>
    <div class="visible-lg visible-md visible-sm" ng-if="ctrl.descripcion!=undefined||ctrl.descripcion!=null">
        <div style="display:flex;align-items:center">
            <i class="fa-2x fa fa-info-circle" style="margin-right:15px"></i>
            <span class="white-space-pre-line ">{{ctrl.descripcion}}</span>
        </div>
    </div>
</div>
   