﻿<script type="text/javascript">
    //var $jq = jQuery.noConflict();

    var primera = 100; var segunda = 0; var tercera = 0;
   
    $("#graficaEstadistica").highcharts({       

        chart: {
            type: 'solidgauge',
            marginTop: 0,
            backgroundColor: 'none'
        },
        credits: {
            enabled: false
        },
        exporting: { enabled: false },
        title: {
            text: ''
        },
        xAxis: {
            type: 'category',
            labels: {
                rotation: 0,
                style: {
                    fontSize: '13px',
                    fontFamily: 'Verdana, sans-serif'
                }
            }
        },
        pane: {

            startAngle: -90,
            endAngle: 90,
            background: [{ // Track for Move
                outerRadius: '112%',
                innerRadius: '',
                borderWidth: 0
            }, { // Track for Exercise
                outerRadius: '87%',
                innerRadius: '',
                borderWidth: 0
            }, { // Track for Stand
                outerRadius: '62%',
                innerRadius: '',
                borderWidth: 0
            }]
        },
        yAxis: {
            min: 0,
            max: 100,
            lineWidth: 0,
            tickPositions: [],
            labels: {
                y: 16
            },


        },
        plotOptions: {
            solidgauge: {
                dataLabels: {
                    enabled: false
                },
                linecap: 'round',
                stickyTracking: false,
                rounded: false,
            },
            point: {
                events: {
                    update: function (event) {
                        if (!confirm('change?')) {
                            return false;
                        }
                    }
                }
            }
        },
        legend: {
            enabled: false
        },
        tooltip: {
            enabled:true,
            borderWidth: 0,
            backgroundColor: 'none',
            shadow: false,
            useHTML: true,
            style: {
                fontSize: '16px',
            },
            pointFormat: '<div style="display: block!important;align-items: center!important; text-align:center!important;"><div>{series.name}</div><div style="font-size:1.5em; color: {point.color}; font-weight: bold">{point.y:.4f} %</div></div>',
              
            positioner: function (labelWidth) {
                return {
                    x: (this.chart.chartWidth - labelWidth) / 2,
                    y: (this.chart.plotHeight / 3) + 15
                };
            },
        },

        series: [
            {
                name: 'Esperadas',
                colorByPoint: true,
                innerSize: "60%",
                size: "80%",
                data: [{
                    color: '#8c034d',
                    radius: '100%',
                    innerRadius: '84%',
                    y: primera
                }],
                dataLabels: {
                    enabled: false,//para que no muestre la etiqueta de texto
                    x: -200,
                    y: -80,//izquierda
                    format: '<div style="text-align:center!important;"><span style="color:#000; font-weight: bold">{series.name}</span><br><span style="font-size:12px; color: {point.color}; font-weight: bold">{point.y}%</span></div>',
                    borderWidth: 0,
                },

            },
        {
            name: 'Capturadas',
            colorByPoint: true,
            data: [{
                color: '#d9388f',
                radius: '83%',
                innerRadius: '68%',
                y: segunda,
                }],
            dataLabels: {
                enabled: false,
                x: -200,
                y: -150,
               // format: '<div style="text-align:center!important;><span style="color:#000; font-weight: bold">{series.name}</span><br><span style="font-size:12px; color: {point.color}; font-weight: bold">{point.y}%</span></div>',
                borderWidth: 0,
            }

        },
        {
            name: 'Contabilizadas',
            colorByPoint: true,
            data: [{
                color: '#e664fa',
                radius: '67%',
                innerRadius: '51%',
                y: tercera//valor para pintar en porcentaje
            }],
            dataLabels: {
                enabled: false,//para que no muestre la etiqueta de texto
                x: 200,
                y: -150,//derecha
                format: '<div style="text-align:center!important;"><span style="color:#000; font-weight: bold">{series.name}</span><br><span style="font-size:12px; color: {point.color}; font-weight: bold">{point.y}%</span></div>',
                borderWidth: 0,
            }
        }]
    });
</script>
<div class="mt-list-head list-simple font-white bg-green-haze visible-xs">
    <div class="row">
        <div class="col-xs-12">
            <div class="list-head-title-container">
                <h4 style="font-size:4vw;margin-left:10px">Estadística Estatal</h4>
            </div>
        </div>
    </div>
</div>

<div class="portlet col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <!--Titulo para tabled y escritorio-->
    <div class="portlet-title visible-lg visible-md visible-sm" style="margin-left:15px;margin-right:10px;">       
        <div class="caption">
            <h4><strong>Estadística Estatal</strong></h4>
        </div>
    </div>
    <div class="portlet-body" style="margin-left:10px;margin-right:10px;">
        <a style="text-decoration:none"  ui-sref="ayuda_prepet({id:3})" target="_blank">
            <h4 style="margin-right:4px">
                <strong>Actas</strong>&nbsp;&nbsp;
                <i class="fa fa-question-circle fa-lg question-icon-view"></i>
            </h4>
        </a>
        <div id="graficaEstadistica">

        </div>
        <div class="row" style="text-align: center; position: absolute; top: 63%;left:2%;right:2%;
                    margin: auto!important;width:95%;">

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="display: block!important;align-items: center!important; text-align:center!important;border-right: 3px solid #3e3e3f;">
                <div class="texto-graf1">Capturadas:</div>
                <div class="visible-xs" style="font-weight:bold">{{ctrl.porcentajecapturadas|number:4}}%</div>
                <div class="barra2">{{ctrl.actasCapturadas|number}}</div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 " style="display: block!important;align-items: center!important; text-align:center!important; border-right: 3px solid #3e3e3f;">
                <div class="texto-graf1">Contabilizadas:</div>
                <div class="visible-xs" style="font-weight:bold">{{ctrl.porcentajecontabilizadas|number:4}}%</div>
                <div class="barra3">{{ctrl.contabilizadas|number}}</div>
            </div> 
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="display: block!important;align-items: center!important; text-align:center!important;">
                <div class="texto-graf1">Esperadas:</div>
                <div class="visible-xs" style="font-weight:bold">100.0000%</div>
                <div class="barra1">{{ctrl.actasEsperadas|number}}</div>
            </div>            
                      
            <div class="col-md-12" style="text-align: left;">
                <br/><span>Actas contabilizadas de casillas:</span><br /><br />
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 texto-2" style="display: block!important;align-items: center!important; text-align:center!important;border-right: 3px solid #3e3e3f;">
                <div>Urbanas:</div>
                <div>
                    <span>
                        <i class="fa fa-file fa-lg" aria-hidden="true"></i>
                        <span class="texto-4">{{ctrl.actasCasillaUrbana|number}}</span>
                    </span>
                </div>
            </div>  
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 texto-2" style="display: block!important;align-items: center!important; text-align:center!important;">
                <div>No Urbanas:</div>
                <div>
                    <span>
                        <i class="fa fa-file fa-lg" aria-hidden="true"></i>
                        <span class="texto-4">{{ctrl.actasCasillaNoUrbana|number}}</span>
                    </span>
                </div>
            </div> 
        </div>
    </div>
</div>


<div class="portlet col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="mt-list-head list-simple font-white bg-green-haze visible-xs" style="margin-top:15px">
        <div class="row">
            <div class="col-xs-12">
                <div class="list-head-title-container">
                    <h4 style="font-size:4vw;margin-left:10px;">
                        Participación ciudadana respecto a las Actas Contabilizadas
                    </h4>                                     
                </div>
            </div>
        </div>
    </div>
  
    <div class="portlet-title visible-lg visible-md visible-sm" style="margin-left:15px;">
        <div class="caption">
            <a ui-sref="ayuda_prepet({id:5})" target="_blank"><h4><strong>Participación ciudadana respecto a las Actas Contabilizadas  </strong><i class="fa fa-question-circle "></i> </h4> </a>
            
        </div>
    </div>
    <div class="portlet-body" style="margin-left:10px;margin-right:10px;margin-top:10px">
        <div class="portlet-title visible-lg visible-md visible-sm visible-xs" style="margin-left:15px;">
            <div class="caption">
                <h5>
                    <strong class="textoNormal text-justify">
                        El porcentaje de participación ciudadana se obtiene al multiplicar los Votos
                        por 100 y dividir el resultado de esta operación entre el número de personas
                        registrado en la Lista Nominal de Actas Contabilizadas.
                    </strong>
                </h5>
            </div>
        </div>
        <!--<hcPieChart title="Browser usage" data="ctrl.pieData">Placeholder for pie chart</hcPieChart>-->
        <div class="text-center">
            <p class="texto-4 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="color:palevioletred"> {{ctrl.porcentajeParticipacionCiudadana|number:4}}% </p>
        </div>
        <div class="portlet-title visible-lg visible-md visible-sm visible-xs" style="margin-left:15px;">
            <div class="caption">
                <h5>
                    <strong class="textoNormal">
                        Porcentaje calculado <span style="color:palevioletred" class="textoNormal text-justify"></span> <span style="color:palevioletred" ng-if="!ctrl.ultimo_corte">sin considerar</span> <span style="color:palevioletred" ng-if="ctrl.ultimo_corte">considerando</span> la votación en <span style="color:palevioletred">casillas especiales.</span>
                    </strong>
                </h5>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-15">
                <div class="portlet-body table-responsive visible-lg visible-md visible-sm visible-xs">
                    <div id="div2" class="visible-lg visible-md visible-sm visible-xs" style="margin-left:35px;">
                        <table class="table  table-striped table-condensed table-hover textoNormal" >
                            <tr >
                                <td class="col-lg-12 col-md-12 col-sm-12 textoNormal">Votos en casillas básicas, contiguas y extraordinarias</td>                                                                
                                <td class="col-lg-6 col-md-6 col-sm-6">
                                    <strong class="textoNormal" style="color:palevioletred">
                                        {{ctrl.casillaBasica+ctrl.casillaContigua+ctrl.casillaExtraordinaria|number}}
                                    </strong>
                                </td>
                            </tr>
                            <tr >
                                <td class="col-lg-12 col-md-12 col-sm-12 textoNormal">Votos en Casillas especiales</td>
                                <td class="col-lg-6 col-md-6 col-sm-6"><strong class="textoNormal">{{ctrl.casillaEspecial|number}}</strong></td>
                            </tr>
                            <tr >
                                <td class="col-lg-12 col-md-12 col-sm-12"><strong class="textoNormal">Total</strong></td>
                                <td class="col-lg-6 col-md-6 col-sm-6"><strong class="textoNormal">{{(ctrl.casillaBasica+ctrl.casillaContigua+ctrl.casillaExtraordinaria+ctrl.casillaEspecial)|number}}</strong></td>
                            </tr>
                        </table>
                    </div>  
                </div>
            </div>
        </div>

                    
                        <div class="row fondo" style="margin-left:5px;margin-right:5px">                            
                            <a ui-sref="ayuda_prepet({id:5})" target="_blank"> <i class="fa fa-info-circle fa-lg question-icon-view"></i> Conoce cómo calcular el porcentaje de participación ciudadana </a>
                        </div>
                        <br>
                        <h2 style="color:#8c034d;margin-left:5px">Lista nominal</h2>

                        <div class="row" style="margin-left:5px;margin-right:5px">
                            <div class="widget-thumb-wrap">
                                <i class="widget-thumb-icon bg-blue"></i>
                                <div class="widget-thumb-body">

                                    <div class="progress" style="background-color:#edc2e9;margin-bottom:15px;margin-top:15px;height:45px;">
                                        <div class="bar-step" style="left: 90%;">
                                            <div class="circle circle-top circle-white"></div>
                                            <div class="label-line"></div>
                                            <div class="circle circle-bottom circle-black"></div>
                                        </div>
                                        <div class="bar-step" style="left: 5%">
                                            <div class="circle circle-top circle-black"></div>
                                            <div class="label-line"></div>
                                            <div class="circle circle-bottom circle-white"></div>
                                        </div>

                                        <div class="progress-bar progress-bar-success" style="width:{{ctrl.barraporcentaje}}%;background-color:#8c034d;text-align:left;text-align:center;padding-top:12px">
                                            <span> <strong >{{ctrl.barraporcentaje}}%</strong> </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin-right:5px">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            De actas contabilizadas:<br />
                            <span>
                                <span class="texto-4">{{ctrl.actasListaNominal|number}}</span>
                            </span>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="text-align:right">
                            <span ng-if="ctrl.titulo=='Diputaciones '">Total:</span>
                            <span ng-if="ctrl.titulo!='Diputaciones '">Lista Nominal Oficial:</span>
                                  <br />
                            <span>
                                <span class="texto-4">{{ctrl.TotalActasListaNominal|number}}</span>
                            </span>
                        </div>
                    </div>
                    <div class="row fondo" style="margin-left:10px;margin-right:10px">
                        <br /> <!--<a class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><i class="fa fa-info-circle" style="color:#d9388f"></i> </a>-->
                        <a ui-sref="ayuda_prepet({id:5})" target="_blank"> <i class="fa fa-info-circle fa-lg question-icon-view"></i> Conoce qué es la lista nominal. </a>
                    </div>
                </div>