﻿<style type="text/css">
    body {
        color: #5d5d5d;
        font-family: Helvetica, Arial, sans-serif;
    }

    h1 {
        font-size: 30px;
        margin: auto;
        margin-top: 50px;
    }

    .container {
        max-width: 800px;
        margin: auto;
    }

    /* Specific mapael css class are below
     * 'mapael' class is added by plugin
    */

    .mapael .map {
        position: relative;
    }

    .mapael .mapTooltip {
        position: absolute;
        background-color: #fff;
        /* moz-opacity: 0.70;*/
        opacity: 0.70;
        filter: alpha(opacity=70);
        border-radius: 10px;
        padding: 10px;
        z-index: 1000;
        max-width: 200px;
        display: none;
        color: #343434;
    }
</style>

<script type="text/javascript">
        $(function () {
            $(".mapcontainer").mapael({
                map: {
                    name: "distritos_tabasco",
                    defaultArea: {
                        attrs: {
                            stroke: "#fff",
                            "stroke-width": 1
                        },
                        attrsHover: {
                            "stroke-width": 2
                        }
                    }
                },
                legend: {
                    area: {
                        title: "Population of France by department",
                        slices: [
                            {
                                max: 300000,
                                attrs: {
                                    fill: "#0000FF"
                                },
                                label: "Less than de 300 000 inhabitants"
                            },
                            {
                                min: 300000,
                                max: 500000,
                                attrs: {
                                    fill: "#7fd34d"
                                },
                                label: "Between 100 000 and 500 000 inhabitants"
                            },
                            {
                                min: 500000,
                                max: 1000000,
                                attrs: {
                                    fill: "#5faa32"
                                },
                                label: "Between 500 000 and 1 000 000 inhabitants"
                            },
                            {
                                min: 1000000,
                                attrs: {
                                    fill: "#3f7d1a"
                                },
                                label: "More than 1 million inhabitants"
                            }
                        ]
                    }
                },
                areas: {
                    "I": {
                        value: "2617",
                        tooltip: {content: "<span style=\"font-weight:bold;\">Nord (59)</span><br />Population : 2617939"}
                    },
                    "II": {
                        value: "8",

                        tooltip: {content: "<span style=\"font-weight:bold;\">Paris (75)</span><br />Population : 2268265"}
                    },
                    "III": {
                        value: "2000550",

                        tooltip: {content: "<span style=\"font-weight:bold;\">Bouches-du-Rhône (13)</span><br />Population : 2000550"}
                    },
                    "IV": {
                        value: "1756069",

                        tooltip: {content: "<span style=\"font-weight:bold;\">Rhône (69)</span><br />Population : 1756069"}
                    },
                    "V": {
                        value: "1590749",

                        tooltip: {content: "<span style=\"font-weight:bold;\">Hauts-de-Seine (92)</span><br />Population : 1590749"}
                    },
                    "VI": {
                        value: "1534895",

                        tooltip: {content: "<span style=\"font-weight:bold;\">Seine-Saint-Denis (93)</span><br />Population : 1534895"}
                    },
                    "VII": {
                        value: "1489209",

                        tooltip: {content: "<span style=\"font-weight:bold;\">Pas-de-Calais (62)</span><br />Population : 1489209"}
                    },
                    "VIII": {
                        value: "1479277",

                        tooltip: {content: "<span style=\"font-weight:bold;\">Gironde (33)</span><br />Population : 1479277"}
                    },
                    "IX": {
                        value: "1435448",

                        tooltip: {content: "<span style=\"font-weight:bold;\">Yvelines (78)</span><br />Population : 1435448"}
                    },
                    "X": {
                        value: "1347008",

                        tooltip: {content: "<span style=\"font-weight:bold;\">Seine-et-Marne (77)</span><br />Population : 1347008"}
                    },
                    "XI": {
                        value: "1340868",

                        tooltip: {content: "<span style=\"font-weight:bold;\">Val-de-Marne (94)</span><br />Population : 1340868"}
                    },
                    "XII": {
                        value: "1317685",

                        tooltip: {content: "<span style=\"font-weight:bold;\">Loire-Atlantique (44)</span><br />Population : 1317685"}
                    },
                    "XIII": {
                        value: "1275952",

                        tooltip: {content: "<span style=\"font-weight:bold;\">Seine-Maritime (76)</span><br />Population : 1275952"}
                    },
                    "XIV": {
                        value: "1268370",

                        tooltip: {content: "<span style=\"font-weight:bold;\">Haute-Garonne (31)</span><br />Population : 1268370"}
                    },
                    "XV": {
                        value: "1233759",

                        tooltip: {content: "<span style=\"font-weight:bold;\">Isère (38)</span><br />Population : 1233759"}
                    },
                    "XVI": {
                        value: "1233645",

                        tooltip: {content: "<span style=\"font-weight:bold;\">Essonne (91)</span><br />Population : 1233645"}
                    },
                    "XVII": {
                        value: "1187836",

                        tooltip: {content: "<span style=\"font-weight:bold;\">Val-d'Oise (95)</span><br />Population : 1187836"}
                    },
                    "XVIII": {
                        value: "1115226",

                        tooltip: {content: "<span style=\"font-weight:bold;\">Bas-Rhin (67)</span><br />Population : 1115226"}
                    },
                    "XIX": {
                        value: "1094579",

                        tooltip: {content: "<span style=\"font-weight:bold;\">Alpes-Maritimes (06)</span><br />Population : 1094579"}
                    },
                    "XX": {
                        value: "1066667",

                        tooltip: {content: "<span style=\"font-weight:bold;\">Moselle (57)</span><br />Population : 1066667"}
                    },
                    "XXI": {
                        value: "1062617",

                        tooltip: {content: "<span style=\"font-weight:bold;\">Hérault (34)</span><br />Population : 1062617"}
                    }
                }
            });
        });
</script>



<!--*******************************************************-->

<div class="m-grid m-grid-flex m-grid-responsive-md m-grid-demo visible-lg visible-md visible-sm-inline-block " ng-if="ctrl.radioSelected==1">
    <!---++++++++++++-->
    <div class="m-grid-row">
        <div class="m-grid-col m-grid-col-middle m-grid-col-center  m-grid-col-order-1 m-grid-col-md-3" style="border:none">
            <!---********************************-->
            <div class="row visible-lg visible-md visible-sm-inline-block">
                <div class="col-lg-12 col-xs-12 col-sm-12">
                    <!-- BEGIN REGIONAL STATS PORTLET-->
                    <div class="portlet light bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-share font-dark hide"></i>
                                <span class="caption-subject font-dark bold uppercase subTitulo">
                                    Diputaciones obtenidas por:
                                </span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div id="region_statistics_loading" style="display: none;">
                                <img src="../assets/global/img/loading.gif" alt="loading">
                            </div>
                            <div id="region_statistics_content" class="display-none" style="display: block; align-content:center">
                                <div class="btn-toolbar margin-bottom-10">
                                    <div class="btn-group pull-left">
                                        <a href="" class="btn red-pink btn-lg btn-outline btn-block" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="true">
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            Todos
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <span class="fa fa-angle-down"> </span>
                                        </a>
                                        <ul class="dropdown-menu pull-right" >
                                            <li>
                                                <a> ventana </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <div>
                                        <div class="table-responsive visible-lg visible-md visible-sm">
                                            <table class="table table-bordered table-striped table-condensed table-hoveyr">
                                                <thead>
                                                    <tr>
                                                        <th colspan="2" style="text-align:center" class="encabezadoColumna">Partidos, Coaliciones y Candidaturas Independientes</th>
                                                        <th style="text-align:center" class="encabezadoColumna">Distritos obtenidos</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="estadistica in ctrl.objVotosDistrito">
                                                        <td width="10px" style="background:{{estadistica.color}} ">
                                                            <div> &nbsp;&nbsp;&nbsp;&nbsp; </div>
                                                        </td>
                                                        <td class="text-left">
                                                            <span ng-repeat="logos in estadistica.partido">
                                                                <span ng-if="logos.logo!=null">
                                                                    <img src="{{logos.logo}}" alt="Partido" width="40" height="40" />
                                                                </span>
                                                                <span ng-if="logos.logo==null">
                                                                    <label class="titulo_prin_obs_movil">{{logos.nombreColumna}}</label>
                                                                </span>
                                                            </span>
                                                        </td>
                                                        <td>
                                                            <label>{{estadistica.distrito}}</label>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <br />
                                <br />
                            </div>
                        </div>
                    </div>
                    <!-- END REGIONAL STATS PORTLET-->
                </div>
            </div>
            <!--*****************************************************-->
        </div>
        <!--*********************************************************************************************************-->
        <div class="m-grid-col m-grid-col-middle m-grid-col-center m-grid-col-order-2 m-grid-col-md-5" style="border: none">
            <div class="m-grid-col m-grid-col-middle m-grid-col-center  m-grid-col-order-1 m-grid-col-md-3" style="border:none">
                <!---********************************-->
                <div class="row visible-lg visible-md visible-sm-inline-block">
                    <div class="col-lg-12 col-xs-12 col-sm-12">

                        <!-- start REGIONAL STATS PORTLET-->
                        <div class="container">

                            <h1>Map with a legend for areas</h1>

                            <div class="mapcontainer">
                                <div class="map">
                                    <span>Alternative content for the map</span>
                                </div>
                                <div class="areaLegend">
                                    <span>Alternative content for the legend</span>
                                </div>
                            </div>



                        </div>
                        <!-- END REGIONAL STATS PORTLET-->
                        <!--*****************************************************-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

