﻿<style type="text/css">
    /*body {
        color: #5d5d5d;
        font-family: Helvetica, Arial, sans-serif;
    }

    h1 {
        font-size: 30px;
        margin: auto;
        margin-top: 50px;
    }

    .container {
        max-width: 1200px;
        margin: auto;
    }*/

    /* Specific mapael css class are below
     * 'mapael' class is added by plugin
    */
    
    .mapael .map {
        position: relative;
    }

    .mapael .mapTooltip {
        position: absolute;
        background-color: #000000;
        /* moz-opacity: 0.70;*/
        opacity: 1;
        text-align:center;
        filter: alpha(opacity=70);
        border-radius: 10px;
        padding: 10px;
        z-index: 1000;
        max-width: 200px;
        display: none;
        color: #fff;
    }
    /* For all zoom buttons */
        .mapael .zoomButton {
            background-color: #fff;
            border: 1px solid #ccc;
            color: #000;
            width: 25px;
            height: 25px;
            line-height: 15px;
            text-align: center;
            border-radius: 3px;
            cursor: pointer;
            position: absolute;
            top: 0;
            font-weight: bold;
            left: 10px;            
            
            -webkit-user-select: none;
            /*-khtml-user-select : none;*/
            -moz-user-select: none;
            /*-o-user-select : none;*/
            user-select: none;
        }

        /* Reset Zoom button first */
        .mapael .zoomReset {
            top: 10px;            
        }

        /* Then Zoom In button */
        .mapael .zoomIn {
            top: 40px;            
        }

        /* Then Zoom Out button */
        .mapael .zoomOut {
            top: 70px;            
        }

        .mapael .map {
            position: center;
            background-color: #fff;
        }        
        
}     

</style>

<div class="row visible-lg visible-md visible-sm" ng-if="ctrl.radioSelected==1">
    <br />
    <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="portlet-title">
            <div class="caption">
                <span class="caption-subject font-dark bold uppercase subTitulo text-justify">
                    {{ctrl.subTituloMapa}}
                </span>
            </div>
        </div>            
        <div class="portlet-body">
             <div class="table-responsive visible-lg visible-md visible-sm">
                 <div class="btn-group pull-left" style="width:100%!important">
                     <a href="" class="btn red-pink btn-lg btn-outline btn-block" ng-class="{active:ctrl.idSelected===0}" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="true" ng-click="cargarMapaCompleto()">
                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                         Mostrar Todos
                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                     </a>
                 </div>
                <table class="table table-bordered table-striped table-condensed table-hover">
                            <thead>
                                <tr>
                                    <th colspan="2" style="text-align:center" class="encabezadoColumna">Partidos, Coaliciones y Candidaturas Independientes</th>
                                    <th style="text-align:center" class="encabezadoColumna">    
                                        {{ctrl.NombreColumnaMapa1}}                                        
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="estadistica in ctrl.objVotosDistrito" style="cursor:pointer" ng-click="cargarDatos($index)" ng-class="{selected: estadistica.orden === ctrl.idSelected}" ng-if="estadistica.total_obtenidos>0">
                                    <td width="10px">
                                        <button type="button" class="btn btn-circle" style="background:{{estadistica.Color}}" >&nbsp;&nbsp;</button>                                        
                                        <!--<a ng-class="{ testClass: $index == pageNumber }" ng-click="setPageNumber($index)">{{ page }}</a>-->
                                    </td>
                                    <td class="text-left">
                                        <!--
                                        <span ng-repeat="logos in estadistica.partido">
                                            <span ng-if="logos.logo!=null">
                                                <img ng-src="assets/img/partidos/{{logos.logo}}" alt="Partido" width="40" height="40" />
                                            </span>
                                            <span ng-if="logos.logo==null">
                                                <label class="titulo_prin_obs_movil">{{logos.nombreColumna}}</label>
                                            </span>
                                        </span>
                                            -->                                        
                                            <span ng-if="estadistica.logoPartido!='' && estadistica.logoPartido!='CIND.png'">
                                                <!--cONDICION AGREGADA PARA PRUEBAS: estadistica.logoPartido!='CIND.png'" -->
                                                <img ng-src="assets/img/partidos/240/{{estadistica.logoPartido}}" alt="Partido" height="40" />
                                            </span>
                                            <span ng-if="estadistica.logoPartido=='CIND.png'">
                                                <!--cONDICION AGREGADA PARA PRUEBAS: estadistica.logoPartido!='CIND.png'" -->
                                                <label class="titulo_prin_obs_movil">CANDIDATO INDEPENDIENTE</label>
                                            </span>
                                            <span ng-if="estadistica.logoPartido==''">
                                                <label class="titulo_prin_obs_movil">{{estadistica.nombreCandidato}}</label>
                                            </span>                                        
                                    </td>
                                    <td>
                                        <label>{{estadistica.total_obtenidos}}</label>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
             </div> 
        </div>
    </div>

        <div class="col-lg-8 col-md-8 col-sm-12">
            <!--<h1 style="text-align:center">{{ctrl.tituloMapa}}</h1>-->
            <div class="mapcontainer">
                <div class="map">
                    <span>Alternative content for the map</span>
                </div>
                <div hidden class="areaLegend">
                    <span>Alternative content for the legend</span>
                </div>
            </div>
        </div>      
    <br />
</div>
