﻿
<div class="table-responsive visible-lg visible-md visible-sm">
        <table class="table table-bordered table-hover">
            <tbody>              
                <!--Fila del encabezado-->
                <tr>
                    <td style="min-width:150px"> </td>
                    <td style="max-width:150px" ng-repeat="partido in ctrl.tabla_grafica" class="text-center">
                        <div ng-if="partido.logoPartido!=''">
                            <img ng-src="assets/img/partidos/240/{{partido.logoPartido}}" height="40" />
                            <br />
                            
                            <div class="text-center" ng-if="ctrl.mostrarNombreCandidato">
                                <span style="color: {{partido.max?'#d52685':''}}" ng-if="partido.max"><strong>{{partido.nombreCandidato}}</strong></span>
                                <span ng-if="!partido.max">{{partido.nombreCandidato}}</span>
                            </div>
                                
                        </div>
                        <div ng-if="partido.logoPartido==''">
                            {{partido.nombreCandidato}}
                        </div>
                    </td>
                    <td style="min-width:100px" class="text-center">Total</td>
                </tr>
                <!--Fila requerida solo para presidencia municipales y regidurias - municipio-->                
                <tr ng-if="ctrl.requiereMunicipio!=null && ctrl.requiereMunicipio && ctrl.radioSelected==1">
                    <td style="background-color:#E0E0E0">Municipios Obtenidos</td>
                    <td class="text-center" ng-repeat="partido in ctrl.tabla_grafica">
                       <!-- {{partido.municipios|number}} -->
                        <span ng-if="partido.max"><strong style="color:#d52685">{{partido.municipios|number}}</strong></span>
                        <span ng-if="partido.max==false">{{partido.municipios|number}}</span>
                    </td>
                </tr>
                <!--Primera fila-->
                <tr>
                    <td style="background-color:#E0E0E0">Total de votos</td>
                    <td class="text-center" ng-repeat="partido in ctrl.tabla_grafica" >                                               
                        <!--<span style="color: {{partido.max?'#d52685':''}}">{{partido.totalVotos|number}}</span>-->
                        <span ng-if="partido.max"><strong style="color:#d52685" >{{partido.totalVotos|number}}</strong></span>
                        <span ng-if="partido.max==false">{{partido.totalVotos|number}}</span>
                    </td>
                    <td class="text-center"> {{ctrl.TotalVotos|number}}</td>
                </tr>
                <!--Segunda fila del encabezado-->
                <tr>
                    <td style="background-color:#E0E0E0">Porcentaje </td>
                    <td class="text-center" ng-repeat="partido in ctrl.tabla_grafica">
                       <!-- <span style="color: {{partido.max?'#e664fa':''}}"> {{partido.porcentaje|number:4}}% </span>-->
                        <span ng-if="partido.max"><strong style="color:#d52685">{{partido.porcentaje|number:4}}% </strong></span>
                        <span ng-if="partido.max==false">{{partido.porcentaje|number:4}}% </span>
                    </td>
                    <td class="text-center">{{ctrl.Porcentaje}}</td>
                </tr>
            </tbody>
        </table>
    </div>
