﻿<div class="mt-element-list">
    <div class="mt-list-container list-simple">
        <ul>
            <li class="mt-list-item padding-sombra {{tarjeta.max?'sombraclara':''}}" ng-repeat="tarjeta in ctrl.candidatos">
                <div class="list-icon-container done" style="min-width:100px">
                    <span class="mt-action-desc" style="color:black">{{tarjeta.porcentaje| number : 4}}%</span>
                    <div class="progress" style="height:10px;">
                        <span style="width: {{tarjeta.porcentaje}}%;background-color:{{tarjeta.max?'#e664fa':'#8c034d'}}" class="progress-bar progress-bar-success rounded-2">
                            <span class="sr-only">76% progress</span>
                        </span>
                    </div>
                </div>
                <div class="list-datetime done" style="color:black;min-width:100px">
                    <span>Total de votos</span>
                    {{tarjeta.totalVotos|number}}
                 </div>
                <div class="list-item-content text-center">
                    <img ng-if="tarjeta.logoPartido!=undefined||tarjeta.logoPartido!=null" ng-src="assets/img/partidos/240/{{tarjeta.logoPartido}}" alt="" height="30" />
                    <div>
                        <strong ng-if="tarjeta.logoPartido!=undefined||tarjeta.logoPartido!=null">{{tarjeta.nombreCandidato}}</strong>
                        <strong ng-if="tarjeta.logoPartido==undefined||tarjeta.logoPartido==null">{{tarjeta.nombreColumna}}</strong>
                    </div>
                </div>
            </li>
        </ul>        
    </div>
</div>
