﻿<div class="table-responsive visible-lg visible-md visible-sm">
    <table class="table table-bordered" id="idResumenVotacion">
        <tbody>
            <!--Fila de la grafica-->
            <tr ng-if="ctrl.radioSelected==2">
                <td class="td-relative">
                    <div class="etiqueta-vertical">VOTOS</div>
                    <div class="linea-100p lineagrafica  linea-inicio">{{ctrl.Chart.p5}}</div>
                    <div class="linea-75p lineagrafica  linea-inicio">{{ctrl.Chart.p4}}</div>
                    <div class="linea-50p lineagrafica linea-inicio">{{ctrl.Chart.p3}}</div>
                    <div class="linea-25p lineagrafica linea-inicio">{{ctrl.Chart.p2}}</div>
                    <div class="linea-0p lineagrafica linea-inicio">{{ctrl.Chart.p1}}</div>
                    <div class="ChartTableBar">
                        <div style="height: 250px;background:transparent;background-color:white"></div>
                    </div>
                </td>


                <td ng-repeat="partido in ctrl.tabla_grafica"  
                    class="td-relative relleno" >
                    <div class="linea-100p lineagrafica"></div>
                    <div class="linea-75p lineagrafica"></div>
                    <div class="linea-50p lineagrafica"></div>
                    <div class="linea-25p lineagrafica"></div>
                    <div class="linea-0p lineagrafica"></div>
                    <div class="ChartTableBar" data-hint="Votos:{{partido.totalVotos|number}} Porcentaje:{{partido.porcentaje|number:4}}%">
                        <div class="barra" style="height:{{ctrl.alturaBar(ctrl.valorMaximo,partido.totalVotos)|number:2}}px;"></div>
                    </div>
                </td>
                <td></td>
            </tr>
            <!--Fila del encabezado-->
            <tr>
                <td style="min-width:150px"> </td>
                <td style="min-width:150px" ng-repeat="partido in ctrl.tabla_grafica" class="text-center">
                    <div ng-if="partido.logoPartido!=''">
                        <img ng-src="assets/img/partidos/240/{{partido.logoPartido}}" height="40" />
                        <br />
                        <div class="text-center" ng-if="ctrl.radioSelected==1">
                            <span style="color: {{partido.max?'#e664fa':''}}" ng-if="partido.max"> <strong>{{partido.nombreCandidato}}</strong> </span>
                            <span ng-if="!partido.max">{{partido.nombreCandidato}}</span>
                        </div>
                    </div>
                    <div ng-if="partido.logoPartido==''">
                        {{partido.nombreCandidato}}
                    </div>                  
                </td>
                <td class="text-center">Total</td>
            </tr>
            <!--Seccion unicamente solicitada por paguina que reqieren mostrar distritos o municipios-->
            <tr ng-if="ctrl.MostarrDistritoOptenidos==true && ctrl.radioSelected==1 " >
                <td style="background-color:#E0E0E0">Distritos Obtenidos </td>
                <td class="text-center" ng-repeat="partido in ctrl.tabla_grafica">
                    {{partido.total_obtenidos|number}}
                </td>
                <td class="text-center">{{ctrl.totalDistritos|number}}</td>
            </tr>
            <!--Primera fila-->
            <tr>
                <td style="background-color:#E0E0E0">Total de votos </td>
                <td class="text-center" ng-repeat="partido in ctrl.tabla_grafica">
                    <span style="color: {{partido.max?'#d52685':''}}" >{{partido.totalVotos|number}}</span>
                </td>
                <td class="text-center">{{ctrl.TotalVotos|number}}</td>
            </tr>
            <!--Segunda fila del encabezado-->
            <tr>
                <td style="background-color:#E0E0E0">Porcentaje </td>
                <td class="text-center" ng-repeat="partido in ctrl.tabla_grafica">
                    <span style="color:{{partido.max?'#d52685':''}}">{{partido.porcentaje|number:4}}</span>
                    <span ng-if="typeof(partido.porcentaje) !== undefined|| partido.porcentaje!=null">%</span>
                </td>
                <td class="text-center">{{ctrl.PorcentajeTotal}}</td>
            </tr>
        </tbody>
    </table>
</div>
