﻿<div class="row">
    <div class="col-lg-7 col-md-7 col-sm-12">
        <div class="portlet-body table-responsive visible-lg visible-md visible-sm">
            <div id="div2" class="visible-lg visible-md visible-sm">
                <label class="titulo_prin_obs"> <strong>Resumen de la votación</strong> </label>
            </div>
        </div>
    </div>
</div>



<!--<div class="table-responsive visible-lg visible-md visible-sm">
    <table class="table table-bordered table-hover">
        <tbody>
            <tr>
                <td style="min-width:200px"> </td>
                <td  ng-repeat="partido in ctrl.Partidos" class="text-center">
                    <div ng-if="partido.logo.indexOf('.png') !== -1">
                        <img ng-src="assets/img/partidos/240/{{partido.logo}}" height="40" />
                    </div>
                    <div ng-if="partido.logo.indexOf('.png') === -1">
                        {{partido.logo}}
                    </div>
                </td>
                <td style="min-width:100px" class="text-center">Total</td>
            </tr>
            <tr>
                <td style="background-color:#E0E0E0">Total de votos</td>
                <td class="text-center" ng-repeat="partido in ctrl.tabla_grafica">
                    {{partido.totalVotos|number}}
                </td>
                <td class="text-center"> {{ctrl.VT|number}}</td>
            </tr>
            <tr>
                <td style="background-color:#E0E0E0">Porcentaje </td>
                <td class="text-center" ng-repeat="partido in ctrl.tabla_grafica">
                    <span style="color: {{partido.max?'#e664fa':''}}"> {{partido.porcentaje|number:4}}</span>
                    <span ng-if="partido.porcentaje!==undefined">%</span>
                </td>
                <td class="text-center">{{ctrl.Porcentaje}}</td>
            </tr>
        </tbody>
    </table>
</div>-->



<!--<div class="row">
    <div class="col-lg-7 col-md-7 col-sm-12">
        <div class="portlet-body table-responsive visible-lg visible-md visible-sm">
            <div id="div2" class="visible-lg visible-md visible-sm">
                <label class="titulo_prin_obs"> <strong>Detalle de votos por Casilla</strong> </label>
            </div>
        </div>
    </div>
</div>-->

<div class="portlet-title" style="text-align:right;margin-right:10px;">
    <div class="actions">
        <div>
            <i class="fa fa-file color-file"></i> Pendiente |
            <i class="fa fa-file"></i> Actas en proceso |
            <i class="fa fa-file"></i> <i class="fa fa-print"></i>Acta digitalizada con escáner |
            <i class="fa fa-file"></i> <i class="fa fa-mobile-phone"></i> Acta digitalizada con dispositivo móvil
        </div>
    </div>
</div>

<div class="table-responsive visible-lg visible-md visible-sm">   
    <table ng-table="Actas" class="table table-bordered table-hover">
        <thead>           
            <tr>
                <td class="text-center">Casilla</td>
                <td class="text-center">Acta Digitalizada</td>
                <td class="text-center" ng-repeat="partido in ctrl.Partidos">
                    <div ng-if="partido.logo.indexOf('.png') !== -1">
                        <img ng-src="assets/img/partidos/240/{{partido.logo}}" height="40" />
                    </div>
                    <div ng-if="partido.logo.indexOf('.png') === -1">
                        {{partido.logo}}
                    </div>
                </td>
                <td class="text-center">Total</td>
                <td class="text-center">Observaciones</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="2" style="background-color:#E0E0E0">Total de votos</td>
                <td class="text-center" ng-repeat="partido in ctrl.tabla_grafica">
                    {{partido.totalVotos|number}}
                </td>
                <td class="text-center"> {{ctrl.VT|number}}</td>
            </tr>
            <tr>
                <td colspan="2" style="background-color:#E0E0E0">Porcentaje </td>
                <td class="text-center" ng-repeat="partido in ctrl.tabla_grafica">
                    <span style="color: {{partido.max?'#e664fa':''}}">
                        {{partido.porcentaje|number:4}}<span ng-if="partido.porcentaje!=null||partido.porcentaje!=''">%</span>
                    </span>
                </td>
                <td class="text-center">{{ctrl.PT}}</td>
            </tr>
            <tr style="height:45px">
                <td colspan="{{ctrl.Partidos.length+4}}"><strong>Detalle de votos por Casilla</strong></td>
            </tr>           
            <tr ng-repeat="col in $data">

                <td style="min-width:200px">{{col.SECCION}} {{col.Casilla_Descripcion}}</td>

                <td class="text-center">
                    <a data-toggle="tooltip" style="color:black" data-placement="top"
                       title="{{col.Seguimiento==2?'Acta digitalizada con dispositivo móvil':col.Seguimiento==1?'Acta digitalizada con scanner':''}}"
                       ng-if="(col.ImagenActa!='' && col.ImagenActa!=null)&&col.Seguimiento==1||col.Seguimiento==2"
                       ng-href="../assets/img/actas/{{col.ImagenActa}}"
                       target="_blank">
                        <i class="fa fa-file"></i>
                        <i class="fa {{col.Seguimiento==2?'fa-mobile-phone':col.Seguimiento==1?'fa-print':col.Seguimiento==0?'fa-file':''}}"></i>
                    </a>
                    <span ng-if="col.Seguimiento==0" title="Actas en proceso"><i class="fa fa-file"></i></span>
                    <span ng-if="!isNumber(col.Seguimiento)||col.Seguimiento==null">
                        <i ng-if="col.Seguimiento==null" title="Pendiente" class="fa fa-file color-file"></i>
                        <span ng-if="col.Seguimiento!=null">{{col.Seguimiento}}</span>
                    </span>
                </td>
                <td class="text-center" ng-repeat="partido in ctrl.Partidos">
                    <span ng-if="isNumber(col[partido.columna])">{{col[partido.columna]|number}}</span>
                    <span class="label label-info" style="background-color:#EDCFCF;color:black" ng-if="!isNumber(col[partido.columna])">
                        {{col[partido.columna]}}
                    </span>
                </td>
                <td class="text-center">
                    <span ng-if="isNumber(col.TOTAL_VOTOS_CALCULADO)">{{col.TOTAL_VOTOS_CALCULADO|number}}</span>
                    <!--#8c034d-->
                    <span class="label label-info" style="background-color:#EDCFCF;color:black" ng-if="!isNumber(col.TOTAL_VOTOS_CALCULADO)">{{col.TOTAL_VOTOS_CALCULADO}}</span>
                </td>
                <td class="text-center">
                    <button class="btn red btn-outline sbold" ng-click="ctrl.item=col" ng-if="col.OBSERVACIONES1!=null" type="button" data-toggle="modal" data-target="#mdlObservaciones">Mostrar</button>

                    <!--<ul ng-if="col.Observacion!=null"  ng-bind-html="col.Observacion"> </ul>-->
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div ng-table-pagination="Actas" style="margin-top:20px;visibility: visible!important" template-url="'ng-table/pager.html'"></div>



<div class="row " style="margin-left:15px">
    <div style="float:left;">
        <label>
            Último corte <strong>{{ctrl.horaCorte}} horas </strong>
            (<a href="http://www.cenam.mx/hora_oficial/" target="_blank"> UTC-5</a>)
        </label>
        <label style="margin-bottom:15px;margin-right:5px">Hora local, <strong>{{ctrl.fechaCorte}}</strong> </label>
    </div>
</div>

<div class="portlet light bordered visible-lg visible-md visible-sm" ng-if="!ctrl.casilla_especial">
    <div class="portlet-title">
        <a ui-sref="ayuda_prepet({id:5})" target="_blank">
            <label class="titulo_prin_obs font_size_titulo" style="cursor: pointer"><strong>Participaci&oacute;n ciudadana respecto a las Actas contabilizadas <i class="fa fa-question-circle"></i></strong></label>
        </a>
    </div>
    <div class="portlet-body">
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-condensed table-hover">
                <thead>
                    <tr>
                        <td class="text-center">
                            <strong>Casilla</strong>
                        </td>
                        <td class="text-center">
                            <strong>Participación ciudadana</strong>
                        </td>
                        <td class="text-center">
                            <strong>Total de lista nominal</strong>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="col in ctrl.LtParticipacionCiudadana">
                        <td style="min-width:150px">{{col.SECCION}} {{col.Nombre}}</td>
                        <td class="text-center" ng-class="{tdbg:col.especial===true}">{{col.Participacion_Ciudadana|number:4}} <span ng-if="col.Participacion_Ciudadana!=null">%</span></td>
                        <td class="text-center" ng-class="{tdbg:col.especial===true}">{{col.TotalListaNominal|number}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="portlet light bordered visible-lg visible-md visible-sm tasks-widget">
    <div class="portlet-title">
        <a ui-sref="ayuda_prepet({id:3,acta:2})" target="_blank">
            <label class="titulo_prin_obs font_size_titulo" style="cursor: pointer"><strong>Actas con inconsistencia <i class="fa fa-question-circle"></i></strong></label>
        </a>
    </div>
    <div class="portlet-body">
        <div class="task-content">

            <div class="portlet-body" style="border: none; ">
                <table class="table table-striped  ">
                    <tbody>
                        <tr>
                            <td colspan="2" style="background-color:#ddd5d5"><strong>Contabilizadas</strong></td>
                        </tr>
                        <tr>
                            <td><strong>Ilegible</strong></td>
                            <td><p>La cantidad de votos en el acta de escrutinio y cómputo no puede leerse, tanto en letra como en número.</p></td>
                        </tr>
                        <tr>
                            <td><strong>Sin dato</strong></td>
                            <td><p>La cantidad de votos no fue asentada en el acta de escrutinio y cómputo.</p></td>
                        </tr>
                        <tr>
                            <td><strong>Identificación por proceso técnico operativo</strong></td>
                            <td><p>Los datos del acta no se identificaron y se solicitó verificarlos por algún procedimiento válido del proceso técnico operativo.</p></td>
                        </tr>
                        <tr>
                            <td colspan="2" style="background-color:#ddd5d5"><strong>No contabilizadas</strong></td>
                        </tr>
                        <tr>
                            <td><strong>Excede lista nominal</strong></td>
                            <td>
                                <p>
                                    Al sumar todos los votos en el Acta PREP, se excede el número de ciudadanos de la Lista Nominal de Electores de la casilla
                                    electoral, incluido el número de votos emitidos por los representantes de partidos políticos y, en su caso, candidaturas
                                    independientes acreditados - sean locales o federales-, motivo por el cual, los votos asentados no se contabilizan y el Acta PREP
                                    se integra al grupo de actas no contabilizadas.
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Sin acta</strong></td>
                            <td>
                                <p>
                                    El acta de escrutinio y cómputo no llegó junto con el paquete electoral al Centro de Acopio y Transmisión de Datos (CATD),
                                    por algunas de las siguientes causas:
                                    <ol>
                                        <li>No abrió la casilla</li>
                                        <li>El paquete electoral fue entregado sin el sobre PREP</li>
                                        <li>El sobre PREP no contenía la copia del acta.</li>
                                    </ol>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Todos los campos ilegibles</strong></td>
                            <td><p>Todos los campos del acta PREP correspondientes al número de voto, son ilegibles tanto en letra como en número.</p></td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Todos los campos vacíos</strong>
                                <br />
                                <br />
                                <strong>No identificadas - Fuera del catálogo </strong>
                            </td>
                            <td><p>Todos los campos del acta PREP correspondientes al número de votos, se encuentran vacíos tanto en letra como en número.</p></td>
                        </tr>
                        <tr>
                            <td><strong>No identificado – Fuera del catálogo </strong></td>
                            <td><p>No es posible ubicar el acta PREP dentro de la lista de actas de casillas aprobadas al presentar alguna omisión, ilegibilidad o error en sus datos de identificación.</p></td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>