﻿<!--************Tabla de estadistica de actas vista movil**************************************************-->
<div class="visible-xs">
    <div class="portlet-body">
        <div class="mt-list-head list-simple font-white bg-green-haze">
            <div class="row" style="margin-left:5px">
                <div class="col-xs-12">
                    <div class="list-head-title-container">
                        <h4 style="font-size:4vw">
                            <strong ng-if="ctrl.nombreTabla==null">Estadística de Detalle de Distritos</strong>
                            <strong ng-if="ctrl.nombreTabla!=null">{{ctrl.nombreTabla}}</strong>
                        </h4>
                    </div>
                </div>
            </div>
        </div> 
    </div>

    <div class="portlet light bordered">

        <div class="portlet-body">
            <div >
                <table class="table table-bordered table-striped table-condensed table-hover">
                    <thead>
                        <tr>
                            <td width="40%" class="text-center">
                                <strong ng-if="ctrl.titulo_tabla==null">Actas por entidad</strong>
                                <strong ng-if="ctrl.titulo_tabla!=null">{{ctrl.titulo_tabla}}</strong>
                            </td>
                            <td width="30%" class="text-center"><strong>Total</strong></td>
                            <td width="30%" class="text-center"><strong>Porcentaje</strong></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr >
                            <td>Esperadas</td>
                            <td class="text-right">{{ctrl.ActasDistritos[0].Esperadas|number}}</td>
                            <td class="text-right">{{ctrl.ActasDistritos[1].Esperadas|number:4}}%</td>
                        </tr>
                        <tr>
                            <td>Capturadas</td>
                            <td class="text-right">{{ctrl.ActasDistritos[0].Capturadas|number}}</td>
                            <td class="text-right">{{ctrl.ActasDistritos[1].Capturadas|number:4}}%</td>
                        </tr>
                        <tr>
                            <td>Contabilizadas</td>
                            <td class="text-right">{{ctrl.ActasDistritos[0].Contabilizadas|number}}</td>
                            <td class="text-right">{{ctrl.ActasDistritos[1].Contabilizadas|number:4}}%</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
