﻿<div class="portlet-body  visible-xs text-center"> <!--ng-if="ctrl.radioSelected==2"-->
        <table class="table table-striped ">
            <tr>
                <th class="text-center" ng-if="ctrl.radioSelected==1">
                    <h1 style="font-size:4vw">

                        <span ng-if="ctrl.NombreColumnaMapa='Distritos obtenidos'">
                            <strong>Distritos</strong>
                            <br />
                            <stron>{{ctrl.sumaDeDistritos}}  </stron>
                        </span>
                    </h1>
                </th>
                <th  class="text-center" ng-if="colspan='2'" >
                    <h1 style="font-size:4vw"><strong>Total de votos  </strong></h1>
                </th>
                <th  class="text-center">
                    <h1 style="font-size:4vw"><strong> {{ctrl.totalVotos|number}} </strong></h1>
                </th>
            </tr>
          
            <tbody ng-repeat="votaciones in ctrl.tabla_grafica">
                <tr class="text-center">
                    <td>
                        <div ng-if="ctrl.radioSelected==1">
                            <label class="titulo_prin_obs_movil">
                                {{votaciones.total_obtenidos}}
                                <br />
                                <span ng-if="ctrl.nombreColumna==null">
                                    <label> Distritos</label>
                                </span>
                                <span ng-if="ctrl.nombreColumna!=null">{{ctrl.nombreColumna}}</span>
                                <br />  obtenidos
                            </label>
                        </div>

                        <div ng-if="ctrl.radioSelected==2">                            
                            <label class="text-left titulo_prin_obs_movil">{{((votaciones.totalVotos*100)/ctrl.totalVotos)|number:4 }}% </label>
                            <br />
                            <div class="progress" style="background-color:#edc2e9;height:10px">
                                <div class="progress-bar progress-bar-success rounded-2" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="10" style="width:{{((votaciones.totalVotos*100)/ctrl.totalVotos)}}%;background-color:#8c034d">
                                    <span class="sr-only"> 30% Complete (danger) </span>
                                </div>
                            </div>
                        </div> 
                    </td>
                    <td>                      
                        <span ng-if="votaciones.logoPartido!=''">
                            <img ng-src="assets/img/partidos/{{votaciones.logoPartido}}"  height="30" />
                        </span>
                        <span ng-if="votaciones.logoPartido===''">
                            <label class="subTitulo_movil"><strong>{{votaciones.nombreCandidato}}</strong></label>
                        </span>
                        
                    </td>
                    <td>
                        <label class="text-center titulo_prin_obs_movil ">Total de votos  </label>
                        <br />
                        <label class="text-center titulo_prin_obs_movil">{{votaciones.totalVotos|number}}</label>
                    </td>
                </tr>
            </tbody>
        </table>
    
</div>
