﻿<div class="portlet-body visible-xs" ng-if="ctrl.radioSelected==1">
    <div class="mt-list-head list-simple font-white bg-green-haze">
        <div class="row" style="margin-left:5px">
            <div class="col-xs-12">
                <div class="list-head-title-container">
                    <h4 style="font-size:4vw"><strong>Votos por Partidos Político y Candidatura Independiente</strong></h4>
                </div>
            </div>
        </div>
    </div>      
</div>

<div class="portlet-body  visible-xs text-center" ng-if="ctrl.radioSelected==1">   
        <table class="table table-striped  ">
            
                <tr>
                    <th colspan="3" class="text-center">
                        <h1 style="font-size:4vw"><strong>Total de votos</strong> : {{ctrl.totalVotos}}</h1>
                    </th>
                </tr>
            
            <tbody ng-repeat="votaciones in ctrl.objVotosCandidatura">
              
                <tr class="text-center {{votaciones.total==ctrl.votacionMaxima?'sombraclara':''}}">
                    <td>
                        <label class="text-left titulo_prin_obs_movil">{{votaciones.porcentaje|number:4}}% </label>
                        <br />
                        <div class="progress" style="background-color:#edc2e9;height:15px">
                            <div class="progress-bar progress-bar-danger " role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="10" style="width:{{votaciones.porcentaje}}%;background-color:#8c034d">
                                <span class="sr-only"> 30% Complete (danger) </span>
                            </div>
                        </div>
                    </td>
                    <td>
                        <span ng-repeat="estadistica in votaciones.partido ">
                            <span ng-if="estadistica.NombrePartido!=''">
                                <img ng-src="assets/img/partidos/240/{{estadistica.NombrePartido}}" height="30" width="30" />
                            </span>
                            <span ng-if="estadistica.logo==''">
                                <label class="subTitulo_movil"><strong>{{estadistica.nombreColumna}}</strong></label>
                            </span>
                        </span>
                        <br />
                        <label class="titulo_prin_obs_movil"><strong> {{votaciones.candidato}}</strong></label>
                    </td>
                    <td>
                        <label class="text-left subTitulo_movil">Total de votos </label>
                        <br />
                        <label class="text-left subTitulo_movil">{{votaciones.total|number}}</label>
                    </td>
                </tr>
            </tbody>
        </table>    
</div>