﻿<style>
  .imagen {
        width: 100%;
        height: auto;
  }
  hr {
        height: 2px;
        background-color: #d52685;
    }
</style>


<div ng-controller="ayudaController as ctrl" ng-init="ctrl.loadPage()">
    <div class="col-md-12">
        <div class="portlet  ">
            <!-- light  bordered  --> 
            <br/>           
            <div class="portlet-title text-center">
                <div class="texto-4 text-center" style="background-color:#8c034d">                    
                    <strong style="color:white"> Centro de Ayuda de los Resultados Electorales Preliminares </strong><!-- <i class="fa fa-gift"></i> -->                                        
                </div>                
                <!--  <hr align="left" noshade="noshade" size="2" width="80%" />   -->                
            </div>            
            <br /><br /><br />           

            <div class="portlet-body">
                <div class="tabbable-custom nav-justified">
                    <ul class="nav nav-pills">
                        <li ng-class="{active: ctrl.ventana==1}">
                            <a ng-click="ctrl.ventana=1" data-toggle="tab" aria-expanded="true"> <span class="subtitle"> Elecciones Actuales </span></a>
                        </li>
                        <li ng-class="{active: ctrl.ventana==2}">
                            <a ng-click="ctrl.ventana=2" data-toggle="tab" aria-expanded="false"> <span class="subtitle"> Preguntas Frecuentes </span></a>
                        </li>
                        <li ng-class="{active: ctrl.ventana==3}">
                            <a ng-click="ctrl.ventana=3" data-toggle="tab" aria-expanded="false"> <span class="subtitle"> Actas </span> </a>
                        </li>
                        <li ng-class="{active: ctrl.ventana==4}">
                            <a ng-click="ctrl.ventana=4" data-toggle="tab" aria-expanded="false"> <span class="subtitle">Glosario </span></a>
                        </li>
                        <li ng-class="{active: ctrl.ventana==5}">
                            <a ng-click="ctrl.ventana=5" data-toggle="tab" aria-expanded="false"> <span class="subtitle">Acerca del Voto </span></a>
                        </li>
                        <li>
                            <div>
                                <a href="assets/AlcanceSimulacro2.pdf" target="_blank" class="btn btn-default btn-circle  font-white btn subTitulo_movil" style="background-color:#99004d" type="button"><i class="fa fa-file-pdf-o"></i> Alcance del Simulacro 2</a>
                            </div>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane {{ctrl.ventana===1? 'active':''}}" ng-if="ctrl.ventana==1">
                            <br/><br />
                            <p class="titulo_prin_obs">  Elecciones Actuales </p>
                            <p>
                                Las elecciones 2018 reportan sus resultados preliminares a través del PREP, descubre de qué se trata y cómo funciona.
                            </p>
                            <p class="subTitulo">
                                ¿Qué es PREP?
                            </p>
                            <br/>
                            <p class="textoNormal">
                                Es el mecanismo de información que, al término de la jornada electoral, permite consultar a través de internet, los resultados preliminares y no definitivos de las elecciones, con base en los resultados asentados en las Actas PREP de las casillas.
                            </p>
                            <br/>
                            <img class="imagen" ng-src="assets/img/ayuda/que_es_prep.png" alt="">
                            <hr />
                            <p class="subTitulo">
                                <i class="fa fa-info-circle"></i>
                                Importancia
                            </p>
                            <br />
                            <p class="textoNormal">                                
                                Es el principal instrumento del INE para dar a conocer, de manera preliminar, los resultados de las elecciones.
                                Informa los resultados preliminares y no definitivos de las elecciones el día de la Jornada Electoral, a los actores políticos, medios de comunicación y a la ciudadanía.
                                <br/>
                                Hace públicos los datos de la votación de casi todas las casillas, conforme los funcionarios de casilla entregan las Actas PREP. Fortalece la confianza y la transparencia en la autoridad electoral y la elección misma.
                            </p>
                            <hr />
                            <p class="textoNormal">
                                <strong>Referencia:</strong>
                                <br />                                
                                Art. 219, párrafo 1 y 3, de la Ley General de Instituciones y Procedimientos Electorales.
                            </p>
                            <hr />
                            <br /><br />
                            <p class="titulo_prin_obs">  ¿Cómo opera el PREP? </p>
                            <p>Conoce los pasos que se realizan para llevar a cabo adecuadamente el PREP.</p>
                            <br />
                            <img class="imagen" ng-src="assets/img/ayuda/opera_prep.png" alt="">

                        </div>
                        <div class="tab-pane {{ctrl.ventana===2? 'active':''}}" ng-if="ctrl.ventana==2">
                            <br /><br />
                            <p class="titulo_prin_obs"> Preguntas frecuentes </p>
                            <p>Resuelve tus dudas acerca de las elecciones 2018 del estado de Tabasco.</p>
                            <div class="note note-info">
                                <h4 class="block">¿Qué es el Programa de Resultados Electorales Preliminares?</h4>
                                <p class="textoNormal"> Es el mecanismo de información electoral que al término de la jornada electoral permite consultar, a través de internet, los resultados preliminares, de carácter informativo y no definitivo de las elecciones. </p>
                                <br/>
                                <p class="textoNormal"> <strong style="color:#8c034d">Referencia:</strong> Art. 219 y 305 de la Ley General de Instituciones y Procedimientos Electorales.</p>
                            </div>
                            <div class="note note-danger">
                                <h4 class="block">¿Qué factores hacen confiable al PREP?</h4>
                                <p class="textoNormal">
                                   <i class="fa fa-circle"></i> Mecanismos avanzados en seguridad informática para garantizar la integridad de la información, flujo ininterrumpido de datos y equipos de respaldo en todas las fases del programa; en caso de que alguno de los equipos falle, dispone de otros para realizar las funciones de manera independiente.<br/>
                                   <i class="fa fa-circle"></i>Los resultados de las actas se transmiten por diversos medios para su publicación en Internet, lo que asegura su disponibilidad y disminuye el riesgo en caso de ataque. <br/>
                                   <i class="fa fa-circle"></i>Las actas se publican en el Portal PREP, y están a disposición de la ciudadanía para que puedan ser comparadas con los resultados exhibidos fuera de la casilla. <br/>
                                </p>                                
                            </div>
                            <div class="note note-info">
                                <h4 class="block">¿Cómo apoya el Comité Técnico Asesor del Programa de Resultados Electorales Preliminares (COTAPREP) al PREP?</h4>
                                <p class="textoNormal"> Es un órgano de acompañamiento, encargado de <stron style="color:#8c034d">brindar asesoría</stron> en materia de tecnologías de la información y comunicaciones, investigación de operaciones, análisis estadístico y ciencia política, así como en aspectos logísticos y operativos a los trabajos del PREP. El COTAPREP está integrado por <stron style="color:#8c034d">cinco expertos</stron> en las materias señaladas.</p>
                                <br/>
                                <p class="textoNormal"> <strong style="color:#8c034d">Referencia:</strong> Arts. 340 y 342 del Reglamento de Elecciones del Instituto Nacional Electoral.</p>
                            </div>
                            <div class="note note-danger">
                                <h4 class="block">¿Durante cuánto tiempo opera el PREP?</h4>
                                <p class="textoNormal"> De conformidad con el Reglamento de Elecciones, el PREP de elecciones locales opera desde las 18:00 horas del horario local de la entidad federativa que corresponda, hasta un plazo máximo de veinticuatro horas contadas a partir de la hora de inicio de la publicación.
                                                        <br/>Se podrá cerrar operaciones antes del plazo señalado, siempre y cuando se logre el 100%, del registro, captura y publicación de las actas PREP recibidas.
                                                        <br/> 
                                </p>
                                <p class="textoNormal"> <strong style="color:#8c034d">Referencia:</strong> Art. 353 del Reglamento de Elecciones del Instituto Nacional Electoral.</p>
                            </div>

                            <div class="note note-info">
                                <h4 class="block">¿Por qué el PREP no logra publicar los resultados preliminares de todas las casillas?</h4>
                                <p class="textoNormal">Las siguientes causas pueden provocar que el Sobre PREP, el cual contiene el Acta PREP no llegue al CATD respectivo:</p>
                                <i class="fa fa-circle"></i> <strong>La casilla no abrió.</strong> <br />
                                <i class="fa fa-circle"></i> El paquete electoral fue entregado <strong>sin el Sobre PREP.</strong><br />
                                <i class="fa fa-circle"></i> El <strong>Sobre PREP se encuentra dentro del paquete.</strong><br />
                                <i class="fa fa-circle"></i> El paquete <strong>no se recibió</strong> dentro de las <strong>24 horas</strong> de operación del PREP, debido a diversas condiciones, por ejemplo: geográficas o meteorológicas.<br />                                
                            </div>                           
                            <div class="note note-info">
                                <h4 class="block">¿Qué es la Participación Ciudadana?</h4>
                                <p class="textoNormal">
                                    Es el <strong style="color:#8c034d">porcentaje del total de ciudadanos que votaron con base en la lista nominal</strong> de las Actas PREP contabilizadas.
                                    <br />Ejemplo: Si con base en las Actas PREP contabilizadas, hay 10 millones de votantes, y acuden sólo 100 mil, significa que la participación ciudadana fue de 1%.
                                    <br />
                                </p>
                                <p class="textoNormal"> <strong style="color:#8c034d">Referencia:</strong> Numeral 26, fracción IX de los Lineamientos del PREP, Anexo 13 del Reglamento de Elecciones del Instituto Nacional Electoral.</p>
                            </div>
                        </div>
                        <div  ng-class="{active: ctrl.ventana==3}" class="tab-pane {{ctrl.ventana===3? 'active':''}}" ng-if="ctrl.ventana==3">
                            <br /><br />
                            <p class="titulo_prin_obs"> Actas </p>
                            <p>Conoce las fases que recorre cada Acta PREP para su publicación.</p>

                            <!-------------------------------------------------------------------->
                            <div class="portlet box visible-lg visible-md">                                
                                <div class="portlet-body">
                                    <div class="row">
                                        <div class="col-md-3 col-sm-3 col-xs-3">
                                            <ul class="nav nav-tabs tabs-left">
                                                <li class="active">
                                                    <a ng-click="ctrl.acta=1" data-toggle="tab" aria-expanded="true"> Proceso del Acta PREP </a>
                                                </li>
                                                <li class="">
                                                    <a ng-click="ctrl.acta=2" data-toggle="tab" aria-expanded="false"> Estatus del Acta PREP </a>
                                                </li>                                                                                               
                                                <li class="">
                                                    <a ng-click="ctrl.acta=3" data-toggle="tab" aria-expanded="false"> Validez del Acta PREP </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-9 col-sm-9 col-xs-9">
                                            <div class="tab-content">
                                                <div class="tab-pane {{ctrl.acta===1? 'active ':''}}" ng-if="ctrl.acta==1">
                                                    <p>
                                                        <span class="subTitulo"> Proceso del Acta PREP </span>
                                                        
                                                        <!--<div class="row">                                                            
                                                            <div style="float:right" class="visible-lg visible-md visible-sm">
                                                                <div class="col-md-9">                                                                    
                                                                    <a href="javascript:;" class="btn default m-icon"><i class="m-icon-swapdown m-icon-black"></i> Descargar</a>    
                                                                </div>
                                                            </div>
                                                        </div>-->

                                                        <br/> <br /> <br />
                                                        Conoce las fases que recorre cada Acta PREP para su publicación.
                                                    </p>                                                   
                                                    <img class="imagen" ng-src="assets/img/ayuda/proceso-actas.png" alt="">
                                                </div>
                                                <div class="tab-pane {{ctrl.acta===2? 'active ':'fade'}}" ng-if="ctrl.acta==2">
                                                    <p>
                                                        <span class="subTitulo"> Estatus del Acta PREP </span>
                                                        <!--<div class="row">
                                                            <div style="float:right" class="visible-lg visible-md visible-sm">
                                                                <div class="col-md-9">
                                                                    <a href="javascript:;" class="btn default m-icon"><i class="m-icon-swapdown m-icon-black"></i> Descargar</a>
                                                                </div>
                                                            </div>
                                                        </div>-->
                                                        <br /> <br /> <br />
                                                        Un Acta PREP puede presentar inconsistencias en el llenado que dificulten la lectura o entendimiento de los campos que la componen.
                                                    </p>
                                                    <img class="imagen" ng-src="assets/img/ayuda/estatus_acta.png" alt="">
                                                </div>                                                
                                                <div class="tab-pane {{ctrl.acta===3? 'active ':'fade'}}" ng-if="ctrl.acta==3">
                                                    <p>
                                                        <span class="subTitulo"> Validez del Acta PREP </span>
                                                        <!--<div class="row">
                                                            <div style="float:right" class="visible-lg visible-md visible-sm">
                                                                <div class="col-md-9">
                                                                    <a href="javascript:;" class="btn default m-icon"><i class="m-icon-swapdown m-icon-black"></i> Descargar</a>
                                                                </div>
                                                            </div>
                                                        </div>-->
                                                        <br /> <br /> <br />
                                                        Conoce cómo consultar y validar el Acta PREP de tu casilla. <br/>
                                                        Esta validación la puedes realizar por medio del código HASH, el cual permite identificar y corroborar que cada imagen del Acta PREP digitalizada no haya sido alterada o editada.
                                                    </p>
                                                    <img class="imagen" ng-src="assets/img/ayuda/codigo_hash.png" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                              
                            <!--------------------------------------------------------------------->
                        </div>
                        <div class="tab-pane {{ctrl.ventana===4? 'active':''}}" ng-if="ctrl.ventana==4">                            
                            <!---------------Muestra estructura del glosario---------------------------->
                                <br /><br />
                                <p class="titulo_prin_obs"> Glosario </p>

                                <div class="portlet-body">
                                    <div class="panel-group accordion" id="accordion3">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a class="accordion-toggle accordion-toggle-styled" data-toggle="collapse" data-parent="#accordion3" ng-click="ctrl.glosario=1"  aria-expanded="{{ctrl.glosario===1? 'true':'false'}}"> A</a>
                                                </h4>
                                            </div>
                                            <div ng-if="ctrl.glosario===1" class="panel-collapse collapse in" aria-expanded="{{ctrl.glosario===1? 'true':'false'}}" style="">
                                                <div class="panel-body textoNormal2">
                                                    <strong>Acta de Escrutinio y Cómputo (AEC):</strong> <br/>
                                                    Documento para registrar una vez contados los votos, los resultados obtenidos por partidos políticos, coaliciones, candidatos independientes, candidatos no registrados y votos nulos. <br/><br />
                                                    <strong>Acta PREP:</strong> <br />
                                                    Primera copia del Acta de Escrutinio y Cómputo destinada para el PREP, o en ausencia de ésta, cualquier copia del Acta de Escrutinio y Cómputo.<br /><br />
                                                    <strong>Actas acopiadas:</strong> <br />
                                                    Total de Actas PREP que se han recibido en los Centros de Acopio y Transmisión de Datos (CATD). <br/><br />
                                                    <strong> Actas capturadas:</strong> <br />
                                                    Total de Actas PREP registradas en el sistema informático que se encuentran dentro del catálogo de actas esperadas.<br/><br />
                                                    <strong> Actas contabilizadas:</strong> <br />
                                                    Actas correspondientes a las casillas aprobadas por el consejo respectivo, de las cuales se tiene su correspondiente Acta PREP, que son capturadas y sumadas. <br/><br />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion3" ng-click="ctrl.glosario=2"  aria-expanded="{{ctrl.glosario===2? 'true':'false'}}"> B </a>
                                                </h4>
                                            </div>
                                            <div ng-if="ctrl.glosario===2" class="panel-collapse collapse in" aria-expanded="{{ctrl.glosario===2? 'true':'false'}}"   style="">
                                                <div class="panel-body textoNormal2">
                                                    <strong> Base de datos: </strong> <br/>
                                                    Conjunto de datos organizados y almacenados para su uso y vinculación. <br/> <br/>
                                                    <strong> Boleta electoral:</strong> <br />
                                                    Documento a través del cual el ciudadano emite su voto. Contiene los nombres y emblemas de los Partidos Políticos, el nombre de sus candidatos y el nombre de los candidatos independientes. <br/> <br/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion3" ng-click="ctrl.glosario=3" aria-expanded="{{ctrl.glosario===3? 'true':'false'}}"> C </a>
                                                </h4>
                                            </div>
                                            <div ng-if="ctrl.glosario===3" class="panel-collapse collapse in" aria-expanded="{{ctrl.glosario===3? 'true':'false'}}" style="">
                                                <div class="panel-body textoNormal2">
                                                    <strong> Candidato independiente:</strong> <br/>
                                                    Ciudadano(a) que solicitó el registro de su candidatura sin acudir a algún partido político, y que cumpliendo con los requisitos establecidos en la LGIPE puede competir por un cargo de elección popular.<br /><br />
                                                    <strong> Casilla</strong> <br />
                                                    Lugar donde los ciudadanos acuden a votar el día de la Jornada Electoral. Generalmente se localizan en escuelas, domicilios particulares, oficinas y lugares públicos.<br /><br />
                                                    <strong> Casilla básica:</strong> <br />
                                                    Espacio asignado para que los ciudadanos acudan a votar. Se instalan en secciones que tienen un número no mayor a 750 electores. <br/><br />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion3" ng-click="ctrl.glosario=4" aria-expanded="{{ctrl.glosario===4? 'true':'false'}}"> D </a>
                                                </h4>
                                            </div>
                                            <div ng-if="ctrl.glosario===4" class="panel-collapse collapse in" aria-expanded="{{ctrl.glosario===4? 'true':'false'}}" style="">
                                                <div class="panel-body textoNormal2">
                                                    <strong>Distrito</strong> <br/><br />
                                                    Es la división geográfica en que se organiza el territorio del país con fines electorales. En él, se consideran los domicilios de los votantes para formar secciones electorales donde se instala proporcionalmente un número de casillas para depositar el voto el día de la Jornada Electoral. México está dividido en 300 distritos electorales, integrados por diversas secciones.<br /><br />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <!-----------------Fin de la estructura del Glosario-------------------------->
                        </div>
                        <div ng-class="{active: ctrl.ventana==5}" class="tab-pane {{ctrl.ventana===5? 'active':''}}" ng-if="ctrl.ventana==5">
                            <br /><br />
                            <p class="titulo_prin_obs"> Acerca del Voto </p>
                            <p>Conoce cómo se suman y distribuyen los votos, tratándose de coaliciones.</p>
                            <!----------------------------------Deglose de acerca de voto----------------------------------------------------------------->
                            <div class="portlet box visible-lg visible-md visible-xs">
                                <div class="portlet-body">
                                    <div class="row">
                                        <div class="col-md-3 col-sm-3 col-xs-3">
                                            <ul class="nav nav-tabs tabs-left">
                                                <li ng-class="{active: ctrl.acercaVoto==1}">
                                                    <a ng-click="ctrl.acercaVoto=1" data-toggle="tab" aria-expanded="true"> Lista Nominal </a>
                                                </li>
                                                <li ng-class="{active: ctrl.acercaVoto==2}">
                                                    <a ng-click="ctrl.acercaVoto=2" data-toggle="tab" aria-expanded="false"> Distribución de Votos por Partido en Coalición </a>
                                                </li>
                                                <li  ng-class="{active: ctrl.acercaVoto==3}">
                                                    <a ng-click="ctrl.acercaVoto=3" data-toggle="tab" aria-expanded="false"> Suma de Votos por Candidato en coalición </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-9 col-sm-9 col-xs-9">
                                            <div class="tab-content">
                                                <div ng-class="{active: ctrl.acercaVoto==1}" ng-if="ctrl.acercaVoto==1">
                                                    <p>
                                                        <span class="subTitulo"> Lista Nominal </span>
                                                        <!--
                                                        <div class="row">
                                                            <div style="float:right" class="visible-lg visible-md visible-sm">
                                                                <div class="col-md-9">
                                                                    <a href="javascript:;" class="btn default m-icon"><i class="m-icon-swapdown m-icon-black"></i> Descargar</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                            -->
                                                        <br /> <br /> <br />
                                                        Conoce qué es la lista nominal y cómo se calcula la participación ciudadana.
                                                    </p>
                                                    <img class="imagen" ng-src="assets/img/ayuda/lista_nominal.png" alt="">
                                                </div>
                                                <div ng-class="{active: ctrl.acercaVoto==2}" ng-if="ctrl.acercaVoto==2">
                                                    <p>
                                                        <span class="subTitulo"> Distribución de Votos por Partido en Coalición </span>

                                                        <!--<div class="row">
                                                            <div style="float:right" class="visible-lg visible-md visible-sm">
                                                                <div class="col-md-9">
                                                                    <a href="javascript:;" class="btn default m-icon"><i class="m-icon-swapdown m-icon-black"></i> Descargar</a>
                                                                </div>
                                                            </div>
                                                        </div>-->

                                                        <br /> <br /> <br />
                                                        Averigua cómo se distribuyen los votos de los partidos en coalición.
                                                    </p>
                                                    <img class="imagen" ng-src="assets/img/ayuda/distribucion_votos_partidos.png" alt="">
                                                </div>
                                                <div ng-class="{active: ctrl.acercaVoto==3}" ng-if="ctrl.acercaVoto==3">
                                                    <p>
                                                        <span class="subTitulo"> Suma de Votos por Candidato en coalición </span>

                                                        <!--<div class="row">
                                                            <div style="float:right" class="visible-lg visible-md visible-sm">
                                                                <div class="col-md-9">
                                                                    <a href="javascript:;" class="btn default m-icon"><i class="m-icon-swapdown m-icon-black"></i> Descargar</a>
                                                                </div>
                                                            </div>
                                                        </div>-->

                                                        <br /> <br /> <br />
                                                        Entérate cómo se suman los votos de un candidato en coalición.
                                                    </p>
                                                    <img class="imagen" ng-src="assets/img/ayuda/suma_candidato.png" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!----------------------------------Vista movil----------------------------------------------------------------->


                            <!----------------------------------Fin Deglose de acerca de voto----------------------------------------------------------------->
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

                        <br />
<!--
                        <div class="portlet box red-soft"> 
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="fa fa-gift" ></i>Scrollable Accordions </div>
                                    <div class="tools">
                                        <a href="javascript:;" class="collapse circle-black" data-original-title="" title=""> </a>                              
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div class="panel-group accordion scrollable" id="accordion2">
                                        <p>
                                            <span class="subTitulo"> Lista Nominal </span>

                                            <div class="row">
                                                <div style="float:right" class="visible-lg visible-md visible-sm">
                                                    <div class="col-md-9">
                                                        <a href="javascript:;" class="btn default m-icon"><i class="m-icon-swapdown m-icon-black"></i> Descargar</a>
                                                    </div>
                                                </div>
                                            </div>

                                            <br /> <br /> <br />
                                            Conoce qué es la lista nominal y cómo se calcula la participación ciudadana.
                                        </p>
                                        <img class="imagen" ng-src="assets/img/ayuda/lista_nominal.png" alt="">                            
                                    </div>
                                </div>
                            </div> 

    -->