﻿<div ng-controller="ayuntamientoMunicipioController as ctrl" ng-init="ctrl.loadPage()">
    <!--Componenete tabla con los datos de le encabezado de la tabla-->
    <div data-ng-include="'app/componentes/plantillas/encabezado.html'"> </div>
    
    <br class="visible-lg visible-md visible-sm "/>
    <div class="portlet-body visible-lg visible-md visible-sm ">        
            <div class="row" >
                <div class="col-xs-12">
                    <div class="list-head-title-container">
                        <label class="titulo_prin_obs"><strong>Resumen de la votación</strong></label>
                    </div>
                </div>
            </div>       
        <div class="table-responsive visible-lg visible-md visible-sm">
            <table class="table table-bordered">
               
                <tbody>
                    <!--Fila del encabezado-->
                    <tr>
                        <td style="min-width:150px"> </td>
                        <td  ng-repeat="partido in ctrl.tabla_grafica" class="text-center">
                            <div ng-if="partido.logoPartido!=''">
                                <!--cONDICION AGREGADA PARA PRUEBAS: estadistica.logoPartido!='CIND.png'" -->
                                <img ng-src="assets/img/partidos/240/{{partido.logoPartido}}" height="40" />
                                <br />

                                <div class="text-center" ng-if="ctrl.mostrarNombreCandidato">
                                    <span style="color: {{partido.max?'#e664fa':''}}" ng-if="partido.max"><strong>{{partido.nombreCandidato}}</strong></span>
                                    <span ng-if="!partido.max">{{partido.nombreCandidato}}</span>
                                </div>
                            </div>
                            <div ng-if="partido.logoPartido==''">
                                <span style="color: {{partido.max?'#e664fa':''}}" ng-if="partido.max"><strong>{{partido.nombreCandidato}}</strong></span>
                                <span ng-if="!partido.max">{{partido.nombreCandidato}}</span>
                            </div>
                        </td>
                        <td style="min-width:100px" class="text-center">Total</td>
                    </tr>
                    <tr ng-if="ctrl.radioSelected==1">
                        <td>Municipios Obtenidos </td>
                        <td class="text-center" ng-repeat="partido in ctrl.tabla_grafica">
                            <span style="color: {{partido.max?'#e664fa':''}}"> {{partido.total_obtenidos|number}}</span>
                        </td>
                        <td class="text-center">{{ctrl.totalDistritos|number}}</td>
                    </tr>
                    <!--Primera fila-->
                    <tr>
                        <td style="background-color:#E0E0E0">Total de votos</td>
                        <td class="text-center" ng-repeat="partido in ctrl.tabla_grafica">
                            <span style="color: {{partido.max?'#e664fa':''}}">{{partido.totalVotos|number}}</span>
                        </td>
                        <td class="text-center"> {{ctrl.TotalVotos|number}}</td>
                    </tr>
                    <!--Segunda fila del encabezado-->
                    <tr>
                        <td style="background-color:#E0E0E0">Porcentaje </td>
                        <td class="text-center" ng-repeat="partido in ctrl.tabla_grafica">
                            <span style="color:{{partido.max?'#e664fa':''}}">{{partido.porcentaje|number:4}}</span>
                            <span style="color:{{partido.max?'#e664fa':''}}" ng-if="typeof(partido.porcentaje) !== undefined || partido.porcentaje!=null">%</span>
                        </td>
                        <td class="text-center">{{ctrl.PorcentajeTotal}}</td>
                    </tr>

                    <tr style="background-color:#ebebeb" ng-if="ctrl.detallevotos_primera_columna!=undefined||ctrl.detallevotos_primera_columna!=null">
                        <td colspan="{{ctrl.DetalleVotos.length>0?ctrl.DetalleVotos[0].Partidos.length+2:0}}"><strong>{{ctrl.detallevotos_primera_columna}}</strong></td>
                    </tr>

                    <tr ng-repeat="detalle in ctrl.DetalleVotos">
                        <td style="min-width:150px">
                            <!--Seccion: {{detalle.idSeccion}} Modulo:{{ctrl.modulo}}-->
                            <!--Navegacion para gobernador-->
                            <a href="#" ng-if="ctrl.modulo=='1D'" ui-sref="seccion_distrito({pIdDistrito:{{detalle.id}}})" style="text-decoration: underline;color:black">{{detalle.Nombre}}</a>
                            <a href="#" ng-if="ctrl.modulo=='1S'" ui-sref="seccion_casilla({pIdSeccion:{{detalle.idSeccion}},modulo:ctrl.modulo})" style="text-decoration: underline;color:black">{{detalle.Nombre}}</a>
                            <!--Navegacion para diputacion-->
                            <a href="#" ng-if="ctrl.modulo=='2S'||ctrl.modulo=='3S'" ui-sref="({pIdSeccion:{{detalle.id}},modulo:ctrl.modulo})" style="text-decoration: underline;color:black">{{detalle.Nombre}}</a>
                            <a href="#" ng-if="ctrl.modulo=='2DE'" ui-sref="dip_detalle_distrito({pIdDistrito:{{detalle.id}}})" style="text-decoration: underline;color:black">{{detalle.Nombre}}</a>
                            <a href="#" ng-if="ctrl.modulo=='3HM'" ui-sref="ayuntamiento_detalle({pIDMunicipio:{{detalle.id}}})" style="text-decoration: underline;color:black">{{detalle.Nombre}}</a>
                        </td>
                        <td style="min-width:100px" ng-class="{tdbg:item.votos==='P'}" class="text-center" ng-repeat="item in detalle.Partidos">
                            <span>{{item.votos|number}}</span>                            
                        </td>
                        <td class="text-center">{{detalle.TotalVotos|number}}</td>
                    </tr>
                    <tr style="background-color:#E0E0E0">
                        <td>Total de votos</td>
                        <td class="text-center" ng-repeat="partido in ctrl.tabla_grafica">
                            <span style="color: {{partido.max?'#e664fa':''}}">{{partido.totalVotos|number}}</span>
                        </td>
                        <td class="text-center"> {{ctrl.TotalVotos|number}}</td>
                    </tr>

                </tbody>
            </table>
            
        </div>
        <div style="display:flex;align-items:center">
            <div class="tdbg" style="height:25px;width:50px;margin-right:10px"></div>
            El partido político, la coalición o el candidato independiente no participa en este caso particular.
        </div>
    </div>

    <!-- Estructura para vista menor a 600 px Tabla vista movil distritos obtenido-->
    
        <div class="portlet-body" ng-if="ctrl.radioSelected==1">
            <br />
            <br class="visible-lg visible-md visible-sm" />
            <div class="mt-list-head list-simple font-white bg-green-haze visible-xs">
                <div class="row" style="margin-left:5px">
                    <div class="col-xs-12">
                        <div class="list-head-title-container">
                            <h4 style="font-size:4vw"><strong>Municipio</strong></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!--
        <div class="portlet light bordered center-align visible-xs">
            <div class="note note-danger border" style="margin-top:10px">
                <div class="form-group">
                    <label class="control-label col-md-3">Municipio</label>
                    <div class="col-md-4">
                        <select class="form-control" ng-model="ctrl.idMunicipio">
                            <option ng-repeat="item in ctrl.DetalleVotos" value="{{item.id}}">{{item.Nombre}}</option>
                        </select>
                    </div>
                </div>

            </div>
        </div>
    -->
    <div ng-if="ctrl.radioSelected==1">
        <div class="portlet-body">
            <div class="mt-list-head list-simple font-white bg-green-haze visible-xs">
                <br />
                <br />
                <div class="row" style="margin-left:5px">
                    <div class="col-xs-12">
                        <div class="list-head-title-container">
                            <h4 style="font-size:4vw"><strong>Distritos</strong></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="portlet-body  visible-xs text-center">
            <!--ng-if="ctrl.radioSelected==1"-->
            <table class="table table-striped  ">
                <tr>
                    <th class="text-center">
                        <label>
                            <span>
                                Municipios
                                <br />
                                {{ctrl.totalDistritos|number}}
                            </span>
                        </label>
                    </th>
                    <th class="text-center titulo_prin_pink_movil">
                        <i class="fa-2x fa fa-ellipsis-v"></i>
                        Total de votos
                        <i class="fa-2x fa fa-ellipsis-v"></i>
                    </th>
                    <th class="text-center"> {{ctrl.TotalVotos|number}}    </th>
                </tr>

                <tbody ng-repeat="votaciones in ctrl.tabla_grafica">
                    <tr class="text-center">
                        <td>
                            <label class="titulo_prin_obs_movil">
                                {{votaciones.total_obtenidos|number}}
                                <br />
                                <span>
                                    <label> Distritos</label>
                                </span>
                                <br />  obtenidos
                            </label>
                        </td>
                        <td>
                            <span ng-if="votaciones.logoPartido!=''">
                                <img ng-src="assets/img/partidos/{{votaciones.logoPartido}}" height="30" />
                            </span>
                            <span ng-if="votaciones.logoPartido==''">
                                <label class="subTitulo_movil"><strong>{{votaciones.nombreCandidato}}</strong></label>
                            </span>

                            <br />
                            <label class="titulo_prin_obs_movil">{{votaciones.porcentaje|number:4}}% </label>
                        </td>
                        <td>
                            <label class="text-left titulo_prin_obs_movil">Total de votos  </label>
                            <br />
                            <label class="text-left titulo_prin_obs_movil">{{votaciones.totalVotos|number}}</label>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <div class="portlet-body visible-xs" ng-if="ctrl.radioSelected==2">
        <br />
        <div class="mt-list-head list-simple font-white bg-green-haze">
            <div class="row" style="margin-left:5px">
                <div class="col-xs-12">
                    <div class="list-head-title-container">
                        <h4 style="font-size:4vw"><strong>Votos por Partidos Político y Candidatura Independiente</strong></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portlet-body  visible-xs text-center" ng-if="ctrl.radioSelected==2">
        <div>
            <table class="table table-striped  table-hover">
                <thead>
                    <tr>
                        <th colspan="3" class="text-center">
                            <h1 style="font-size:4vw"><strong>Total de votos</strong> : {{ctrl.TotalVotos|number}}</h1>
                        </th>
                    </tr>
                </thead>
                <tbody ng-repeat="votaciones in ctrl.tabla_grafica">
                    <tr class="text-center">
                        <td>
                            <label class="text-left titulo_prin_obs_movil">{{votaciones.porcentaje|number:4}}% </label>
                            <br />
                            <div class="progress" style="background-color:#edc2e9;height:10px">
                                <div class="progress-bar progress-bar-success rounded-2" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="10" style="width:{{votaciones.porcentaje}}%;background-color:#8c034d">
                                    <span class="sr-only"> 30% Complete (danger) </span>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div ng-if="votaciones.logoPartido!=''">
                                <img ng-src="assets/img/partidos/{{votaciones.logoPartido}}" width="30" />
                            </div>
                            <div ng-if="votaciones.logoPartido==''">
                                <strong>{{votaciones.nombreCandidato}}</strong>
                            </div>
                        </td>
                        <td>
                            <label class="text-left titulo_prin_obs_movil">Total de votos  </label>
                            <br />
                            <label class="text-left titulo_prin_obs_movil">{{votaciones.totalVotos|number}}</label>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>    


    <div ng-if="ctrl.radioSelected==1">
        <div class="row" style="margin-left:15px">
            <div style="float:right" class="visible-xs">
                <div class="col-md-12">
                    <a ui-sref="gob_distrito" class="btn btn-default btn-circle pull-right font-dark" style="margin-right:5px">Ver detalle por Sección-Casilla</a>
                </div>
            </div>
        </div>
        &nbsp;
    </div>
    
   
<!--------------------------------------------------------------------------------------------------------------------->
    
    <!--************Tabla de estadistica de actas vista movil**************************************************-->
    <div data-ng-include="'app/componentes/plantillas/tabla-estadistica-actas-movil.html'"></div>
    <!--*****************************************************************************-->
    <div class="visible-xs">
        Participación ciudadana respecto a las Actas <br />
        contabilizadas: <strong>  {{ctrl.porcentajeContabilizadoActa|number:4}} %</strong><br />
        Total de la Lista nominal: <strong> {{ctrl.totalListaNominal|number}} </strong>
    </div>

    <!-- cambio 08-05-2018
    <div class="portlet-body">
        <div data-ng-include="'app/componentes/plantillas/detalles-votos.html'"> </div>
    </div>
        -->
    <div class="portlet-body">
        <div data-ng-include="'app/componentes/plantillas/detalles-actas.html'"> </div>
    </div>






</div>
    
