﻿<style>
    hr {
        height: 2px;
        background-color: #d52685;
    }
</style>
<div ng-controller="ayuntamientoEntController as ctrl" ng-init="ctrl.loadPage()">
    <div data-ng-include="'app/componentes/plantillas/encabezado.html'"> </div>
    <br class="visible-sm visible-xs"/>
    <div class="visible-lg visible-md visible-sm-inline-block" ng-if="ctrl.radioSelected==1">
        <span class="titulo_prin_pink">
            <strong> Mapa de Municipios del Estado de Tabasco </strong>
        </span>
        <br />
        <span class="textoNormal" >
            <strong> El mapa resalta los municipios donde aventaja el partido político, coalición o candidatura independiente hasta el momento. </strong>
        </span>
    </div>
    <div data-ng-include="'app/componentes/plantillas/mapa.html'"> </div>    
    <!--*****************************************************-->    
    <div ng-if="ctrl.radioSelected==1">
        <div class="portlet-body">
            <br class="visible-lg visible-md visible-sm"/>
            <!--
            <label class="titulo_prin_obs visible-lg visible-md visible-sm" style="font-weight:bold">{{ctrl.titulo}}</label>
            <br />
                -->
            <div class="mt-list-head list-simple font-white bg-green-haze visible-xs">
                <div class="row" style="margin-left:5px">
                    <div class="col-xs-12">
                        <div class="list-head-title-container">
                            <h4 style="font-size:4vw"><strong>{{ctrl.titulo}}</strong></h4>
                        </div>
                    </div>
                </div>
            </div>  
        </div>        
    </div>
    <div class="portlet-body" ng-if="ctrl.radioSelected==2">        
        <div class="mt-list-head list-simple font-white bg-green-haze visible-xs">
            <div class="row" style="margin-left:5px">
                <div class="col-xs-12">
                    <div class="list-head-title-container">
                        <h4 style="font-size:4vw"><strong>Votos por Partido Político y Candidatura Independiente</strong></h4>
                    </div>
                </div>
            </div>
        </div> 
        <div class="row visible-lg visible-md visible-sm" style="margin-left:5px" >
            <div class="col-xs-12">
                <div class="list-head-title-container textoNormal">
                    <i class="fa fa-info-circle"></i><strong>&nbsp;&nbsp;{{ctrl.descripcion2}}</strong>                    
                </div>
            </div>
        </div>
        <br />
    </div>
    
    <div data-ng-include="'app/componentes/plantillas/voto-partido-candidatura-barra-movil.html'"> </div>
    <hr class="visible-xs" />


    <div class="portlet-body">
        <div class="table-responsive visible-lg visible-md visible-sm">
            <table class="table table-bordered">
                <tbody>
                    <!--Fila de la grafica-->
                    <tr ng-if="ctrl.radioSelected==2">
                        <td class="td-relative">
                            <div class="etiqueta-vertical">VOTOS</div>
                            <div class="linea-100p lineagrafica  linea-inicio">{{ctrl.Chart.p5}}</div>
                            <div class="linea-75p lineagrafica  linea-inicio">{{ctrl.Chart.p4}}</div>
                            <div class="linea-50p lineagrafica linea-inicio">{{ctrl.Chart.p3}}</div>
                            <div class="linea-25p lineagrafica linea-inicio">{{ctrl.Chart.p2}}</div>
                            <div class="linea-0p lineagrafica linea-inicio">{{ctrl.Chart.p1}}</div>
                            <div class="ChartTableBar">
                                <div style="height: 250px;background:transparent;background-color:white"></div>
                            </div>
                        </td>

                        <td ng-repeat="partido in ctrl.tabla_grafica" class="td-relative relleno">
                            <div class="linea-100p lineagrafica"></div>
                            <div class="linea-75p lineagrafica"></div>
                            <div class="linea-50p lineagrafica"></div>
                            <div class="linea-25p lineagrafica"></div>
                            <div class="linea-0p lineagrafica"></div>

                            <div class="ChartTableBar" data-hint="Votos:{{partido.totalVotos|number}} Porcentaje:{{partido.porcentaje|number:4}}%">
                                <div class="barra" style="height:{{ctrl.alturaBar(ctrl.valorMaximo,partido.totalVotos)|number:2}}px;"></div>
                            </div>
                        </td>
                        <td></td>
                    </tr>
                    <!--Fila del encabezado-->
                    <tr>
                        <td> </td>
                        <td style="max-width:120px" ng-repeat="partido in ctrl.tabla_grafica" class="text-center">                            
                            <div ng-if="(partido.partidoLogo!=null||partido.logoPartido!=''||partido.logoPartido!=0)&& partido.logoPartido!='CIND.png'"> <!--cONDICION AGREGADA PARA PRUEBAS: estadistica.logoPartido!='CIND.png'" -->
                                <img ng-src="assets/img/partidos/240/{{partido.logoPartido}}" height="40" />
                                <br />                                
                            </div>
                            <div>
                                <span ng-if="partido.logoPartido=='CIND.png'"> <!--cONDICION AGREGADA PARA PRUEBAS: estadistica.logoPartido!='CIND.png'" -->
                                     CANDIDATO INDEPENDIENTE
                                </span>
                            </div>
                            <div ng-if="partido.logoPartido==''">
                                <span style="color: {{partido.max?'#e664fa':''}}" ng-if="partido.max"><strong>{{partido.nombreCandidato}}</strong></span>
                                <span ng-if="!partido.max">{{partido.nombreCandidato}}</span>
                            </div>
                        </td>
                        <td class="text-center">Total</td>
                    </tr>
                    <!--Primera fila-->
                    <tr ng-if="ctrl.radioSelected==1">
                        <td>Municipios Obtenidos </td>
                        <td class="text-center" ng-repeat="partido in ctrl.tabla_grafica">
                            <span style="color:{{partido.max?'#e664fa':''}}">{{partido.total_obtenidos|number}}</span>
                        </td>
                        <td class="text-center">{{ctrl.totalMunicipio|number}}</td>
                    </tr>
                    <tr>
                        <td>Total de votos </td>
                        <td class="text-center" ng-repeat="partido in ctrl.tabla_grafica">
                            <span style="color:{{partido.max?'#e664fa':''}}">{{partido.totalVotos|number}}</span>
                        </td>
                        <td class="text-center">{{ctrl.totalVotos|number}}</td>
                    </tr>
                    <!--Segunda fila del encabezado-->
                    <tr>
                        <td>Porcentaje </td>
                        <td class="text-center" ng-repeat="partido in ctrl.tabla_grafica">
                            <span style="color:{{partido.max?'#e664fa':''}}">{{partido.porcentaje|number:4}}</span>
                            <span style="color:{{partido.max?'#e664fa':''}}" ng-if="typeof(partido.porcentaje) !== undefined || partido.porcentaje!=null">%</span>
                        </td>
                        <td class="text-center">{{ctrl.PorcentajeTotal}}</td>
                    </tr>
                </tbody>                
            </table>
        </div>
    </div>
    <br />
    <div class="row">
        <div style="float:left;margin-left:15px;">
            <label>
                Último corte <strong>{{ctrl.horaCorte}} horas </strong>
                (<a href="https://time.is/es/UTC-5"> UTC-5</a>)
            </label>
            <label style="margin-bottom:15px;margin-right:5px">Hora local, <strong>{{ctrl.fechaCorte}}</strong> </label>
        </div>
        <div style="float:right" class="visible-lg visible-md visible-sm">
            <div class="col-md-12">
                <a ng-href="#DescargaBD" target="_blank" class="btn btn-default btn-circle pull-right font-white btn grey-mint" type="button"><i class="fa fa-download"></i> Base de datos</a>
                <a ui-sref="ayuntamiento_detalle"  class="btn btn-default btn-circle pull-right font-dark" style="margin-right:5px">Ver detalle de Entidad</a>
            </div>
        </div>
    </div>

    <br class="visible-xs"/>
    <div class="row">
        <div class="col-md-12">
            <div data-ng-include="'app/componentes/plantillas/grafica-estadistica.html'"> </div>
        </div>
    </div>

</div>