﻿<style>
      hr {
        height: 1px;
        background-color: #d52685;
    }
</style>
<div ng-controller="ayuntamientoSeccionController as ctrl" ng-init="ctrl.loadPage()">
 
    <div data-ng-include="'app/componentes/plantillas/encabezado.html'"> </div>
    <br class="visible-sm visible-xs" />
    
        <div class="m-grid m-grid-flex m-grid-responsive-md m-grid-demo">
                    <div class="m-grid-row">                        
                        <div class="m-grid-col m-grid-col-middle m-grid-col-center m-grid-col-order-2  ">
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-12 col-xs-12"><strong>Consulta otro municipio:</strong></label>
                                <div class="col-md-6 col-sm-10 col-xs-12">
                                    <select class="form-control" ng-model="ctrl.idMunicipio">
                                        <option ng-repeat="item in ctrl.Municipios" value="{{item.id}}">{{item.Nombre}}</option>
                                    </select>
                                    <br class="visible-sm visible-xs"/>
                                </div>
                            </div>                             
                        </div>                                                                      
                </div> 
            <br />
            <div>
                <label class="titulo_prin_pink">Municipio {{ctrl.Municipios[ctrl.idMunicipio-1].id}} :</label>
                <label class="titulo_prin_obs">{{ctrl.Municipios[ctrl.idMunicipio-1].Nombre}}</label>
                <br /><br />
                <label class="subTitulo visible-lg visible-md visible-sm">Resumen de la votación</label>
                <span class="visible-xs" style="font-size:18px; color:#52285B">Sección: <strong> {{ctrl.seccionSeleccion}}</strong></span>
            </div>
            </div>    


    <!--*************************Votos vista movil************************************************-->
    <!--***********************************************************************************-->
        <!--<div class="portlet light bordered  visible-xs">
            <span style="font-size:18px; color:deeppink">Municipio {{ctrl.Municipios[ctrl.idMunicipio-1].id}} :</span>
            <span style="font-size:18px; color:#52285B"><strong> {{ctrl.Municipios[ctrl.idMunicipio-1].Nombre}}</strong></span>
            <br /><br />
            <span style="font-size:18px; color:#52285B">Sección: <strong> {{ctrl.seccionSeleccion}}</strong></span>
        </div>-->    

    <div class="visible-xs">
        <div class="m-grid-col m-grid-col-middle m-grid-col-center m-grid-col-order-1" style="background-color:#bf80ff; color:white">
            <div class="form-group  ">
                <label class="control-label col-md-5 col-sm-12 col-xs-12"><strong>Consulta otra sección:</strong></label>
                <div class="col-md-6 col-sm-10 col-xs-12" >                    
                        <select class="form-control" ng-model="ctrl.seccionSeleccion" >                            
                            <option ng-repeat="item in ctrl.ltSecciones" value="{{item.id}}">{{item.Nombre}}</option>
                        </select>
                </div>
                <br class="visible-xs" /><br class="visible-xs" /><br class="visible-xs" /><br class="visible-xs" />
            </div>
        </div>
        
        <table class="table table-bordered table-hover">
            <tbody>                
                <tr ng-repeat="partido in ctrl.Partidos">

                    <td style="max-width:150px" class="text-center">
                        <div ng-if="partido.logo.indexOf('.png') !== -1">
                            <img ng-src="assets/img/partidos/240/{{partido.logo}}" height="40" />
                        </div>
                        <div ng-if="partido.logo.indexOf('.png') === -1">
                            {{partido.logo}}
                        </div>
                    </td>
                    <td ng-if="ctrl.seccionSeleccion!=null"  ng-repeat="detalle in ctrl.ltSecciones|filter: ctrl.seccionSeleccion">                                               
                            {{detalle[partido.columna]|number}} <br />
                            <label class="textoNormal">Votos</label>
                    </td>
                </tr>                
            </tbody>
        </table>  
    </div>   
     
    <div data-ng-include="'app/componentes/plantillas/tabla-estadistica-actas-movil.html'"></div>
    
        <div class="visible-xs"  ng-if="ctrl.seccionSeleccion!=null"  ng-repeat="item in ctrl.ActasDistritos|filter:ctrl.seccionSeleccion:true| limitTo:1" ng-class="{'border':($index==1)}">
            Participación ciudadana respecto a las Actas <br />
            contabilizadas: <strong>{{item.Participacion_Ciudadana|number:4}}<span ng-if="item.Participacion_Ciudadana!=null"> %</span> </strong>
            <br/>
            Total de la Lista nominal: <strong><span>{{item.TotalListaNominal|number}}</span></strong>
            
       </div>
        <div class="visible-xs" ng-if="ctrl.seccionSeleccion==null" >
            Participación ciudadana respecto a las Actas <br />
            contabilizadas: <strong>0 </strong>
            <br/>
            Total de la Lista nominal: <strong>0</strong>
        </div>

    <!--******************************************Fin vista movil***********************************-->
    
    <div class="table-responsive visible-lg visible-md visible-sm">
        <table class="table table-bordered table-hover">
            <tbody>
                <!--Fila del encabezado-->
                <tr>
                    <td style="min-width:150px"> </td>
                    <td style="max-width:150px" ng-repeat="partido in ctrl.Partidos" class="text-center">
                        <div ng-if="partido.logo.indexOf('.png') !== -1">
                            <img ng-src="assets/img/partidos/240/{{partido.logo}}" height="40" />
                        </div>
                        <div ng-if="partido.logo.indexOf('.png') === -1">
                            {{partido.logo}}
                        </div>
                    </td>
                    <td style="min-width:100px" class="text-center">Total</td>
                </tr>

                <!--Fila requerida solo para presidencia municipales y regidurias - municipio-->
                <tr ng-if="ctrl.requiereMunicipio!=null && ctrl.requiereMunicipio && ctrl.radioSelected==1">
                    <td style="background-color:#E0E0E0">Municipios Obtenidos</td>
                    <td class="text-center" ng-repeat="partido in ctrl.tabla_grafica">
                        {{partido.municipios|number}}
                    </td>
                </tr>
                <!--Primera fila-->
                <tr>
                    <td style="background-color:#E0E0E0">Total de votos</td>
                    <td class="text-center" ng-repeat="partido in ctrl.tabla_grafica">
                        <span style="color: {{partido.max?'#e664fa':''}}">{{partido.totalVotos|number}}</span>
                    </td>
                    <td class="text-center"> {{ctrl.TotalVotos|number}}</td>
                </tr>
                <!--Segunda fila del encabezado-->
                <tr>
                    <td style="background-color:#E0E0E0">Porcentaje </td>
                    <td class="text-center" ng-repeat="partido in ctrl.tabla_grafica">
                        <span style="color: {{partido.max?'#e664fa':''}}"> {{partido.porcentaje|number:4}}</span>
                        <span ng-if="partido.porcentaje!==undefined">%</span>
                    </td>
                    <td class="text-center">{{ctrl.Porcentaje}}</td>
                </tr>

                <tr style="background-color:#ebebeb" ng-if="ctrl.detallevotos_primera_columna!=undefined||ctrl.detallevotos_primera_columna!=null">
                    <th colspan="{{ctrl.Partidos.length>0?ctrl.Partidos.length+2:0}}"><strong>{{ctrl.titulo_detalle_votos}}</strong></th>
                </tr>

                <tr ng-repeat="detalle in ctrl.ltSecciones">
                    <td style="min-width:150px">
                       <!--Seccion: {{detalle.idSeccion}} Modulo:{{ctrl.modulo}}-->
                        <!--Navegacion para gobernador-->
                        <a href="#" ng-if="ctrl.modulo=='1D'" ui-sref="seccion_distrito({pIdDistrito:{{detalle.id}}})" style="text-decoration: underline;color:black">{{detalle.Nombre}}</a>
                        <a href="#" ng-if="ctrl.modulo=='1S'" ui-sref="seccion_casilla({pIdSeccion:{{detalle.id}},modulo:ctrl.modulo,pIdDistrito:{{ctrl.idMunicipio}}})" style="text-decoration: underline;color:black">{{detalle.Nombre}}</a>
                        <!--Navegacion para diputacion-->
                        <a href="#" ng-if="ctrl.modulo=='2S'||ctrl.modulo=='3S'" ui-sref="seccion_casilla({pIdSeccion:{{detalle.id}},modulo:ctrl.modulo,pIdDistrito:{{ctrl.idMunicipio}}})" style="text-decoration: underline;color:black">{{detalle.Nombre}}</a>
                        <a href="#" ng-if="ctrl.modulo=='2DE'" ui-sref="dip_detalle_distrito({pIdDistrito:{{detalle.id}}})" style="text-decoration: underline;color:black">{{detalle.Nombre}}</a>
                        <a href="#" ng-if="ctrl.modulo=='3HM'" ui-sref="ayuntamiento_detalle({pIDMunicipio:{{detalle.id}}})" style="text-decoration: underline;color:black">{{detalle.Nombre}}</a>
                    </td>
                    <td style="min-width:100px" class="text-center" ng-repeat="partido in ctrl.Partidos">
                        {{detalle[partido.columna]|number}}
                    </td>
                    <td class="text-center">{{detalle.TotalVotos|number}}</td>
                </tr>
                <tr style="background-color:#E0E0E0">
                    <td>Total de votos</td>
                    <td class="text-center" ng-repeat="partido in ctrl.tabla_grafica">
                        <span style="color: {{partido.max?'#e664fa':''}}">{{partido.totalVotos|number}}</span>
                    </td>
                    <td class="text-center"> {{ctrl.TotalVotos|number}}</td>
                </tr>

            </tbody>
        </table>
    </div>
    <!--**************************************************************************
        Cambio 08-05-2018
    <div data-ng-include="'app/componentes/plantillas/resumen-votacion.html'"> </div>
    <div data-ng-include="'app/componentes/plantillas/detalles-votos.html'"> </div>
        -->
    <br />
    <div class="row">
        <div style="float:left;margin-left:15px;">
            <label>
                Último corte <strong>{{ctrl.horaCorte}} horas </strong>
                (<a href="https://time.is/es/UTC-5"> UTC-5</a>)
            </label>
            <label style="margin-bottom:15px;margin-right:5px">Hora local, <strong>{{ctrl.fechaCorte}}</strong> </label>
        </div>
        <div style="float:right" class="visible-lg visible-md visible-sm">
            <div class="col-md-12">
                <a ng-href="#DescargaBD" target="_blank" class="btn btn-default btn-circle pull-right font-white btn grey-mint" type="button"><i class="fa fa-download"></i> Base de datos</a>
            </div>
        </div>
    </div>
    <div data-ng-include="'app/componentes/plantillas/detalles-actas.html'"> </div>
</div>
