﻿<div ng-controller="ayuntamientoDetalleController as ctrl" ng-init="ctrl.loadPage()">
    <!--Componenete tabla con los datos de le encabezado de la tabla-->
    <div data-ng-include="'app/componentes/plantillas/encabezado.html'"> </div>
    <br class="visible-xs"/>
    <div class="portlet light bordered">

        <div class="portlet-body">
            <div class="form-group">
                
                <label class="control-label col-md-3 col-sm-12 col-xs-12"><strong>Consulta otro municipio:</strong></label>
                <div class="col-md-7 col-sm-10 col-xs-12 textoNormal4">
                    <select class="form-control" name="mySelect" ng-if="ctrl.radioSelected==2"
                            ng-options="option.Nombre for option in ctrl.Municipios track by option.id"
                            ng-model="ctrl.MunicipioSeleccionado"></select>
                    <select class="form-control" name="mySelect" ng-if="ctrl.radioSelected==1"
                            ng-options="option.Nombre for option in ctrl.MunicipiosPartidos track by option.id"
                            ng-model="ctrl.MunicipioSeleccionado"></select>
                </div>
                <br/> 
                <br />
                <br />
                <br />
                <label class="textoNormal4 control-label col-md-12 col-sm-12 col-xs-12">Municipio: {{ctrl.MunicipioSeleccionado.id}}: <strong>{{ctrl.MunicipioSeleccionado.Nombre}}</strong></label>
            </div>
        </div>
        <br />
    </div>
    <div class="portlet-body" ng-if="ctrl.radioSelected==2">
        <br />
        <div class="mt-list-head list-simple font-white bg-green-haze visible-xs">
            <div class="row" style="margin-left:5px">
                <div class="col-xs-12">
                    <div class="list-head-title-container">
                        <h4 style="font-size:4vw"><strong>Votos por Partidos Político y Candidatura Independiente</strong></h4>
                    </div>
                </div>
            </div>
        </div>
        <div data-ng-include="'app/componentes/plantillas/voto-partido-candidatura-barra-movil.html'"> </div>
    </div>

    <div data-ng-include="'app/componentes/plantillas/votos-por-candidatura.html'"> </div>
 
    <h1 class="titulo_prin_obs visible-lg visible-md visible-sm" style="font-weight:bold">Resumen de la votación</h1>
    <div class="portlet-body  table-responsive">
        <div class="visible-lg visible-md visible-sm">
            
            <table class="table table-bordered">
                <tbody>
                    <!--Fila del encabezado-->
                    <tr>
                        <td> </td>
                        <td ng-repeat="partido in ctrl.tabla_grafica" class="text-center {{partido.max?'sombraclara':''}}">
                            <div ng-if="partido.logoPartido!=''">
                                <img ng-src="assets/img/partidos/240/{{partido.logoPartido}}" height="40" />
                                <br />
                                <div class="text-center">
                                    <span ng-if="partido.max" style="color:{{partido.max?'#d52685':''}}"><strong>{{partido.nombreCandidato}}</strong> </span>
                                    <span ng-if="partido.max==false">{{partido.nombreCandidato}} </span> 
                                </div>
                            </div>
                            <div ng-if="partido.logoPartido==''">   
                                <span ng-if="partido.max" style="color:{{partido.max?'#d52685':''}}"><strong>{{partido.nombreCandidato}}</strong> </span>                             
                                <span ng-if="!partido.max">{{partido.nombreCandidato}} </span> 
                            </div>
                        </td>
                        <td class="text-center">Total</td>
                    </tr>
                    <tr>
                        <td>Total de votos </td>
                        <td class="text-center" ng-repeat="partido in ctrl.tabla_grafica">
                            <span ng-if="partido.max" style="color:{{partido.max?'#d52685':''}}"><strong>{{partido.totalVotos|number}}</strong> </span>
                            <span ng-if="partido.max==false">{{partido.totalVotos|number}} </span>                            
                        </td>
                        <td class="text-center">{{ctrl.TotalVotos|number}}</td>
                    </tr>
                    <!--Segunda fila del encabezado-->
                    <tr>
                        <td>Porcentaje </td>
                        <td class="text-center  " ng-repeat="partido in ctrl.tabla_grafica">
                            <span ng-if="partido.max" style="color:{{partido.max?'#d52685':''}}"><strong>{{partido.porcentaje|number:4}}%</strong> </span>
                            <span ng-if="partido.max==false" >{{partido.porcentaje|number:4}}% </span>                            
                        </td>
                        <td class="text-center">{{ctrl.Porcentaje}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div style="float:right">
            <div class="col-md-12">
                <a ng-if="ctrl.radioSelected==1"  ng-click="ctrl.click_seccion_casilla()"    class="btn btn-default btn-circle pull-right font-dark visible-xs" style="margin-right:5px">Ver detalle por Sección-Casilla</a>                
                    <br />
                    <br />
                    <br class="visible-xs" />
                    <br class="visible-xs" />
            </div>
        </div>
    </div>


    <br class="visible-xs" />
    <br class="visible-xs" />
    <div data-ng-include="'app/componentes/plantillas/candidaturaDistrito.html'"> </div>        
    <div data-ng-include="'app/componentes/plantillas/desglose-votos-candidatura-movil.html'"> </div>    
    <div class="row">
        <div style="float:left;margin-left:15px;" class="visible-lg visible-md visible-sm">
            <label>
                Último corte <strong>{{ctrl.horaCorte}} horas </strong>
                (<a href="https://time.is/es/UTC-5"> UTC-5</a>)
            </label>
            <label style="margin-bottom:15px;margin-right:5px">Hora local, <strong>{{ctrl.fechaCorte}}</strong> </label>
        </div>
        <div style="float:right">
            <div class="col-md-12">
                <a ng-href="#DescargaBD" target="_blank" class="btn btn-default btn-circle pull-right font-white btn grey-mint" type="button"><i class="fa fa-download"></i> Base de datos</a>
                <a ng-if="ctrl.radioSelected==1" ui-sref="ayuntamiento_desglose_seccion({pIdMunicipio:ctrl.MunicipioSeleccionado.id })" class="btn btn-default btn-circle pull-right font-dark  visible-xs" style="margin-right:5px">Ver detalle Entidad</a>
                <a  ng-click="ctrl.click_seccion_casilla()" class="btn btn-default btn-circle pull-right font-dark " style="margin-right:5px">Ver detalle por Sección-Casilla</a>
                <br />
                <br />
                <br class="visible-xs" />
                <br class="visible-xs" />
            </div>
        </div>
    </div>
    <div data-ng-include="'app/componentes/plantillas/detalles-actas.html'"> </div>
    <div data-ng-include="'app/componentes/plantillas/tabla-estadistica-actas-movil.html'"></div>
    <div class="visible-xs">
        Participación ciudadana respecto a las Actas <br />
        contabilizadas: <strong>  {{ctrl.ActasDistritos[0].Participacion_Ciudadana|number:4}} %</strong><br />
        Total de la Lista nominal: <strong> {{ctrl.ActasDistritos[0].TotalListaNominal|number}} %</strong>
    </div>
</div>
