﻿<style>
    .imagen {
        width: 100%;
        height: auto;
    }
</style>
<div ng-controller="bdController as ctrl" ng-init="ctrl.loadPage()">
    <div class="col-md-12">
        <div class="portlet  ">
            <br />
            <div class="portlet-title text-center">
                <div class="texto-2 text-center" style="background-color:#8c034d">
                    <strong style="color:white"> Elecciones Estatales de Tabasco </strong><!-- <i class="fa fa-gift"></i> -->
                    <br/>
                    <span style="color:white"> Programa de Resultados Electorales Preliminares </span><!-- <i class="fa fa-gift"></i> -->
                </div>
            </div>
            <div class="row">
                <div style="float:left;margin-left:15px;" class="textoNormal">
                    <label>
                        Último corte <strong>{{ctrl.horaCorte}} horas </strong>
                        (<a href="http://www.cenam.mx/hora_oficial/"> UTC-5</a>)
                    </label>
                    <br />
                    <label style="margin-bottom:15px;margin-right:5px">Hora local, <strong>{{ctrl.fechaCorte}}</strong> </label>                    
                </div>                              
            </div>
            <br/>

            <div class="texto-2 text-center">
                <span> <strong>Descarga la base de datos</strong> | PREP Tabasco </span>
            </div>
            <div class="m-grid m-grid-flex m-grid-responsive-md m-grid-demo ">
                <div class="m-grid-row">                   
                    <div class="m-grid-col m-grid-col-middle m-grid-col-left m-grid-col-order-1 ">
                        <br/>
                        <div class="m-grid-col m-grid-col-middle m-grid-col-center col-lg-12" style="border:none">
                            <a href="#" class="btn btn-default btn-circle  font-white btn grey-mint" ng-click="ctrl.exportarDatos()" type="button"><i class="fa fa-download"></i> Base de datos</a>
                        </div>
                        <div class="col-lg-12  textoNormal">                            
                            <p style="margin-left:15px;">
                                La base de datos es un archivo comprimido con extención tar.gz, el cual incluye los siguientes documentos:
                            </p>
                            <p style="margin-left:30px;">
                                gubernatura.csv <br />
                                diputaciones.csv<br />
                                ayuntamientos.csv<br />                                
                                gubernatura_candidaturas_2018.csv<br />
                                diputaciones_candidaturas_2018.csv<br />
                                ayuntamientos_candidaturas_2018.csv<br />                                
                                LEEME.txt
                            </p>
                            <p style="margin-left:15px;">
                                Los siguientes archivos contienen datos por:
                            </p>
                            <div class="m-grid m-grid-responsive-lg m-grid-demo col-lg-12">
                                <div class="m-grid-row">
                                    <div class="m-grid-col m-grid-col-middle m-grid-col-center col-lg-3" style="border:none">
                                        <strong> gubernatura.csv</strong> <br />Entidad, Municipio, Sección y Casilla.
                                    </div>
                                    <div class="m-grid-col m-grid-col-middle m-grid-col-center col-lg-3" style="border:none">
                                        <strong>diputaciones.csv</strong> <br />Entidad, Distrito, Sección y Casilla.
                                    </div>
                                    <div class="m-grid-col m-grid-col-middle m-grid-col-center col-lg-3" style="border:none">
                                        <strong>ayuntamientos.csv </strong> <br /> Entidad, Municipio, Sección y Casilla.
                                    </div>                                    
                                </div>
                            </div>
                            <p style="margin-left:15px;">
                                de votos por partido político, candidato independiente, coalición, votos nulos y totales. <br /><br />
                                El archivo:<br /><br />
                                <strong>gubernatura_candidaturas_2018.csv</strong> contiene la lista de candidatos propietarios y suplentes a Gobernador, por Entidad, Municipio, Partido y Candidato Independiente.<br />
                                <strong>diputaciones_candidaturas_2018.csv</strong> contiene la lista de candidatos propietarios y suplentes a Diputados Locales, considerando datos de Entidad, Distrito, Partido y Candidato Independiente.<br />
                                <strong>ayuntamientos_candidaturas_2018.csv</strong> contiene la lista de candidatos propietarios y suplentes a Presidentes Municipales y Regidurías por Entidad, Municipio, Partido y Candidato Independiente.<br />
                                
                                LEEME.txt, presenta un resumen del contenido en los dos archivos para una referencia rápida.<br />
                                <br />
                                <strong> Nota: Los datos contenidos están actualizados a la fecha y hora del último corte del PREP.</strong>
                            </p>
                            <hr align="left" noshade="noshade" size="2" width="100%" />
                            <p style="margin-left:15px;">
                                <strong><i class="fa fa-check"></i> 1. Descarga </strong> <br />
                                Para activar la descarga del archivo oprime el botón:
                                <div class="m-grid-col m-grid-col-middle m-grid-col-center col-lg-12" style="border:none">
                                    <a href="#" class="btn btn-default btn-circle  font-white btn grey-mint" ng-click="ctrl.exportarDatos()" type="button"><i class="fa fa-download"></i> Base de datos</a>
                                </div>
                            </p>
                            <p style="margin-left:15px;">
                                <br /><br /><br />
                                Localiza el archivo en la ubicación que hayas elegido, o bien en tu historial de descargas. Puedes hacerlo presionando: <br />
                                <strong> CTRL + J</strong>, si eres usuario Windows.<br />
                                <strong> Alt + Cmd + L</strong> si eres usuario Mac. <br />
                                Se abrirá la ventana de Descargas, ubica el archivo y seleccionalo.
                            </p>
                            <hr align="left" noshade="noshade" size="2" width="100%" />
                            <div class="m-grid m-grid-flex m-grid-responsive-md m-grid-demo" style="margin-left:15px;" >
                                <div class="m-grid-row">
                                    <div class="m-grid-col m-grid-col-middle m-grid-col-left m-grid-col-order-1" style="border:none">
                                        <strong><i class="fa fa-check"></i>  2. Descomprime el archivo </strong> <br /><br />
                                        <span> Para activar la descarga del archivo oprime el botón:</span> <br />
                                        <span style="margin-left:20px;"> <strong> Extraer aquí </strong>para guardar en la misma carpeta</span> <br />
                                        <span style="margin-left:20px;"> <strong> Extraer ficheros...</strong> si deseas guardar en otra ubicación.</span> <br />
                                        Una vez realizada esta acción, se abre una ventana mostrando el proceso de extracción que se muestra en la imagen.
                                        Al terminar, tendrás el archivo descomprimido.<br />
                                        <strong> Nota: </strong><br />
                                        Al tratarse de un archivo comprimido, es necesario tener el software Winrar o 7-Zip instalado en el caso de Windows; o bien Zipeg, Expander o RAR para usuarios Mac. Si tienes instalado Winzip, no funcionará.
                                    </div>
                                    <div class="m-grid-col m-grid-col-middle m-grid-col-center m-grid-col-order-2 " style="border:none">
                                        <img class="imagen" src="../assets/img/ayuda/1.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <hr align="left" noshade="noshade" size="2" width="100%" />
                            <div class="m-grid m-grid-flex m-grid-responsive-md m-grid-demo" style="margin-left:15px;">
                                <div class="m-grid-row">
                                    <div class="m-grid-col m-grid-col-middle m-grid-col-left m-grid-col-order-1" style="border:none">
                                        <strong><i class="fa fa-check"></i>  3. Abre los archivos </strong> <br /><br />
                                        Haz doble clic sobre alguno de los archivos extraídos:                                        
                                        <br /><br />
                                        <div style="margin-left:20px;">
                                            gubernatura.csv <br />
                                            diputaciones.csv<br />
                                            ayuntamientos.csv<br />
                                            gubernatura_candidaturas_2018.csv<br />
                                            diputaciones_candidaturas_2018.csv<br />
                                            ayuntamientos_candidaturas_2018.csv<br />                                            
                                        </div>
                                        <br /><br />
                                        Recuerda, los archivos csv contienen información que puedes ver en programas de hoja de cálculo (como Excel, Access, Calc Open Office, Smartsheet, entre otros).
                                    </div>
                                    <div class="m-grid-col m-grid-col-middle m-grid-col-center m-grid-col-order-2 " style="border:none">
                                        <img class="imagen" src="../assets/img/ayuda/2.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <hr align="left" noshade="noshade" size="2" width="100%" />
                            <div class="m-grid m-grid-flex m-grid-responsive-md m-grid-demo" style="margin-left:15px;">
                                <div class="m-grid-row">
                                    <div class="m-grid-col m-grid-col-middle m-grid-col-left m-grid-col-order-1" style="border:none">
                                        <strong><i class="fa fa-check"></i>  4. Consulta</strong> <br /><br />
                                        Finalmente, accedes a la información que contiene la base de datos obtenida a través de las Actas de Escrutinio y Cómputo que procesó el PREP. <br/><br />
                                        Para una adecuada lectura de las fechas y horas de corte, realiza los siguientes pasos:<br /><br />
                                        Dentro del archivo gubernatura.csv selecciona las últimas tres columnas:<br /><br />

                                        FECHA_ACOPIO<br/>
                                        HORA_CAPTURADA<br />
                                        HORA_REGISTRO
                                        <br /><br />
                                        Una vez seleccionadas, haz clic con el botón derecho del ratón y selecciona Formato de celdas...<br /><br />
                                        La ventana se muestra en la pestaña Números:<br /><br />
                                        De la sección Categoría, selecciona Personalizada.<br /><br />
                                        De la sección Tipo escoge dd/mm/aaaa hh:mm<br /><br />
                                        Presiona Aceptar.
                                    </div>
                                    <div class="m-grid-col m-grid-col-middle m-grid-col-center m-grid-col-order-2 " style="border:none">
                                        <img class="imagen" src="../assets/img/ayuda/3.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            
            
      </div>
   </div>
</div>
