﻿<div ng-controller="dipSeccionDistritoController as ctrl"  ng-init="ctrl.loadPage()">  
    <!--Componenete tabla con los datos de le encabezado de la tabla-->
    <div data-ng-include="'app/componentes/plantillas/encabezado.html'"> </div>
        
    <br class="visible-sm visible-xs" />
    <div class="m-grid m-grid-flex m-grid-responsive-md m-grid-demo">
        <div class="m-grid-row">
            <div class="m-grid-col m-grid-col-middle m-grid-col-center m-grid-col-order-2  ">
                <div class="form-group">
                    <label class="control-label col-md-4 col-sm-3 col-xs-12"><strong>Consulta otro Distrito:</strong></label>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <select class="form-control" ng-model="ctrl.idDistrito">
                            <option ng-repeat="item in ctrl.Municipios" value="{{item.id}}">{{item.Nombre}}</option>
                        </select>
                        <br class="visible-sm visible-xs" />
                    </div>
                </div>
            </div>
        </div>
     </div>

        <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-12">
                <div class="portlet-body table-responsive visible-lg visible-md visible-sm">
                    <div class="visible-lg visible-md visible-sm">
                        <label class="titulo_prin_obs"> <strong>Resumen de la votación</strong> </label>
                    </div>
                </div>
            </div>
        </div>

        <br class="visible-xs" />
        <div id="nombre_distrito"
             class="visible-xs titulo_prin_pink_movil" style="font-size:14px;font-weight:bold;margin-bottom:10px">
            <div class="portlet light bordered visible-xs">
                <span style="font-size:18px; color:deeppink">Municipio {{ctrl.Municipios[ctrl.idDistrito-1].id}} :</span>
                <span style="font-size:18px; color:#52285B"><strong> {{ctrl.Municipios[ctrl.idDistrito-1].Nombre}}</strong></span>
                <br /><br />
                <span style="font-size:18px; color:#52285B">Sección: <strong> {{ctrl.seccionSeleccion}}</strong></span>
            </div>
        </div>
        <!--*************************Votos por partido politico vista movil************************************************-->
        <!--***********************************************************************************-->


        <div class="visible-xs">
            <div class="m-grid-col m-grid-col-middle m-grid-col-center m-grid-col-order-1" style="background-color:#bf80ff; color:white">
                <div class="form-group  ">
                    <label class="control-label col-md-5 col-sm-12 col-xs-12"><strong>Consulta otra sección:</strong></label>
                    <div class="col-md-6 col-sm-10 col-xs-12">
                        <select class="form-control" ng-model="ctrl.seccionSeleccion">
                            <option ng-repeat="item in ctrl.ltSecciones" value="{{item.id}}">{{item.Nombre}}</option>
                        </select>
                    </div>
                    <br class="visible-xs" /><br class="visible-xs" /><br class="visible-xs" /><br class="visible-xs" />
                </div>
            </div>

            <table class="table table-bordered table-hover">
                <tbody>
                    <tr ng-repeat="partido in ctrl.Partidos">

                        <td style="max-width:150px" class="text-center">
                            <div ng-if="partido.logo.indexOf('.png') !== -1">
                                <img ng-src="assets/img/partidos/240/{{partido.logo}}" height="40" />
                            </div>
                            <div ng-if="partido.logo.indexOf('.png') === -1">
                                {{partido.logo}}
                            </div>
                        </td>
                        <td ng-if="ctrl.seccionSeleccion!=null" ng-repeat="detalle in ctrl.ltSecciones|filter: ctrl.seccionSeleccion">
                            {{detalle[partido.columna]|number}} <br />
                            <label class="textoNormal">Votos</label>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div data-ng-include="'app/componentes/plantillas/tabla-estadistica-actas-movil.html'"></div>

        <div class="visible-xs" ng-if="ctrl.seccionSeleccion!=null" ng-repeat="item in ctrl.ActasDistritos|filter:ctrl.seccionSeleccion:true| limitTo:1" ng-class="{'border':($index==1)}">
            Participación ciudadana respecto a las Actas <br />
            contabilizadas: <strong>{{item.Participacion_Ciudadana|number:4}}<span ng-if="item.Participacion_Ciudadana!=null"> %</span> </strong>
            <br />
            Total de la Lista nominal: <strong><span>{{item.TotalListaNominal|number}}</span></strong>

        </div>
        <div class="visible-xs" ng-if="ctrl.seccionSeleccion==null">
            Participación ciudadana respecto a las Actas <br />
            contabilizadas: <strong> 0 </strong>
            <br />
            Total de la Lista nominal: <strong>0</strong>
        </div>

        <!----**********************************************************************************-->

        <div class="table-responsive visible-lg visible-md visible-sm">
            <table class="table table-bordered table-hover">
                <tbody>
                    <!--Fila del encabezado-->
                    <tr>
                        <td style="min-width:150px"> </td>
                        <td style="max-width:150px" ng-repeat="partido in ctrl.Partidos" class="text-center">
                            <div ng-if="partido.logo.indexOf('.png') !== -1">
                                <img ng-src="assets/img/partidos/240/{{partido.logo}}" height="40" />
                            </div>
                            <div ng-if="partido.logo.indexOf('.png') === -1">
                               {{partido.logo}}
                            </div>
                        </td>
                        <td style="min-width:100px" class="text-center">Total</td>
                    </tr>

                    <!--Primera fila-->
                    <tr>
                        <td style="background-color:#E0E0E0">Total de votos</td>
                        <td class="text-center" ng-repeat="partido in ctrl.tabla_grafica">
                            <span style="color: {{partido.max?'#e664fa':''}}">{{partido.totalVotos|number}}</span>
                        </td>
                        <td class="text-center"> {{ctrl.TotalVotos|number}}</td>
                    </tr>
                    <!--Segunda fila del encabezado-->
                    <tr>
                        <td style="background-color:#E0E0E0">Porcentaje </td>
                        <td class="text-center" ng-repeat="partido in ctrl.tabla_grafica">
                            <span style="color: {{partido.max?'#e664fa':''}}"> {{partido.porcentaje|number:4}}</span>
                            <span ng-if="partido.porcentaje!==undefined">%</span>
                        </td>
                        <td class="text-center">{{ctrl.Porcentaje}}</td>
                    </tr>

                    <tr style="background-color:#ebebeb" ng-if="ctrl.detallevotos_primera_columna!=undefined||ctrl.detallevotos_primera_columna!=null">
                        <th colspan="{{ctrl.Partidos.length>0?ctrl.Partidos.length+2:0}}"><strong>{{ctrl.titulo_detalle_votos}}</strong></th>
                    </tr>

                    <tr ng-repeat="detalle in ctrl.ltSecciones">
                        <td style="min-width:150px">
                            <!--Navegacion para gobernador-->
                            <a href="#" ng-if="ctrl.modulo=='1D'" ui-sref="seccion_distrito({pIdDistrito:{{detalle.id}}})" style="text-decoration: underline;color:black">{{detalle.Nombre}}</a>

                            <a href="#" ng-if="ctrl.modulo=='1S'" ui-sref="seccion_casilla({pIdSeccion:{{detalle.id}},modulo:ctrl.modulo,pIdDistrito:{{ctrl.idDistrito}}})" style="text-decoration: underline;color:black">{{detalle.Nombre}}</a>
                            <a href="#" ng-if="ctrl.modulo=='2S'||ctrl.modulo=='3S'" ui-sref="seccion_casilla({pIdSeccion:{{detalle.id}},modulo:ctrl.modulo,pIdDistrito:{{ctrl.idDistrito}}})" style="text-decoration: underline;color:black">{{detalle.Nombre}}</a>


                            <a href="#" ng-if="ctrl.modulo=='2DE'" ui-sref="dip_detalle_distrito({pIdDistrito:{{detalle.id}}})" style="text-decoration: underline;color:black">{{detalle.Nombre}}</a>
                            <a href="#" ng-if="ctrl.modulo=='3HM'" ui-sref="ayuntamiento_detalle({pIDMunicipio:{{detalle.id}}})" style="text-decoration: underline;color:black">{{detalle.Nombre}}</a>
                        </td>
                        <td style="min-width:100px" class="text-center" ng-repeat="partido in ctrl.Partidos">
                            {{detalle[partido.columna]|number}}
                        </td>
                        <td class="text-center">{{detalle.TotalVotos|number}}</td>
                    </tr>
                    <tr style="background-color:#E0E0E0">
                        <td>Total de votos</td>
                        <td class="text-center" ng-repeat="partido in ctrl.tabla_grafica">
                            <span style="color: {{partido.max?'#e664fa':''}}">{{partido.totalVotos|number}}</span>
                        </td>
                        <td class="text-center"> {{ctrl.TotalVotos|number}}</td>
                    </tr>

                </tbody>
            </table>
        </div>
        <!--revisar si se usa en vista movil
        <div data-ng-include="'app/componentes/plantillas/detalles-votos.html'"> </div>
            -->
    <div class="row">
        <br />
        <div class="col-md-12">
            <div style="float:left;">
                <label>
                    Último corte <strong>{{ctrl.horaCorte}} horas </strong>
                    (<a href="https://time.is/es/UTC-5" target="_blank"> UTC-5</a>)
                </label>
                <label style="margin-bottom:15px;margin-right:5px">Hora local, <strong>{{ctrl.fechaCorte}}</strong> </label>
            </div>
            <div style="float:right" class="visible-lg visible-md visible-sm">
                <div class="col-md-12">
                    <a ng-href="#DescargaBD" target="_blank" class="btn btn-default btn-circle pull-right font-white btn grey-mint visible-lg visible-sm visible-xs" type="button"><i class="fa fa-download"></i> Base de datos</a>
                </div>
            </div>
        </div>
    </div>

        <div data-ng-include="'app/componentes/plantillas/detalles-actas.html'"> </div>

    </div>
<script type="text/javascript">
    var str = "";
    $("#idDistrito").change(function () {
        var str = "";
        $("#idDistrito option:selected").each(function () {
            str += $(this).text() + " ";
        });
        $("#nombre_distrito").text(str);
    });
</script>