﻿<style>
    hr {
        height: 1px;
        background-color: #d52685;
    }
</style>
<div ng-controller="dipDetalleEntidadController as ctrl" ng-init="ctrl.loadPage()">
    <!--Componenete tabla con los datos de le encabezado de la tabla-->
    <div data-ng-include="'app/componentes/plantillas/encabezado.html'"> </div>

   <!-- /*********************DETALLE DE CASILLA***********************/-->
    <div ng-if="ctrl.radioSelected==3">
        <div data-ng-include="'app/componentes/plantillas/seccion_distrito.html'"></div>
    </div>

   

    <!--**************************Tabla resumen Votacion Por agrupacion  vista normal**********************************-->
    <div class="portlet-body" ng-if="ctrl.radioSelected!=3">
        <label class="titulo_prin_obs visible-lg visible-md visible-sm">Resumen de la votación</label>
    </div>
    <div ng-if="ctrl.radioSelected!=3" class="visible-lg visible-md visible-sm">
        <div class="table-responsive" >
            <table class="table table-bordered">
                <tbody>
                    <!--Fila del encabezado-->
                    <tr>
                        <td> </td>
                        <td ng-repeat="partido in ctrl.tabla_grafica" class="text-center">
                            <div ng-if="partido.logoPartido!=''">
                                <img ng-src="assets/img/partidos/240/{{partido.logoPartido}}" height="40" />
                                <br />
                                <div class="text-center">
                                    <strong>{{partido.nombreCandidato}}</strong>
                                </div>
                            </div>
                            <div ng-if="partido.logoPartido==''">
                                {{partido.nombreCandidato}}
                            </div>
                        </td>
                        <td class="text-center">Total</td>
                    </tr>
                    <!--Primera fila-->
                    <tr ng-if="ctrl.radioSelected==1">
                        <td>Distritos Obtenidos </td>
                        <td class="text-center" ng-repeat="partido in ctrl.tabla_grafica">
                            {{partido.total_obtenidos|number}}
                        </td>
                        <td class="text-center">{{ctrl.totalDistritos|number}}</td>
                    </tr>
                    <tr>
                        <td style="background-color:#E0E0E0">Total de votos </td>
                        <td class="text-center" ng-repeat="partido in ctrl.tabla_grafica">
                            {{partido.totalVotos|number}}
                        </td>
                        <td class="text-center">{{ctrl.TotalVotos|number}}</td>
                    </tr>
                    <!--Segunda fila del encabezado-->
                    <tr>
                        <td style="background-color:#E0E0E0">Porcentaje </td>
                        <td class="text-center" ng-repeat="partido in ctrl.tabla_grafica">
                            <span style="color:{{partido.max?'#d52685':''}}">{{partido.porcentaje|number:4}}</span>
                            <span ng-if="typeof(partido.porcentaje) !== undefined || partido.porcentaje!=null">%</span>
                        </td>
                        <td class="text-center">{{ctrl.PorcentajeTotal}}</td>
                    </tr>

                    <tr style="background-color:#ebebeb" ng-if="ctrl.detallevotos_primera_columna!=undefined||ctrl.detallevotos_primera_columna!=null">
                        <th colspan="{{ctrl.DetalleVotos.length>0?ctrl.DetalleVotos[0].Partidos.length+2:0}}"><strong>{{ctrl.titulo_detalle_votos}}</strong></th>
                    </tr>

                    <tr ng-repeat="detalle in ctrl.DetalleVotos">
                        <td style="min-width:150px">
                            <!--Seccion: {{detalle.idSeccion}} Modulo:{{ctrl.modulo}}-->
                            <!--Navegacion para gobernador-->
                            <a href="#" ng-if="ctrl.modulo=='1D'" ui-sref="seccion_distrito({pIdDistrito:{{detalle.id}}})" style="text-decoration: underline;color:black">{{detalle.Nombre}}</a>
                            <a href="#" ng-if="ctrl.modulo=='1S'" ui-sref="seccion_casilla({pIdSeccion:{{detalle.idSeccion}},modulo:ctrl.modulo})" style="text-decoration: underline;color:black">{{detalle.Nombre}}</a>
                            <!--Navegacion para diputacion-->
                            <a href="#" ng-if="ctrl.modulo=='2S'||ctrl.modulo=='3S'" ui-sref="({pIdSeccion:{{detalle.id}},modulo:ctrl.modulo})" style="text-decoration: underline;color:black">{{detalle.Nombre}}</a>
                            <a href="#" ng-if="ctrl.modulo=='2DE'" ui-sref="dip_detalle_distrito({pIdDistrito:{{detalle.id}}})" style="text-decoration: underline;color:black">{{detalle.Nombre}}</a>
                            <a href="#" ng-if="ctrl.modulo=='3HM'" ui-sref="ayuntamiento_detalle({pIDMunicipio:{{detalle.id}}})" style="text-decoration: underline;color:black">{{detalle.Nombre}}</a>
                        </td>
                        <td style="min-width:100px" ng-class="{tdbg:item.votos==='P'}" class="text-center" ng-repeat="item in detalle.Partidos">
                            {{item.votos|number}}
                        </td>
                        <td class="text-center">{{detalle.TotalVotos|number}}</td>
                    </tr>
                    <tr style="background-color:#E0E0E0">
                        <td>Total de votos</td>
                        <td class="text-center" ng-repeat="partido in ctrl.tabla_grafica">
                            <span style="color: {{partido.max?'#e664fa':''}}">{{partido.totalVotos|number}}</span>
                        </td>
                        <td class="text-center"> {{ctrl.TotalVotos|number}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="display:flex;align-items:center;margin-bottom:0px;margin-top:0px"><div class="tdbg" style="width:50px;height:22px"></div><p>El partido político, la coalición o el candidato independiente no participa en este caso particular.</p></div>
    </div>
    

    <!-- ***********Estructura para vista menor a 600 px Tabla vista movil distritos obtenido********************-->
     <div ng-if="ctrl.radioSelected==1">
        <div class="portlet-body"> 
            <div class="mt-list-head list-simple font-white bg-green-haze visible-xs">
                <br />
                <br />
                <div class="row" style="margin-left:5px">
                    <div class="col-xs-12">
                        <div class="list-head-title-container">
                            <h4 style="font-size:4vw"><strong>Distritos</strong></h4>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
        

         <div class="portlet-body  visible-xs text-center">
             <!--ng-if="ctrl.radioSelected==1"-->
             <table class="table table-striped  ">
                 <tr>
                     <th class="text-center">
                         <label>
                             <span>
                                 Distritos
                                 <br />
                                {{ctrl.totalDistritos|number}}
                             </span>                           
                         </label>
                     </th>
                     <th class="text-center titulo_prin_pink_movil">
                         <i class="fa-2x fa fa-ellipsis-v"></i>
                         Total de votos
                         <i class="fa-2x fa fa-ellipsis-v"></i>
                     </th>
                     <th class="text-center"> {{ctrl.TotalVotos|number}}    </th>
                 </tr>

                 <tbody ng-repeat="votaciones in ctrl.tabla_grafica">
                     <tr class="text-center">
                         <td>
                             <label class="titulo_prin_obs_movil">
                                 {{votaciones.total_obtenidos|number}}
                                 <br />
                                 <span >
                                     <label> Distritos</label>
                                 </span>                                 
                                 <br />  obtenidos
                             </label>
                         </td>
                         <td>
                             <span ng-if="votaciones.logoPartido!=''">
                                 <img ng-src="assets/img/partidos/{{votaciones.logoPartido}}"  height="30" />
                             </span>
                             <span ng-if="votaciones.logoPartido==''">
                                 <label class="subTitulo_movil"><strong>{{votaciones.nombreCandidato}}</strong></label>
                             </span>
                             
                             <br />
                             <label class="titulo_prin_obs_movil">{{votaciones.porcentaje|number:4}}% </label>
                         </td>
                         <td>
                             <label class="text-left titulo_prin_obs_movil">Total de votos  </label>
                             <br />
                             <label class="text-left titulo_prin_obs_movil">{{votaciones.totalVotos|number}}</label>
                         </td>
                     </tr>
                 </tbody>
             </table>
         </div>

    </div>


    <!--*************************Votos por partido politico vista movil************************************************-->
    <!--***********************************************************************************-->
    <div class="portlet-body visible-xs" ng-if="ctrl.radioSelected==2">
        <br />
        <div class="mt-list-head list-simple font-white bg-green-haze">
            <div class="row" style="margin-left:5px">
                <div class="col-xs-12">
                    <div class="list-head-title-container">
                        <h4 style="font-size:4vw"><strong>Votos por Partidos Político y Candidatura Independiente</strong></h4>
                    </div>
                </div>
            </div>
        </div>  
    </div>

    <div class="portlet-body  visible-xs text-center" ng-if="ctrl.radioSelected==2">
        <div >
            <table class="table table-striped  table-hover">
                <thead>
                    <tr>
                        <th colspan="3" class="text-center">
                            <h1 style="font-size:4vw"><strong>Total de votos</strong> : {{ctrl.TotalVotos|number}}</h1>
                        </th>
                    </tr>
                </thead>
                <tbody ng-repeat="votaciones in ctrl.tabla_grafica">
                    <tr class="text-center">
                        <td>
                            <label class="text-left titulo_prin_obs_movil">{{votaciones.porcentaje|number:4}}% </label>
                            <br />
                            <div class="progress" style="background-color:#edc2e9;height:10px">
                                <div class="progress-bar progress-bar-success rounded-2" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="10" style="width:{{votaciones.porcentaje}}%;background-color:#8c034d">
                                    <span class="sr-only"> 30% Complete (danger) </span>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div ng-if="votaciones.logoPartido!=''">
                                <img ng-src="assets/img/partidos/{{votaciones.logoPartido}}"  width="30" />
                            </div>
                            <div ng-if="votaciones.logoPartido==''">
                                <strong>{{votaciones.nombreCandidato}}</strong>
                            </div>
                        </td>
                        <td>
                            <label class="text-left titulo_prin_obs_movil">Total de votos  </label>
                            <br />
                            <label class="text-left titulo_prin_obs_movil">{{votaciones.totalVotos|number}}</label>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>        
    

    <hr style="margin-top:0px"/>
        <!------------------------------------------------------------------------------->
        <div class="visible-lg visible-md visible-sm-inline-block">
            <!--<div data-ng-include="'app/componentes/plantillas/detalles-votos.html'"></div>-->
            
            <div class="row  col-md-12 visible-lg visible-md visible-sm-inline-block" ng-if="ctrl.radioSelected==1">
                <br/>
                En esta tabla no se considera la cantidad de votos asentada en las Actas PREP de Casilla Especial de Representación Proporcional.
                <br/>&nbsp;
            </div>
            <br />            
        </div>
    <div class="visible-lg visible-md visible-sm-inline-block"  style="float:left;" ng-if="ctrl.radioSelected!=3">
        <label>
            Último corte <strong>{{ctrl.horaCorte}} horas </strong>
            (<a href="https://time.is/es/UTC-5" target="_blank"> UTC-5</a>)
        </label>
        <label style="margin-bottom:15px;margin-right:5px">Hora local, <strong>{{ctrl.fechaCorte}}</strong> </label>
    </div>
    <div style="float:right" ng-if="ctrl.radioSelected!=3">
        <div class="col-md-12">
            <a ng-href="#DescargaBD" target="_blank" class="btn btn-default btn-circle pull-right font-white btn grey-mint visible-lg visible-md visible-sm" type="button"><i class="fa fa-download"></i> Base de datos</a>
            <a ui-sref="dip_detalle_distrito" class="btn btn-default btn-circle pull-right font-dark visible-lg visible-md visible-sm visible-xs" style="margin-right:5px">Ver detalle por Distritos</a>
        </div>
    </div>
    <br /><br /><br /><br />
    <!--************vista movil**************************************************-->
    <div class="note note-info" ng-if="ctrl.radioSelected==2">
        <h4 class="block">Representación Proporcional</h4>
        <p>
            <i class="fa fa-info-circle">
                <span class="textoNormal2 text-left">El apartado "Actas RP" muestra la cantidad de votos asentada en las Actas PREP de Casilla Especial de Representación Proporcional, los cuales se suman únicamente a nivel Entidad.   </span>
            </i>
            <br /> <br />
            <button type="button" class="btn btn-circle btn-danger" ng-click="ctrl.CasillasRP()">Ver Actas RP</button>
        </p>
    </div>


    <div data-ng-include="'app/componentes/plantillas/tabla-estadistica-actas-movil.html'"></div>
    <div  ng-if="ctrl.radioSelected!=3" data-ng-include="'app/componentes/plantillas/detalles-actas.html'"></div>

    <div class="visible-xs">
        Participación ciudadana respecto a las Actas <br />
        contabilizadas: <strong> {{ctrl.porcentajeParticipacionCiudadana|number:4}} %</strong><br />
        Total de la Lista nominal: <strong> {{ctrl.totalActaNominal|number}} </strong>
    </div>

    <div class="note note-info visible-lg visible-md visible-sm-inline-block" ng-if="ctrl.radioSelected==2">
        <h4 class="block">Referencias</h4>
        <p>
            <span class="textoNormal2">¿Qué es Representación Proporcional (RP)? </span> <br/>
            <span class="textoNormal2">Es el número de Diputados que se asigna a cada Partido Político dependiendo del porcentaje de votos que le haya otorgado la ciudadanía en las urnas.</span>
        </p>
    </div>

    </div>
  