﻿<style type="text/css">
   
    hr {
        height: 1px;
        background-color: #d52685;
    }

</style>
<div ng-controller="dipEntController as ctrl" ng-init="ctrl.loadPage()">
    <!--Componenete tabla con los datos de le encabezado de la tabla-->
    <div data-ng-include="'app/componentes/plantillas/encabezado.html'"> </div>

    <!--*****************************************************-->
    <div class="visible-lg visible-md visible-sm-inline-block"  ng-if="ctrl.radioSelected==1">
        <span class="titulo_prin_pink">
            <strong> Mapa Distritos Electorales </strong>
        </span>
        <br />
        <span class="textoNormal">
            <strong> El mapa resalta los distritos electorales donde aventaja el partido político, coalición o candidatura independiente hasta el momento. </strong>
        </span>
    </div>
    <div data-ng-include="'app/componentes/plantillas/mapa.html'"></div>    

    <div style="float:right" class="visible-lg visible-md visible-sm" ng-if="ctrl.radioSelected==1">        
        <div class="col-md-12">  
            <a ng-href="#DescargaBD" target="_blank" class="btn btn-default btn-circle pull-right font-white btn grey-mint visible-lg visible-md visible-sm" type="button"><i class="fa fa-download"></i> Base de datos</a>
            <a ui-sref="dip_detalle_entidad" class="btn btn-default btn-circle pull-right font-dark" style="margin-right:5px">Ver Detalle de la Entidad</a>
        </div>
        <br/><br/>
    </div>

    <div ng-if="ctrl.radioSelected==1">
        <div class="portlet-body">            
            <br/>            
            <br class="visible-lg visible-md visible-sm"/>
            <div class="mt-list-head list-simple font-white bg-green-haze visible-xs">
                <div class="row" style="margin-left:5px">
                    <div class="col-xs-12">
                        <div class="list-head-title-container">
                            <h4 style="font-size:4vw"><strong>Distritos</strong></h4>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </div>    
    
    <div class="portlet-body" ng-if="ctrl.radioSelected==2">       
        <br/>
        <div class="mt-list-head list-simple font-white bg-green-haze visible-xs">
            <div class="row" style="margin-left:5px">
                <div class="col-xs-12">
                    <div class="list-head-title-container">
                        <h4 style="font-size:4vw"><strong>Votos por Partidos Político y Candidatura Independiente</strong></h4>
                    </div>
                </div>
            </div>
        </div>  
    </div>   

    <br class="visible-xs"/>
    <div data-ng-include="'app/componentes/plantillas/voto-partido-candidatura-barra-movil.html'"> </div>
    <hr class="visible-xs" />

    <div style="float:right" class="visible-xs" >
        <div class="col-md-12">
            <a ui-sref="dip_detalle_entidad" class="btn btn-default btn-circle pull-right font-dark" style="margin-right:5px">Ver Detalle de la Entidad</a>
        </div>
    </div>




    <!--------------------------------------------------------------------
    -------Componente tabla con el resumen de la votacion-----------------
    --------------------------------------------------------------------
    <div data-ng-include="'app/componentes/plantillas/resumen-votacion.html'"></div> -->

    <br class="visible-lg visible-md visible-sm" />
    <br class="visible-lg visible-md visible-sm" />
    <div class="row">
        <div class="col-md-12">
            <div data-ng-include="'app/componentes/plantillas/resumen-votacion-grafica.html'"> </div>
        </div>
    </div>

        <div style="float:right" class="visible-lg visible-md visible-sm">
            <br/>
            <div class="col-md-12">
                <a ng-href="#DescargaBD" target="_blank" class="btn btn-default btn-circle pull-right font-white btn grey-mint visible-lg visible-sm visible-md" type="button"><i class="fa fa-download"></i> Base de datos</a>
                <a ui-sref="dip_detalle_entidad" class="btn btn-default btn-circle pull-right font-dark" style="margin-right:5px">Ver Detalle de la Entidad</a>
            </div>
        </div>
        <br />
        <div class="row">
            <div style="float:left; margin-left:15px;">
                <label>
                    Último corte <strong>{{ctrl.horaCorte}} horas </strong>
                    (<a href="http://www.cenam.mx/hora_oficial/" target="_blank"> UTC-5</a>)
                </label>
                <label style="margin-bottom:15px;margin-right:5px">Hora local, <strong>{{ctrl.fechaCorte}}</strong> </label>
            </div>            
        </div>
        <div data-ng-include="'app/componentes/plantillas/grafica-estadistica.html'"> </div>
 </div>
