﻿<div ng-controller="dipDetalleDistritoController as ctrl" ng-init="ctrl.loadPage()">
    <!--Componenete tabla con los datos de le encabezado de la tabla-->
    <div data-ng-include="'app/componentes/plantillas/encabezado.html'"> </div>

    <br class="visible-xs"/>

    <div class="portlet light bordered">
        <div class="portlet-body">
            <div class="form-group">
                <label class="textoNormal4 control-label col-md-12 col-sm-12 col-xs-12">                
                Distrito {{ctrl.distritoSeleccionado.id}}: <strong>{{ctrl.distritoSeleccionado.Nombre}}</strong></label>
                <br/>
                <label class="control-label col-md-12 col-sm-12 col-xs-12 "><strong>Consulta otro distrito:</strong></label>                
                    <div class="col-md-6 col-sm-10 col-xs-12 subTitulo">   
                        <select name="mySelect" ng-if="ctrl.radioSelected==1"
                                ng-options="option.Nombre for option in ctrl.DistritosPartidos track by option.id"
                                ng-model="ctrl.distritoSeleccionado">
                        </select> 

                        <select name="mySelect" ng-if="ctrl.radioSelected==2"
                                ng-options="option.Nombre for option in ctrl.Distritos track by option.id"
                                ng-model="ctrl.distritoSeleccionado">
                        </select> 
                   </div>
                <br/><br /><br /><br />
           </div>
        </div>        
    </div>
    <h4 class="titulo_prin_obs visible-lg visible-md visible-sm"><strong>Resumen de la votación</strong></h4>
    
    <div data-ng-include="'app/componentes/plantillas/votos-por-candidatura.html'"> </div>
    
    <div class="portlet-body  table-responsive">
        <div class="visible-lg visible-md visible-sm">

            <table class="table table-bordered ">
                <tbody>
                    <!--Fila del encabezado-->
                    <tr>
                        <td> </td>
                        <td  ng-repeat="partido in ctrl.tabla_grafica" class="text-center {{partido.totalVotos===ctrl.votacionMaxima?'sombraclara':''}}">
                            <div ng-if="partido.logoPartido!=''">
                                <img ng-src="assets/img/partidos/240/{{partido.logoPartido}}" height="40" />
                                <br />
                                <div class="text-center">
                                    <span ng-if="partido.max" style="color:{{partido.max?'#d52685':''}}"><strong>{{partido.nombreCandidato}}</strong> </span>
                                    <span ng-if="partido.max==false">{{partido.nombreCandidato}} </span>
                                </div>
                            </div>
                            <div ng-if="partido.logoPartido==''">
                                <span>{{partido.nombreCandidato}}</span>
                            </div>
                        </td>
                        <td class="text-center">Total</td>
                    </tr>
                    <tr>
                        <td>Total de votos </td>
                        <td class="text-center" ng-repeat="partido in ctrl.tabla_grafica">
                            <span ng-if="partido.max" style="color:{{partido.max?'#d52685':''}}"><strong>{{partido.totalVotos|number}}</strong> </span>
                            <span ng-if="partido.max==false">{{partido.totalVotos|number}} </span>
                        </td>
                        <td class="text-center">{{ctrl.TotalVotos|number}}</td>
                    </tr>
                    <!--Segunda fila del encabezado-->
                    <tr>
                        <td>Porcentaje </td>
                        <td class="text-center  " ng-repeat="partido in ctrl.tabla_grafica">
                            <span ng-if="partido.max" style="color:{{partido.max?'#d52685':''}}"><strong>{{partido.porcentaje|number:4}}%</strong> </span>
                            <span ng-if="partido.max==false">{{partido.porcentaje|number:4}}% </span>
                        </td>
                        <td class="text-center">{{ctrl.Porcentaje}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    <div ng-if="ctrl.radioSelected==2">        
            <div class="mt-list-head list-simple font-white bg-green-haze visible-xs">
                <div class="row" style="margin-left:5px">
                    <div class="col-xs-12">
                        <div class="list-head-title-container">
                            <h4 style="font-size:4vw"><strong>Votos por Partidos Político y Candidatura Independiente</strong></h4>
                        </div>
                    </div>
                </div>
            </div>
        <div data-ng-include="'app/componentes/plantillas/voto-partido-candidatura-barra-movil.html'"> </div>
     </div>
    <div class="row">
        <div style="float:right" >
            <br />
            <div class="col-md-12">
                <a ng-href="#DescargaBD" target="_blank" class="btn btn-default btn-circle pull-right font-white btn grey-mint visible-lg visible-md visible-sm" type="button"><i class="fa fa-download"></i> Base de datos</a>
                <a ui-sref="dip_seccion_distrito" class="btn btn-default btn-circle pull-right font-dark visible-lg visible-md visible-sm visible-xs" style="margin-right:5px">Ver detalle por Secciones</a>
            </div>
        </div>
    </div>

    <!--vista movil-->
    <div data-ng-include="'app/componentes/plantillas/candidaturaDistrito.html'"></div>
    <!--**-->
    <div data-ng-include="'app/componentes/plantillas/desglose-votos-candidatura-movil.html'"> </div>


    <div class="m-grid-col m-grid-col-middle m-grid-col-center m-grid-col-order-3" style="border:none">
        <!-- font-white  bg-white -->            
        <a ui-sref="dip_seccion_distrito" class="btn btn-default btn-circle pull-right font-dark visible-lg visible-md visible-sm visible-xs" style="margin-right:5px">Ver detalle por Secciones</a>
        <label class="textoNormal visible-lg visible-md visible-sm">
            Último corte: <strong>{{ctrl.horaCorte}} </strong>
            (<a href="http://www.cenam.mx/hora_oficial/" target="_blank"> UTC-5</a>) Hora local, <strong>{{ctrl.fechaCorte}}</strong>
        </label>    
        <br/>
        <br />
    </div>

    
    <div class="visible-xs">
        <div data-ng-include="'app/componentes/plantillas/detalle_acta_movil.html'"></div>
    </div>
    
    <!--Tablas 3 y 4-->
    <br />
    <div data-ng-include="'app/componentes/plantillas/detalles-actas.html'"></div> 

</div>