﻿
<!--<script>
    $(function(){
        //$("#headerPage").load('app/componentes/plantillas/encabezado.html');
        $.get('app/componentes/plantillas/encabezado.html', function (data) {
            $('#headerPage').html(data);
        });
    });
</script>-->


    <div class="row" ng-controller="gobDistritoController as ctrl" ng-init="ctrl.loadPage()">
        <div class="col-md-12">
            <div data-ng-include="'app/componentes/plantillas/encabezado.html'"></div>
            <br class="visible-md visible-sm visible-xs" />
            <div class="row"> <div class="col-lg-7 col-md-7 col-sm-12"  ng-if="ctrl.radioSelected!=3">  
                <div class="portlet-body table-responsive visible-lg visible-md visible-sm">
                        <div id="div2" class="visible-lg visible-md visible-sm">
                            <label class="titulo_prin_obs"> <strong>Resumen de la votación</strong> </label>
                        </div>
                    </div>  
                </div> 
            </div>



            <div class="table-responsive visible-lg visible-md visible-sm" ng-if="ctrl.radioSelected!=3">
                <table class="table table-bordered table-hover">
                    <tbody>
                        <!--Fila del encabezado-->
                       <tr>
                            <td style="min-width:150px"> </td>
                            <td  ng-repeat="partido in ctrl.tabla_grafica" class="text-center {{partido.max?'sombraclara':''}}">
                                <div ng-if="partido.logoPartido!=''">
                                    <img ng-src="assets/img/partidos/240/{{partido.logoPartido}}" height="40" />
                                    <br />

                                    <div class="text-center" ng-if="ctrl.mostrarNombreCandidato">
                                        <span style="color: {{partido.max?'#e664fa':''}}" ng-if="partido.max"><strong>{{partido.nombreCandidato}}</strong></span>
                                        <span ng-if="!partido.max">{{partido.nombreCandidato}}</span>
                                    </div>

                                </div>
                                <div ng-if="partido.logoPartido==''">
                                    {{partido.nombreCandidato}}
                                </div>
                            </td>
                            <td style="min-width:100px" class="text-center">Total</td>
                        </tr>

                        <!--Primera fila-->
                         <tr>
                            <td style="background-color:#E0E0E0">Total de votos</td>
                            <td class="text-center" ng-repeat="partido in ctrl.tabla_grafica">
                                <span style="color: {{partido.max?'#e664fa':''}}">{{partido.totalVotos|number}}</span>
                            </td>
                            <td class="text-center"> {{ctrl.TotalVotos|number}}</td>
                        </tr>
                        <!--Segunda fila del encabezado-->
                        <tr>
                            <td style="background-color:#E0E0E0">Porcentaje </td>
                            <td class="text-center" ng-repeat="partido in ctrl.tabla_grafica">
                                <span style="color: {{partido.max?'#e664fa':''}}"> {{partido.porcentaje|number:4}}</span>
                                <span style="color: {{partido.max?'#e664fa':''}}" ng-if="partido.porcentaje!=null || typeof(partido.porcentaje) !== undefined">%</span>
                            </td>
                            <td class="text-center">
                            {{ctrl.PorcentajeTotal}}
                                <span ng-if="ctrl.PorcentajeTotal!=null || typeof(ctrl.PorcentajeTotal) !== undefined">%</span>
                            </td>
                        </tr>

                        <tr style="background-color:#ebebeb" ng-if="ctrl.detallevotos_primera_columna!=undefined||ctrl.detallevotos_primera_columna!=null">
                            <th colspan="{{ctrl.DetalleVotos.length>0?ctrl.DetalleVotos[0].Partidos.length+2:0}}"><strong>{{ctrl.titulo_detalle_votos}}</strong></th>
                        </tr>

                        <tr ng-repeat="detalle in ctrl.DetalleVotos">
                            <td style="min-width:200px">
                                
                                <a href="#" ng-if="ctrl.modulo=='1D'" ui-sref="seccion_distrito({pIdDistrito:{{detalle.id}}})" style="text-decoration: underline;color:black">{{detalle.Nombre}}</a>
                                <a href="#" ng-if="ctrl.modulo=='1S'" ui-sref="seccion_casilla({pIdSeccion:{{detalle.idSeccion}},modulo:ctrl.modulo})" style="text-decoration: underline;color:black">{{detalle.Nombre}}</a>
                                <!--Navegacion para diputacion-->
                                <a href="#" ng-if="ctrl.modulo=='2S'||ctrl.modulo=='3S'" ui-sref="({pIdSeccion:{{detalle.id}},modulo:ctrl.modulo})" style="text-decoration: underline;color:black">{{detalle.Nombre}}</a>
                                <a href="#" ng-if="ctrl.modulo=='2DE'" ui-sref="dip_detalle_distrito({pIdDistrito:{{detalle.id}}})" style="text-decoration: underline;color:black">{{detalle.Nombre}}</a>
                                <a href="#" ng-if="ctrl.modulo=='3HM'" ui-sref="ayuntamiento_detalle({pIDMunicipio:{{detalle.id}}})" style="text-decoration: underline;color:black">{{detalle.Nombre}}</a>
                            </td>
                            <td style="min-width:100px" class="text-center" ng-repeat="item in detalle.Partidos">
                                {{item.votos|number}}
                            </td>
                            <td class="text-center">{{detalle.TotalVotos|number}}</td>
                        </tr>
                        <tr style="background-color:#E0E0E0">
                            <td>Total de votos</td>
                            <td class="text-center" ng-repeat="partido in ctrl.tabla_grafica">
                                <span style="color: {{partido.max?'#e664fa':''}}">{{partido.totalVotos|number}}</span>
                            </td>
                            <td class="text-center"> {{ctrl.TotalVotos|number}}</td>
                        </tr>

                    </tbody>
                </table>
            </div>
            
            <div ng-if="ctrl.radioSelected==3">

                <div data-ng-include="'app/componentes/plantillas/seccion_distrito.html'"></div>

            </div>

                <!--Cambio 07/05/2018-->
                <!--<div data-ng-include="'app/componentes/plantillas/resumen-votacion.html'"></div>-->
                <!--Escritorio-->
                <!--<div data-ng-include="'app/componentes/plantillas/detalles-votos.html'"></div>-->

                <div class="row">
                    <br />
                    <div style="float:left;margin-left:15px;">
                        <label>
                            Último corte <strong>{{ctrl.horaCorte}} horas </strong>
                            (<a href="http://www.cenam.mx/hora_oficial" target="_blank"> UTC-5</a>)
                        </label>
                        <label style="margin-bottom:15px;margin-right:5px">Hora local, <strong>{{ctrl.fechaCorte}}</strong> </label>
                    </div>
                    <div style="float:right" class="visible-lg visible-md visible-sm">
                        <div class="col-md-12">
                            <a ng-href="#DescargaBD" target="_blank" class="btn btn-default btn-circle pull-right font-white btn grey-mint" type="button"><i class="fa fa-download"></i> Base de datos</a>
                            <a ui-sref="seccion_distrito({pIdDistrito:0})" class="btn btn-default btn-circle pull-right font-dark" style="margin-right:5px">Ver detalle por Secciones</a>
                        </div>
                    </div>
                </div>
                <div ng-if="ctrl.radioSelected!=3">
                    <div data-ng-include="'app/componentes/plantillas/detalles-actas.html'"></div>

                    <!--Movil-->
                    <div class="visible-xs">
                        <div class="note note-danger border" style="margin-top:10px">
                            <div class="form-group">
                                <label class="control-label col-md-3">Distrito</label>
                                <div class="col-md-4">
                                    <select class="form-control" ng-model="ctrl.idDistrito">
                                        <option ng-repeat="item in ctrl.DetalleVotos" value="{{item.id}}">{{item.Nombre}}</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                        <div class="mt-actions">
                            <div class="mt-list-head list-simple font-white bg-green-haze">
                                <div class="row" style="margin-left:5px">
                                    <div class="col-xs-12">
                                        <div class="list-head-title-container">
                                            <h4 style="font-size:4vw"> Total de votos en el Distrito:<strong class="font-white">{{ctrl.item_distrito.TotalVotos|number}}</strong></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--  <div data-ng-include="'app/componentes/plantillas/resumen-votacion-movil.html'"></div> -->
                            <!--Muestra vista movil por coaliciones y vista por partidos-->



                            <div class="mt-element-list">
                                <div class="mt-list-container list-simple">
                                    <ul>
                                        <li class="mt-list-item padding-sombra {{tarjeta.max?'sombraclara':''}}" ng-repeat="tarjeta in ctrl.item_distrito.Partidos">
                                            <div class="list-icon-container done" style="min-width:100px">
                                                <span class="mt-action-desc" style="color:black">{{((100*tarjeta.votos)/ctrl.item_distrito.TotalVotos)|number:4}}%</span>
                                                <div class="progress" style="height:10px;">
                                                    <span style="width: {{((100*tarjeta.votos)/ctrl.item_distrito.TotalVotos)|number:4}}%;background-color:{{tarjeta.max?'#e664fa':'#8c034d'}}" class="progress-bar progress-bar-success rounded-2">
                                                        <span class="sr-only">76% progress</span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="list-datetime done" style="color:black;min-width:100px">
                                                <span>Total de votos</span>
                                                {{tarjeta.votos|number}}
                                            </div>
                                            <div class="list-item-content text-center">
                                                <img ng-if="tarjeta.NombrePartido.indexOf('.png') !== -1" ng-src="assets/img/partidos/240/{{tarjeta.NombrePartido}}" alt="" height="30" />
                                                <div>
                                                    <strong ng-if="tarjeta.NombrePartido.indexOf('.png') === -1">{{tarjeta.NombrePartido}}</strong>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>


                            <div class="row">
                                <br />
                                <div style="float:right" class="visible-xs">
                                    <div class="col-md-12">
                                        <a ui-sref="seccion_distrito({pIdDistrito:0})" class="btn btn-default btn-circle pull-right font-dark" style="margin-right:5px">Ver detalle por Secciones</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <br class="visible-xs" />
                        <div class="row">
                            <div class="col-sm-12 col-xs-12">
                                <div class="mt-list-head list-simple font-white bg-green-haze">
                                    <div class="row" style="margin-left:5px">
                                        <div class="col-xs-12">
                                            <div class="list-head-title-container text-center">
                                                <h4 style="font-size:4vw;margin-left:10px">Estadística de: <br /> <label class="textoNormal2"><strong> {{ctrl.item_distrito.Nombre}}</strong></label></h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped table-condensed table-hover">
                                        <thead>
                                            <tr>
                                                <th width="40%" class="text-center"><strong>Actas por entidad</strong></th>
                                                <th width="30%" class="text-center"><strong>Total</strong></th>
                                                <th width="30%" class="text-center"><strong>Porcentaje</strong></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Esperadas</td>
                                                <td class="text-right">{{ctrl.item_acta.Esperadas}}</td>
                                                <td class="text-right">{{((ctrl.item_acta.Esperadas*100)/ctrl.item_acta.Esperadas)|number:0}} %</td>
                                            </tr>
                                            <tr>
                                                <td>Capturadas</td>
                                                <td class="text-right">{{ctrl.item_acta.Capturadas}}</td>
                                                <td class="text-right">{{((ctrl.item_acta.Capturadas*100)/ctrl.item_acta.Esperadas)|number:4}} %</td>
                                            </tr>
                                            <tr>
                                                <td>Contabilizadas</td>
                                                <td class="text-right">{{ctrl.item_acta.Contabilizadas}}</td>
                                                <td class="text-right">{{((ctrl.item_acta.Contabilizadas*100)/ctrl.item_acta.Esperadas)|number:4}} %</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <br />
                                </div>
                                <label class="textoNormal3">Participación ciudadana respecto a las Actas Contabilizadas: {{ctrl.item_acta.Participacion_Ciudadana|number:4}} %</label> <br />
                                <label class="textoNormal3">Total de la Lista nominal: {{ctrl.item_acta.TotalListaNominal|number}}</label>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
                </div>

