﻿<style>
      hr {
     height: 1px;
     background-color: #0D218E;
    }
</style>
<div ng-controller="gobEntidadController as ctrl" class="row"  ng-init="ctrl.loadPage()"> 
    <div class="col-md-12">        
        <div data-ng-include="'app/componentes/plantillas/encabezado.html'"> </div>
        <br class="visible-sm" />
        <div  class="row visible-lg visible-md visible-sm" ng-if="ctrl.radioSelected==1">            
            
            <div ng-class="{'col-lg-3 col-md-4 col-sm-6 col-xs-6':(ctrl.length_cart > 3),'col-md-4 col-sm-6':(ctrl.length_cart==3),'col-md-3 col-sm-6':(ctrl.length_cart==2),'col-lg-6 col-md-5 col-sm-6':(ctrl.length_cart==1)}" 
                 style="margin-bottom:15px" ng-repeat="tarjeta in ctrl.candidatos">
                <div class="tarjeta {{tarjeta.max?'sombraclara':''}}">
                    <img ng-src="assets/img/candidatos/{{tarjeta.urlFoto}}" alt="...." class="image">
                    <div class="text-center">
                        <h4>{{tarjeta.nombreCandidato}}</h4>
                        <img ng-src="assets/img/partidos/240/{{tarjeta.logoPartido}}" height="65" />
                    </div>
                    <div class="foot">
                        <h4 style="font-weight:{{tarjeta.max?'bold':''}};color:{{tarjeta.max?'#f216f5':''}};">{{tarjeta.porcentaje|number:4}} %</h4>
                    </div>
                    <div class="overlay">
                        <div class="overlay-body">                          
                                <table class="table">
                                    <tr >
                                        <td width="60%" style="text-align:center"> 
                                            <table>
                                                <tr ng-repeat="pv in tarjeta.partidos" >
                                                    <td >
                                                        <img ng-src="assets/img/partidos/240/{{pv.NombrePartido}}" height="50" style="margin-bottom:3px" />                                                        
                                                    </td>
                                                    <td >   
                                                        <div style="margin-left:3px">
                                                            <span ng-if="$middle"><i class="fa fa-plus-circle"></i></span>
                                                            <span ng-if="tarjeta.partidos.length>1">
                                                                <span ng-if="$last"><i class="fa fa-plus-circle"></i></span>
                                                            </span>
                                                            <p class="votoscart"> {{pv.votos|number}}</p><span style="padding-top:-5px" ng-if="$index<tarjeta.partidos-1">+</span>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>                                            
                                        </td>  
                                        <td style="line-height:{{tarjeta.partidos.length*50}}px">
                                           <strong>=</strong> 
                                        </td>
                                        <td width="40%" >
                                            <strong class="votoscart">Total de votos:</strong><br />
                                            <strong class="votoscart">{{tarjeta.totalVotos|number}}</strong>
                                            <br />
                                            <strong class="votoscart">Equivalente al:</strong>
                                            <br />
                                            <strong class="votoscart">{{tarjeta.porcentaje|number:4}}%</strong>
                                        </td>                                      
                                    </tr>                                      
                                </table>
                        </div>
                    </div>
                </div>
            </div>       
        </div>
       
        <!--Votos por partido-->
        <div class="row visible-xs"  ng-if="ctrl.radioSelected==1">
            <!--Ventana Modal Ver Detalle-->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered"  role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title uppercase" id="exampleModalLabel" style="font-weight:bold">Gobernatura-Entidad</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" >
                            <!-- BEGIN: Actions -->                           
                            <div class="mt-list-head list-simple font-white bg-green-haze">
                                <div class="row" style="margin-left:5px">
                                    <div class="col-xs-12">
                                        <div class="list-head-title-container">
                                            <h4 style="font-size:4vw"><i class="icon-screen-desktop"></i> Votos por candidatura:<strong>&nbsp;&nbsp; {{ctrl.sumaTotal|number}}</strong></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-actions">
                                <div data-ng-include="'app/componentes/plantillas/resumen-votacion-movil.html'"></div>
                            </div>
                            <!-- END: Actions -->
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>                    
                </div>
            </div>
          

            <!--Movil----Votos por partido-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:15px">
                <div class="portlet-body">
                    <div class="mt-element-list" style="height:60px">
                        <div class="mt-list-head list-simple font-white bg-green-haze">
                            <div style="float:left;margin-top:-10px">
                                <h4 style="font-size:4vw"><i class="icon-screen-desktop"></i> Votos por candidatura</h4>
                            </div>
                            <div style="float:right;margin-top:-5px">
                                <a href="#tab_actions_completed"
                                   class="btn white btn-outline btn-sm"
                                   data-toggle="modal" data-target="#exampleModal"><i class="fa fa-eye fa-1x"></i> Mostrar detalle</a>
                            </div>
                            <br />
                        </div>
                        <div class="mt-list-container list-simple">
                            <ul>
                                <li class="mt-list-item padding-sombra {{tarjeta.max?'sombraclara':''}}"  ng-repeat="tarjeta in ctrl.candidatos">
                                    <div class="list-icon-container done">
                                        <img style="border-radius:50%!important" ng-src="assets/img/candidatos/{{tarjeta.urlFoto}}" width="50" height="50" />
                                    </div>
                                    <div class="list-datetime" style="min-width:120px"> {{tarjeta.porcentaje|number:4}}% </div>
                                    <div class="list-item-content">
                                        <div class="mt-action-details">
                                            <span class="mt-action-author">{{tarjeta.nombreCandidato}}</span>
                                        </div>
                                        <div class="progress" style="height:10px;">
                                            <span style="width: {{tarjeta.porcentaje}}%;background-color:{{tarjeta.max?'#d52685':'#8c034d'}}" class="progress-bar progress-bar-success rounded-2">
                                                <span class="sr-only">76% progress</span>
                                            </span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>                
            </div>
        </div>      
            <br class="visible-xs"/>
        <br class="visible-xs" />
        
        <div class="portlet">           
            <!--MOVIL:  Votos por partido y candidato independiente-->
            <div class="portlet-body visible-xs" ng-if="ctrl.radioSelected==2">
                <div class="mt-element-list">
                    <div class="mt-list-head list-simple font-white bg-green-haze">
                        <div class="row" style="margin-left:5px">
                            <div class="col-xs-12">
                                <div class="list-head-title-container">
                                    <h4 style="font-size:4vw">Total de Votos : <strong>{{ctrl.TotalVotos|number}}</strong></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-list-container list-simple">
                        <ul>
                            <li class="mt-list-item padding-sombra " ng-repeat="tarjeta in ctrl.tabla_grafica"> <!--{{tarjeta.max?'sombraclara':''}}-->
                                <div class="list-icon-container done" style="min-width:100px">
                                    <span class="mt-action-desc font-dark">{{tarjeta.porcentaje| number : 4}}%</span>
                                    <div class="progress" style="height:10px;" >
                                        <span  style="width: {{tarjeta.porcentaje}}%;background-color:{{tarjeta.max?'#e664fa':'#8c034d'}}" class="progress-bar progress-bar-success rounded-2">
                                            <span class="sr-only">76% progress</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="list-datetime done" style="min-width:100px">
                                    <span class="font-dark">Total de votos</span>
                                    {{tarjeta.totalVotos|number}}
                                </div>
                                <div class="list-item-content text-center">
                                    <img ng-if="tarjeta.logoPartido!=undefined||tarjeta.logoPartido!=null" ng-src="assets/img/partidos/240/{{tarjeta.logoPartido}}" alt="" height="30" />
                                    <span  ng-if="tarjeta.logoPartido==undefined||tarjeta.logoPartido==''">
                                         <label class="text-center"><strong>{{tarjeta.nombreCandidato}}</strong> </label>
                                    </span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>              
                <hr class="visible-xs" />
             </div>

            
            <!--FIN DE LA PARTE MOVIL:  Votos por partido y candidato independiente-->

            <!--Tabla en forma de grafica-->
            <div class="mt-list-head list-simple font-white bg-green-haze visible-xs" ng-if="ctrl.radioSelected==1">
                <div class="row">
                    <div class="col-xs-8">
                        <div class="list-head-title-container">
                            <h4 style="font-size:4vw;margin-left:10px">Total de Votos : <strong>{{ctrl.TotalVotos|number}}</strong></h4>
                        </div>
                    </div>                    
                </div>
            </div>

            <div class="visible-lg visible-md visible-sm" ng-if="ctrl.radioSelected==1">
                <h4 style="font-size:2vw">Total de Votos : <strong>{{ctrl.TotalVotos|number}}</strong></h4>
            </div>
            <div class="portlet-body visible-lg visible-md visible-sm">
                <div data-ng-include="'app/componentes/plantillas/resumen-votacion-grafica.html'"> </div>
            </div>
        </div>
        <div class="row">
            <div style="float:left;margin-left:15px;">
                <label>
                    Último corte <strong>{{ctrl.horaCorte}} horas </strong>
                    (<a href="http://www.cenam.mx/hora_oficial/"> UTC-5</a>)
                </label>
                <label style="margin-bottom:15px;margin-right:5px">Hora local, <strong>{{ctrl.fechaCorte}}</strong> </label>
                <br/>
            </div>
            <div style="float:right" class="visible-lg visible-md visible-sm">
                <div class="col-md-12">
                    <!--<a href="#" class="btn btn-default btn-circle pull-right font-white btn grey-mint"  ng-click="ctrl.exportarDatos()" type="button"><i class="fa fa-download"></i> Base de datos</a>-->
                    <a ng-href="#DescargaBD" target="_blank" class="btn btn-default btn-circle pull-right font-white btn grey-mint"  type="button"><i class="fa fa-download"></i> Base de datos</a>
                    <a ui-sref="gob_detalle_entidad" class="btn btn-default btn-circle pull-right font-dark" style="margin-right:5px">Ver detalle de Entidad</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">                
                <div data-ng-include="'app/componentes/plantillas/grafica-estadistica.html'"> </div>
            </div>
        </div>
       
        </div> 

    
</div>