﻿<div ng-controller="gobDetalleEntidadController as ctrl" ng-init="ctrl.loadPage()">
    <!--Componenete tabla con los datos de le encabezado de la tabla-->
    <div data-ng-include="'app/componentes/plantillas/encabezado.html'"> </div>


    <!--  **************************Icono Mensaje en resolucion mayor a 600*******************-->
    <div class="portlet-body visible-lg visible-md visible-sm-inline-block">
        <label class="subTitulo">Resumen de la votación</label>
    </div>
    <!-------Componente tabla con el resumen de la votacion------------------>
    <div data-ng-include="'app/componentes/plantillas/resumen-votacion.html'"></div>

    <!--*************************Votos por partido politico vista movil************************************************-->
    <div class="portlet-body visible-xs">
        <br />
        <div class="mt-list-head list-simple font-white bg-green-haze">
            <div class="row" style="margin-left:5px">
                <div class="col-xs-12">
                    <div class="list-head-title-container">
                        <h4 style="font-size:4vw" ng-if="ctrl.radioSelected==1"><strong>Votos por Candidatura</strong></h4>
                        <h4 style="font-size:4vw" ng-if="ctrl.radioSelected==2"><strong>Votos por Partidos Político y Candidatura Independiente</strong></h4>
                    </div>
                </div>
            </div>
        </div>
        <br />
    </div>
    <!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++>-->
    <div class="portlet-body  visible-xs text-center" ng-if="ctrl.radioSelected==1">
        <br />
        <div class="mt-list-head list-simple font-white bg-green-haze">
            <div class="row" style="margin-left:5px">
                <div class="col-xs-12">
                    <div class="list-head-title-container">
                        <h4 style="font-size:4vw"><strong>Total de votos</strong>:{{ctrl.TotalVotos|number}}</h4>
                    </div>
                </div>
            </div>
        </div>

        <table class="table table-striped">
            <tbody ng-repeat="votaciones in ctrl.objVotosCandidatura">
                <tr class="text-center {{votaciones.max?'sombraclara':''}}">
                    <td>
                        <label class="text-left titulo_prin_obs_movil">{{votaciones.porcentaje|number:4}}% </label>
                        <br />
                        <div class="progress" style="background-color:#edc2e9;height:10px;">
                            <div class="progress-bar progress-bar-success rounded-2" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="10" style="width:{{votaciones.porcentaje}}%;background-color:#8c034d">
                                <span class="sr-only"> 30% Complete (danger) </span>
                            </div>
                        </div>
                    </td>
                    <td>
                        <span ng-repeat="estadistica in votaciones.partido ">
                            <span ng-if="(estadistica.NombrePartido!='')">
                                <img ng-src="assets/img/partidos/240/{{estadistica.NombrePartido}}" height="30" />
                            </span>

                            <span ng-if="estadistica.NombrePartido===''">
                                <label class="subTitulo_movil"><strong>{{estadistica.Otros}}</strong></label>
                            </span>

                        </span>
                        <br />
                        <label class="titulo_prin_obs_movil"><strong> {{votaciones.candidato}}</strong></label>
                    </td>
                    <td>
                        <label class="text-center subTitulo_movil">Total de votos </label>
                        <br />
                        <label class="text-center subTitulo_movil">{{votaciones.total|number}}</label>
                    </td>
                </tr>
            </tbody>
        </table>
        <hr style="color: #0625e2; border:2px;" />


    </div>
    <!--Fin de tabla
      *******************************************************************
      ***********FIn de Tabla Estructura para vista menor a 600 px********************
      *******************************************************************-->
    <div ng-if="ctrl.radioSelected==2">
        <!--<div data-ng-include="'app/componentes/plantillas/voto-partido-candidatura-barra-movil.html'"> </div>-->
        <div class="portlet-body  visible-xs text-center">            
            <table class="table table-striped ">
                <tr>
                    <th colspan="3" class="text-center">
                        <h1 style="font-size:4vw"><strong>Total de votos : {{ctrl.TotalVotos|number}} </strong></h1>
                    </th>
                </tr>

                <tbody ng-repeat="votaciones in ctrl.tabla_grafica">
                    <tr class="text-center">
                        <td>
                            <div ng-if="ctrl.radioSelected==1">
                                <label class="titulo_prin_obs_movil">
                                    {{votaciones.total_obtenidos}}
                                    <br />
                                    <span ng-if="ctrl.nombreColumna==null">
                                        <label> Distritos</label>
                                    </span>
                                    <span ng-if="ctrl.nombreColumna!=null">{{ctrl.nombreColumna}}</span>
                                    <br />  obtenidos
                                </label>
                            </div>
                            <div ng-if="ctrl.radioSelected==2">
                                <label class="text-left titulo_prin_obs_movil">{{((votaciones.totalVotos*100)/ctrl.TotalVotos)|number:4 }}% </label>
                                <br />
                                <div class="progress" style="background-color:#edc2e9;height:10px">
                                    <div class="progress-bar progress-bar-success rounded-2" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="10" style="width:{{((votaciones.totalVotos*100)/ctrl.TotalVotos)}}%;background-color:#8c034d">
                                        <span class="sr-only"> 70% Complete (danger) </span>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <span ng-if="votaciones.logoPartido!=''">
                                <img ng-src="assets/img/partidos/{{votaciones.logoPartido}}" height="30" />
                            </span>
                            <span ng-if="votaciones.logoPartido===''">
                                <label class="subTitulo_movil"><strong>{{votaciones.nombreCandidato}}</strong></label>
                            </span>

                        </td>
                        <td>
                            <label class="text-center titulo_prin_obs_movil ">Total de votos  </label>
                            <br />
                            <label class="text-center titulo_prin_obs_movil">{{votaciones.totalVotos|number}}</label>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>

    <div class="row " style="margin-left:15px">
        <div style="float:left;">
            <label>
                Último corte <strong>{{ctrl.horaCorte}} horas </strong>
                (<a href="http://www.cenam.mx/hora_oficial/" target="_blank"> UTC-5</a>)
            </label>
            <label style="margin-bottom:15px;margin-right:5px">Hora local, <strong>{{ctrl.fechaCorte}}</strong> </label>
        </div>
        <div style="float:right">
            <div class="col-md-12">
                <a ng-href="#DescargaBD" target="_blank" class="btn btn-default btn-circle pull-right font-white btn grey-mint visible-lg visible-md visible-sm"  type="button"><i class="fa fa-download"></i> Base de datos</a>
                <a ui-sref="gob_distrito" class="btn btn-default btn-circle pull-right font-dark visible-lg visible-md visible-sm visible-xs" style="margin-right:5px">Ver detalle por Distritos</a>
            </div>
        </div>
    </div>

    <!--Componenete tabala candidaturas por distrito y por partido-->
    <div data-ng-include="'app/componentes/plantillas/candidaturaDistrito.html'"></div>

    <div data-ng-include="'app/componentes/plantillas/desglose-votos-candidatura-movil.html'"> </div>

    <!--Fin de tabla
      *******************************************************************
      ***********FIn de Tabla Estructura para vista menor a 600 px********************
      ******************************************************************* -->

    <div class="row">
        <div style="float:left">
            <label>
                Último corte <strong>{{ctrl.horaCorte}} horas </strong>
                (<a href="http://www.cenam.mx/hora_oficial/" target="_blank"> UTC-5</a>)
            </label>
            <label style="margin-bottom:15px;margin-right:5px">Hora local, <strong>{{ctrl.fechaCorte}}</strong> </label>
        </div>
        <div style="float:right" class="visible-lg visible-md visible-sm visible-xs">
            <div class="col-md-12">
                <a ui-sref="gob_distrito" class="btn btn-default btn-circle pull-right font-dark" style="margin-right:5px" ng-if="ctrl.radioSelected==1">Ver detalle por Distritos</a>
                <a ui-sref="gob_distrito" class="btn btn-default btn-circle pull-right font-dark visible-lg visible-md visible-sm" ng-if="ctrl.radioSelected==2" style="margin-right:5px">Ver detalle por Distritos</a>
                <a 
                   ui-sref="seccion_casilla({pIdSeccion:1,modulo:'1S',pIdDistrito:1})" 
                   class="btn btn-default btn-circle pull-right font-dark visible-xs" ng-if="ctrl.radioSelected==2" style="margin-right:5px">Ver detalle por Sección - Casilla</a>
            </div>
        </div>
    </div>

    <div data-ng-include="'app/componentes/plantillas/detalles-actas.html'"></div>



</div>

