﻿<style type="text/css">
    .color-file {
        color: lightblue;
    }
    hr {
     height: 1px;
     background-color: #d52685;
    }

    ol li {
        margin-bottom:10px;
    }
</style>
<div class="row" ng-controller="seccionCasillaController as ctrl" ng-init="ctrl.loadPage()">
    <div class="modal fade"  id="mdlObservaciones" tabindex="-1" role="basic" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title"><strong>ACTA DE LA CASILLA <span style="color:#d52685!important">{{ctrl.item.Casilla_Descripcion}}</span></strong></h4>
                </div>
                <div class="modal-body">
                    <strong>Observaciones</strong>                    
                    <ol type="1" style="margin-top:15px!important" class="ltob" ng-bind-html="ctrl.item.OBSERVACIONES1">

                    </ol>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn red btn-outline" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="col-md-12">
        <div data-ng-include="'app/componentes/plantillas/encabezado.html'"></div>
        <br class="visible-xs" />

        <!--*************************Votos vista movil************************************************-->
        <!--***********************************************************************************-->
        <div class="portlet light bordered visible-xs">
            <label style="font-size:18px; color:deeppink" ng-if="ctrl.pIdMunicipio!=null">Municipio: {{ctrl.nomMunicipio}} </label>
            <br/>            
            <label style="font-size:18px; color:#52285B">Seccion {{ctrl.pIdSeccion}}</label>            
        </div>

        <div class="visible-xs">
            <div class="m-grid-col m-grid-col-middle m-grid-col-center m-grid-col-order-1 " ng-if="ctrl.modulo!='DIP'">
                <div class="form-group  ">
                    <label class="control-label col-md-5 col-sm-12 col-xs-12"><strong>Consulta otra sección:</strong></label>
                    <div class="col-md-6 col-sm-10 col-xs-12  ">
                        <!--<select class="form-control" ng-model="ctrl.seccionSeleccion" ng-options="item as item.Nombre for item in ctrl.ltSecciones track by item.id">
                    </select>  -->
                        <select class="form-control" ng-model="ctrl.pIdSeccion">
                            <option ng-repeat="item in ctrl.Secciones" value="{{item.id}}">{{item.Nombre}}</option>
                        </select>
                    </div>
                    <br class="visible-xs" /><br class="visible-xs" /><br class="visible-xs" /><br class="visible-xs" />
                </div>
            </div>

            <div class="portlet light portlet-fit bordered">
                <div class="portlet-body"  ng-if="ctrl.modulo!='DIP' && ctrl.pIdSeccion!=-1">
                    <div class="form-group">
                        <label class="control-label col-md-12 col-sm-12 col-xs-12"><strong>Casilla:</strong></label>
                        <div class="col-md-6 col-sm-10 col-xs-12">
                            <select class="form-control" ng-model="ctrl.casillaSeleccion">
                                <option ng-repeat="col in ctrl.Actas|filter:ctrl.pIdSeccion" value="{{col.Casilla_Descripcion}}">{{col.Casilla_Descripcion}}</option>
                            </select>
                        </div>
                    </div>
                    <br /><br /><br /><br />
                </div>

                <div class="portlet light portlet-fit bordered" ng-if="ctrl.modulo=='DIP'">
                    <div class="portlet-body">
                        <div class="form-group">
                            <label class="control-label col-md-12 col-sm-12 col-xs-12"><strong>Casilla:</strong></label>
                            <div class="col-md-6 col-sm-10 col-xs-12">
                                <select class="form-control" ng-model="ctrl.casillaSeleccion">
                                    <option ng-repeat="col in ctrl.Actas" value="{{col.Casilla_Descripcion}}">{{col.Casilla_Descripcion}}</option>
                                </select>
                            </div>
                        </div>
                        <br /><br /><br /><br />
                    </div>
                </div>
            </div>
            <!--Encabezado de tabla en vista movil-->
            <table class="table table-bordered table-striped table-condensed table-hover">              
                <thead ng-if="ctrl.casillaSeleccion==null">
                    <tr>
                        <td><strong> Casilla: 000 | Total de Votos:0 </strong></td>
                    </tr>
                </thead>
                <tbody ng-if="ctrl.casillaSeleccion!=null">
                    <tr ng-repeat="col in ctrl.Actas|filter:ctrl.casillaSeleccion">
                        <td class="text-center">
                            <span>
                                {{col.Casilla_Descripcion}}
                            </span>
                        </td>
                        <td class="text-center" >
                            <span >                                
                                <a data-toggle="tooltip" style="color:black" data-placement="top"
                                   title="{{col.Seguimiento==2?'Acta digitalizada con dispositivo móvil':col.Seguimiento==1?'Acta digitalizada con scanner':''}}"
                                   ng-if="(col.ImagenActa!='' && col.ImagenActa!=null)&&col.Seguimiento==1||col.Seguimiento==2"
                                   ng-href="http://localhost:35200/api/consultar?archivo={{col.ImagenActa}}"
                                   target="_blank">
                                    <i class="fa fa-file"></i>
                                    <i class="fa {{col.Seguimiento==2?'fa-mobile-phone':col.Seguimiento==1?'fa-print':col.Seguimiento==0?'fa-file':''}}"></i>
                                </a>
                                <span ng-if="col.Seguimiento==0" title="Actas en proceso"><i class="fa fa-file"></i></span>
                                <span ng-if="!isNumber(col.Seguimiento)">
                                    <i ng-if="col.Seguimiento==null" title="Pendiente" class="fa fa-file color-file"></i>
                                    <span ng-if="col.Seguimiento!=null">{{col.Seguimiento}}</span>
                                </span>
                                Ver Acta
                            </span>
                        </td>                        
                        <td class="text-center" >
                            Total de Votos en la Casilla:
                            <span >
                                <span ng-if="isNumber(col.VT_Calculada)">{{col.VT_Calculada|number}}</span>                                
                                <span class="label label-info" style="background-color:#EDCFCF" ng-if="!isNumber(col.VT_Calculada)">{{col.VT_Calculada}}</span>
                            </span> 
                          </td>                        
                    </tr>
                </tbody>
            </table>
            <hr />
                        <table class="table table-striped table-condensed table-hover">                           
                            <tbody>                                
                                <tr ng-repeat="partido in ctrl.Partidos">
                                    <td style="max-width:150px" class="text-center">
                                        <div ng-if="partido.logo.indexOf('.png') !== -1">
                                            <img ng-src="assets/img/partidos/240/{{partido.logo}}" height="40" />
                                        </div>
                                        <div ng-if="partido.logo.indexOf('.png') === -1">
                                            <strong>{{partido.logo}}</strong>
                                        </div>
                                        <span ng-if="col.Observacion">Observaciones</span>
                                    </td>
                                    <td ng-if="ctrl.casillaSeleccion!=null" ng-repeat="col in ctrl.Actas|filter:ctrl.casillaSeleccion">                                  
                                        <span ng-if="isNumber(col[partido.columna])" style="text-align:center">
                                            {{col[partido.columna]|number}}  <br />
                                            <label class="textoNormal">Votos</label>
                                        </span>
                                        <span class="label label-info" style="background-color:#EDCFCF;color:black" ng-if="!isNumber(col[partido.columna])">
                                            {{col[partido.columna]}}
                                        </span>                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td style="max-width:150px" class="text-center">
                                        Observaciones:
                                    </td>
                                    <td style="max-width:150px" class="text-center">
                                        <span ng-if="ctrl.casillaSeleccion!=null" ng-repeat="col in ctrl.Actas|filter:ctrl.casillaSeleccion" >
                                            <span ng-if="col.Observacion">{{col.Observacion}}</span>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
            <div class="portlet light bordered " >                
                <div class="portlet-body">
                    <div >
                        <table class="table table-bordered table-striped table-condensed table-hover">   
                            <thead ng-if="ctrl.casillaSeleccion==null">
                                <tr>
                                    <td colspan="2">
                                        <strong>Estadística de casilla</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        <strong>Participación ciudadana</strong>                                        
                                    </td>
                                    <td class="text-center">
                                        <strong>Total de lista nominal </strong>
                                    </td>
                                </tr>
                            </thead>                                                      
                            <tbody ng-if="ctrl.casillaSeleccion!=null" ng-repeat="col in ctrl.LtParticipacionCiudadana|filter:ctrl.casillaSeleccion">
                                <tr>
                                    <td colspan="2">
                                        <strong>
                                            Estadística de casilla 
                                            <span ng-if="ctrl.casillaSeleccion!=null">
                                                {{col.SeccionElectoral_Numero}}: {{col.Nombre}}
                                            </span>
                                               
                                        </strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        <strong>Participación ciudadana</strong> <br/>
                                        <span ng-if="ctrl.casillaSeleccion!=null">
                                            {{col.Participacion_Ciudadana|number:4}}
                                            <span ng-if="col.Participacion_Ciudadana!=null">%</span>
                                        </span>
                                    </td>
                                    <td class="text-center">
                                        <strong>Total de lista nominal</strong><br/>
                                        <span ng-if="ctrl.casillaSeleccion!=null">
                                            {{col.TotalListaNominal|number}}
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!--<div data-ng-include="'app/componentes/plantillas/tabla-estadistica-actas-movil.html'"></div>        
        <!--*************************Fin de vista movil**********************************************************-->

        <div class="portlet light bordered visible-lg visible-md visible-sm" ng-if="!ctrl.casilla_especial">
            <div class="portlet-body">
                <div class="form-group">
                    <label class="control-label col-md-12 col-sm-12 col-xs-12"><strong>Sección a consultar:</strong></label>
                    <div class="col-md-6 col-sm-10 col-xs-12">
                        <!--input-xlarge select2me-->
                        <select class="form-control" ng-model="ctrl.pIdSeccion" data-placeholder="Select...">
                            <option ng-repeat="item in ctrl.Secciones" value="{{item.id}}">{{item.Nombre}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <br />
            <br />
        </div>

        <div class="row visible-lg visible-md visible-sm" style="margin-left:15px">
            <div style="float:left;">
                <label> Cantidad de votos en cada una de las casillas de esta Sección, conforme a la información de las Actas PREP.</label>               
            </div>
        </div>
        

            <div class="portlet light bordered visible-lg visible-md visible-sm">
                <div class="portlet-title">
                    <div class="actions">
                        <div>
                            <i class="fa fa-file color-file"></i> Pendiente |
                            <i class="fa fa-file"></i> Actas en proceso |
                            <i class="fa fa-file"></i> <i class="fa fa-print"></i>Acta digitalizada con escáner |
                            <i class="fa fa-file"></i> <i class="fa fa-mobile-phone"></i> Acta digitalizada con dispositivo móvil
                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-condensed table-hover">
                            <thead>
                                <tr>
                                    <td class="text-center" >Casilla</td>
                                    <td class="text-center">Acta Digitalizada</td>
                                    <td class="text-center" ng-repeat="partido in ctrl.Partidos">
                                        <div ng-if="partido.logo.indexOf('.png') !== -1">
                                            <img ng-src="assets/img/partidos/240/{{partido.logo}}" height="40" />
                                        </div>
                                        <div ng-if="partido.logo.indexOf('.png') === -1">
                                           {{partido.logo}}
                                        </div>
                                    </td>
                                    <td class="text-center">Total</td>
                                    <td class="text-center">Observaciones</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="col in ctrl.Actas">
                                    
                                    <td style="min-width:150px">{{col.Casilla_Descripcion}}</td>
                                    <td class="text-center" >
                                        <a  data-toggle="tooltip" style="color:black" data-placement="top" 
                                           title="{{col.Seguimiento==2?'Acta digitalizada con dispositivo móvil':col.Seguimiento==1?'Acta digitalizada con scanner':''}}"
                                         ng-if="(col.ImagenActa!='' && col.ImagenActa!=null)&&col.Seguimiento==1||col.Seguimiento==2" 
                                         ng-href="../assets/img/actas/{{col.ImagenActa}}"
                                         target="_blank">
                                                <i class="fa fa-file"></i>
                                                <i class="fa {{col.Seguimiento==2?'fa-mobile-phone':col.Seguimiento==1?'fa-print':col.Seguimiento==0?'fa-file':''}}"></i>
                                        </a>   
                                        <span ng-if="col.Seguimiento==0" title="Actas en proceso"><i class="fa fa-file"></i></span>
                                        <span ng-if="!isNumber(col.Seguimiento)||col.Seguimiento==null">
                                            <i ng-if="col.Seguimiento==null" title="Pendiente" class="fa fa-file color-file"></i>
                                            <span ng-if="col.Seguimiento!=null">{{col.Seguimiento}}</span>                                            
                                        </span>  
                                    </td>
                                    <td class="text-center" ng-repeat="partido in ctrl.Partidos">    
                                       <span ng-if="isNumber(col[partido.columna])">{{col[partido.columna]|number}}</span>
                                       <span class="label label-info" style="background-color:#EDCFCF;color:black" ng-if="!isNumber(col[partido.columna])">
                                        {{col[partido.columna]}}
                                       </span>
                                    </td>
                                    <td class="text-center">
                                        <span ng-if="isNumber(col.TOTAL_VOTOS_CALCULADO)">{{col.TOTAL_VOTOS_CALCULADO|number}}</span>
                                        <!--#8c034d-->
                                        <span class="label label-info" style="background-color:#EDCFCF;color:black" ng-if="!isNumber(col.TOTAL_VOTOS_CALCULADO)">{{col.TOTAL_VOTOS_CALCULADO}}</span>
                                    </td>
                                    <td class="text-center">
                                        <button class="btn red btn-outline sbold" ng-click="ctrl.item=col" ng-if="col.OBSERVACIONES1!=null" type="button" data-toggle="modal" data-target="#mdlObservaciones">Mostrar</button>
                                        
                                        <!--<ul ng-if="col.Observacion!=null"  ng-bind-html="col.Observacion"> </ul>-->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        <a ng-href="#DescargaBD" class="btn btn-default btn-circle pull-right font-white btn grey-mint visible-lg visible-md visible-sm" type="button" target="_blank"><i class="fa fa-download"></i> Base de datos</a>
        <br class="visible-lg visible-md visible-sm" />
        <br class="visible-lg visible-md visible-sm" />

        <div class="row " style="margin-left:15px">
            <div style="float:left;">
                <label>
                    Último corte <strong>{{ctrl.horaCorte}} horas </strong>
                    (<a href="http://www.cenam.mx/hora_oficial/" target="_blank"> UTC-5</a>)
                </label>
                <label style="margin-bottom:15px;margin-right:5px">Hora local, <strong>{{ctrl.fechaCorte}}</strong> </label>
            </div>
        </div>

            <div class="portlet light bordered visible-lg visible-md visible-sm" ng-if="!ctrl.casilla_especial">
                <div class="portlet-title" >
                    <a ui-sref="ayuda_prepet({id:5})" target="_blank" >
                        <label class="titulo_prin_obs font_size_titulo" style="cursor: pointer"><strong>Participaci&oacute;n ciudadana respecto a las Actas contabilizadas <i class="fa fa-question-circle"></i></strong></label>
                    </a>
               </div>
                <div class="portlet-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-condensed table-hover">
                            <thead>
                                <tr>
                                    <td class="text-center">
                                        <strong>Casilla</strong>
                                    </td>
                                    <td class="text-center">
                                        <strong>Participación ciudadana</strong>
                                    </td>
                                    <td class="text-center">
                                        <strong>Total de lista nominal</strong>
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="col in ctrl.LtParticipacionCiudadana">
                                    <td style="min-width:150px">{{col.Nombre}}</td>
                                    <td class="text-center" ng-class="{tdbg:col.especial===true}" >{{col.Participacion_Ciudadana|number:4}} <span ng-if="col.Participacion_Ciudadana!=null">%</span></td>
                                    <td class="text-center" ng-class="{tdbg:col.especial===true}">{{col.TotalListaNominal|number}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="portlet light bordered visible-lg visible-md visible-sm tasks-widget">
                <div class="portlet-title"><a ui-sref="ayuda_prepet({id:3,acta:2})" target="_blank">
    <label class="titulo_prin_obs font_size_titulo" style="cursor: pointer"><strong>Actas con inconsistencia <i class="fa fa-question-circle"></i></strong></label>
                    </a>
                </div>
                <div class="portlet-body">
                    <div class="task-content">                   

                        <div class="portlet-body" style="border: none; ">
                            <table class="table table-striped  ">
                                <tbody>
                                    <tr>
                                        <td colspan="2" style="background-color:#ddd5d5"><strong>Contabilizadas</strong></td>                                        
                                    </tr>
                                    <tr>
                                        <td><strong>Ilegible</strong></td>
                                        <td><p>La cantidad de votos en el acta de escrutinio y cómputo no puede leerse, tanto en letra como en número.</p></td>
                                    </tr>
                                    <tr>
                                        <td><strong>Sin dato</strong></td>
                                        <td><p>La cantidad de votos no fue asentada en el acta de escrutinio y cómputo.</p></td>
                                    </tr>
                                    <tr>
                                        <td><strong>Identificación por proceso técnico operativo</strong></td>
                                        <td><p>Los datos del acta no se identificaron y se solicitó verificarlos por algún procedimiento válido del proceso técnico operativo.</p></td>
                                    </tr>
                                    <tr >
                                        <td colspan="2" style="background-color:#ddd5d5"><strong>No contabilizadas</strong></td>                                        
                                    </tr>
                                    <tr>
                                        <td><strong>Excede lista nominal</strong></td>
                                        <td>
                                            <p>
                                                Al sumar todos los votos en el Acta PREP, se excede el número de ciudadanos de la Lista Nominal de Electores de la casilla
                                                electoral, incluido el número de votos emitidos por los representantes de partidos políticos y, en su caso, candidaturas
                                                independientes acreditados - sean locales o federales-, motivo por el cual, los votos asentados no se contabilizan y el Acta PREP
                                                se integra al grupo de actas no contabilizadas.
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><strong>Sin acta</strong></td>
                                        <td>
                                            <p>
                                                El acta de escrutinio y cómputo no llegó junto con el paquete electoral al Centro de Acopio y Transmisión de Datos (CATD),
                                                por algunas de las siguientes causas:
                                                <ol>
                                                    <li>No abrió la casilla</li>
                                                    <li>El paquete electoral fue entregado sin el sobre PREP</li>
                                                    <li>El sobre PREP no contenía la copia del acta.</li>
                                                </ol>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><strong>Todos los campos ilegibles</strong></td>
                                        <td><p>Todos los campos del acta PREP correspondientes al número de voto, son ilegibles tanto en letra como en número.</p></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Todos los campos vacíos</strong>
                                            <br />
                                            <br />
                                            <strong>No identificadas - Fuera del catálogo </strong>
                                        </td>
                                        <td><p>Todos los campos del acta PREP correspondientes al número de votos, se encuentran vacíos tanto en letra como en número.</p></td>
                                    </tr>
                                    <tr>
                                        <td><strong>No identificado – Fuera del catálogo </strong></td>
                                        <td><p>No es posible ubicar el acta PREP dentro de la lista de actas de casillas aprobadas al presentar alguna omisión, ilegibilidad o error en sus datos de identificación.</p></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        </div>
                    </div>
            </div>
        </div>
</div>