<!-- BEGIN PRE-FOOTER -->
<div class="page-prefooter">
    <div class="container">
        <div class="row">
           <div class="col-md-12">
               <div style="text-align:center">
                   Los resultados presentados, tienen un car&aacutecter informativo y no son definitivos, por tanto, no tienen efectos jur&iacutedicos.
               </div>
               <div style="text-align:center">
                   Con base en la Ley Federal del Derecho de Autor queda prohibida cualquier modificaci&oacuten al dise&ntildeo de este sitio.
               </div>
               <div style="text-align:center">
                   La modificaci&oacuten y/o destrucci&oacuten de la informaci&oacuten y/o contenido, total o parcial de este sitio, es delito federal de acuerdo al C&oacutedigo Penal Federal.
               </div>
           </div>
            
        </div>
    </div>
</div>
<!-- END PRE-FOOTER -->
<!-- BEGIN POST-FOOTER -->
<div class="page-footer">
    <div class="container" style="text-align:center;font-size:18px">Instituto Electoral y de Participaci&oacuten Ciudadana de Tabasco</div>
</div>
<div class="scroll-to-top">
    <i class="icon-arrow-up"></i>
</div>
<!-- END POST-FOOTER -->