<!-- BEGIN HEADER TOP -->
<div class="page-header-top">
    <div class="container-fluid">
        <!-- BEGIN LOGO -->
            <div class="page-logo visible-lg visible-md visible-sm">
                    <a href="http://iepct.mx/" target="_blank" data-toggle="tooltip" data-placement="top" title="Instituto Electoral y de Participaci&oacute;n Ciudadana de Tabasco">
                        <img src="assets/img/logo-default.gif" height="42" alt="logo" class="logo-default" style="margin-top:10%">                        
                    </a>
            </div>
        <div class="title-center-text visible-lg visible-md visible-sm" >
            <div class="title">Elecciones Estatales de Tabasco</div>
            <div class="subtitle">Programa de Resultados Electorales Preliminares</div>
            <div>
                <a href="assets/AlcanceSimulacro2.pdf" target="_blank" class="btn btn-default btn-circle  font-white btn subTitulo_movil" style="background-color:#99004d" type="button"><i class="fa fa-file-pdf-o"></i> Alcance del Simulacro 2</a> 
            </div>
        </div>
            <div class="visible-lg visible-md visible-sm" style="float:right; padding-left:0px; margin-bottom:1%">
                <a href="" target="_blank" data-toggle="tooltip" data-placement="top"  title="Instituto Electoral y de Participaci&oacute;n Ciudadana de Tabasco">
                    <img src="assets/img/PREPET2018.png" height="57" alt="logo" >
                </a>
            </div>


        
        <!-- END LOGO -->
        <!-- BEGIN RESPONSIVE MENU TOGGLER -->
        <a href="javascript:;"  class="menu-toggler"></a>
        <!-- END RESPONSIVE MENU TOGGLER -->
        <!-- BEGIN TOP NAVIGATION MENU -->
        <!--<div class="top-menu">
            <ul class="nav navbar-nav pull-right">                                  
               
                <li class="dropdown dropdown-extended quick-sidebar-toggler">
                    <span class="sr-only">Toggle Quick Sidebar</span>
                    <i class="icon-logout"></i>
                </li>
               
            </ul>
        </div>-->

        <!-- END TOP NAVIGATION MENU -->
    </div>
</div>
<!-- END HEADER TOP -->
<!-- BEGIN HEADER MENU -->
<div class="page-header-menu">
    <div class="container-fluid">
        <!-- BEGIN HEADER SEARCH BOX -->
        <!--<form class="search-form" action="extra_search.html" method="GET">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" name="query">
                <span class="input-group-btn">
                    <a href="javascript:;" class="btn submit">
                        <i class="icon-magnifier"></i>
                    </a>
                </span>
            </div>
        </form>-->
        <!-- END HEADER SEARCH BOX -->
        <!-- BEGIN MEGA MENU -->
        <!-- DOC: Apply "hor-menu-light" class after the "hor-menu" class below to have a horizontal menu with white background -->
        <!-- DOC: Remove dropdown-menu-hover and data-close-others="true" attributes below to disable the dropdown opening on mouse hover -->
       <div class="hor-menu">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a ui-sref="gob_entidad">
                        <i class="fa fa-home fa-2x" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="menu-dropdown classic-menu-dropdown ">
                    <a data-hover="megamenu-dropdown" data-close-others="true" data-toggle="dropdown" href="javascript:;">Gubernatura<i class="fa fa-angle-down"></i></a>
                    <ul class="dropdown-menu pull-left">
                        <li>
                            <a ui-sref="gob_entidad" id="menu_link_gob_entidad">
                                Entidad
                            </a>
                        </li>
                       <!-- <li>
                            <a ui-sref="gob_detalle_entidad" id="menu_link_gob_detalle">
                                Distrito
                            </a>
                        </li> -->
                        
                        <li>
                            <a ui-sref="gob_distrito" id="menu_link_gob_distritos">
                                Distrito
                            </a>                            
                        </li>
                        
                        <li>
                            <a ui-sref="seccion_distrito({pIdDistrito:0})" id="menu_link_gob_seccion">
                                Secci&oacuten-Casilla
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="menu-dropdown classic-menu-dropdown ">
                    <a data-hover="megamenu-dropdown" data-close-others="true" data-toggle="dropdown" href="javascript:;">
                        Diputaciones
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu  pull-left">
                        <li>
                            <a ui-sref="dip_entidad" id="menu_link_diputados_entidad">
                                Entidad
                            </a>
                        </li>
                        <li>
                            <a ui-sref="dip_detalle_distrito" id="menu_link_diputacion_distrito">
                                Distrito
                            </a>
                        </li>
                       <!-- <li>
                            <a ui-sref="dip_detalle_entidad" id="menu_link_diputacion_detalle">
                                Distrito                                
                            </a>
                        </li>-->
                        
                        <li>
                            <a ui-sref="dip_seccion_distrito" id="menu_link_diputacion_seccion">
                                Secci&oacuten-Casilla
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="menu-dropdown classic-menu-dropdown ">
                    <a data-hover="megamenu-dropdown" data-close-others="true" data-toggle="dropdown" href="javascript:;">
                        Ayuntamientos
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu  pull-left">
                        <li>
                            <a ui-sref="ayuntamiento_entidad" id="menu_link_ayuntamiento_entidad">
                                Entidad
                            </a>
                        </li>                        
                        <!--<li>
                            <a ui-sref="ayuntamiento_detalle" id="menu_link_ayuntamiento_detalle">
                                Detalle del Municipio
                            </a>
                        </li>-->
                        <li class="visible-lg visible-md visible-sm"> 
                            <a ui-sref="ayuntamiento_municipio" id="menu_link_ayuntamiento_municipios">
                                Municipios
                            </a>
                        </li>
                        <li>
                            <a ui-sref="ayuntamiento_desglose_seccion" id="menu_link_ayuntamiento_seccion">
                                Secci&oacuten-Casilla
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="menu-dropdown classic-menu-dropdown" >                    
                    <a ui-sref="ayuda_prepet({id:0,av:0,acta:0})" id="menu_link_ayuda">
                        <i class="fa fa-question-circle fa-lg question-icon-view"></i> Ayuda
                    </a>
                </li>                
            </ul>
        </div>
        <!-- END MEGA MENU -->
    </div>
</div>
<!-- END HEADER MENU -->